<mat-dialog-content>
    <form [formGroup]="AprobarForm">
        <div class="flex flex-col w-100">
            <div class="w-full">
                <mat-form-field class="w-full">
                    <mat-label>Detalle de aprobacion: </mat-label>
                    <textarea class="tamano" matInput formControlName="detalle" rows="4" (keyup)="contarCaracteres($event)" maxlength="500"></textarea>
                    <mat-hint><em>{{contador}} de 500 caracteres</em></mat-hint>
                    <mat-error *ngIf="frm.detalle.errors?.required">
                        Campo requerido.
                    </mat-error>
                    <mat-error *ngIf="frm.detalle.errors?.maxlength">
                        Maximo 500 caracteres.
                    </mat-error>
                    <mat-error *ngIf="frm.detalle.errors?.minlength">
                        Minimo 6 caracteres.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button id="guardar" class="text-white permitir bloquear" [disabled]="AprobarForm.invalid" (click)="actualizarSolicitud(id, tipo, estado, valor, proceso)">Guardar</button>
    <button mat-button id="cancelar" mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
