.columna-1 {
    @media (min-width: 1280px) {
        width: 25%;
    }

    @media (min-width: 1440px) {
        width: 15%;
    }
}

.columna-2 {
    width: 85%;
}

.subcol-1 {
    width: 10%;
}

.m-row {
    margin-top: 2.5%;
}

.max-height {
    max-height: 34rem;
}

button:enabled {
    background-color: #4ABBEC;
}

button:disabled {
    background: #cecfcf;
}

.per-asig:enabled {
    background-color: #bbf7d0
}

.blo-asig:disabled{
    background: #cecfcf;
}

.per-reasig:enabled {
    background-color: #bfdbfe
}

.blo-reasig:disabled{
    background: #cecfcf;
}