.columna-1 {
    @media (min-width: 1280px) {
        width: 25%;
    }

    @media (min-width: 1440px) {
        width: 15%;
    }
}

.columna-2 {
    width: 85%;
}

.subcol-1 {
    width: 10%;
}

.m-row {
    margin-top: 2.5%;
}

.max-height {
    @media (min-width:1280px) {
        max-height: 16.5rem;
    }
    @media (min-width:1440px) {
        max-height: 34rem;
    }
}

// button:enabled {
//     background-color: #4ABBEC;
// }

// button:disabled {
//     background-color: white !important;
//     border-width: 1px !important;
// }

.permitir:enabled {
    background-color: #4ABBEC;
}

.bloquear:disabled {
    background-color: white !important;
    border: 1px solid rgb(212, 212, 212) !important;
}


.per-asig:enabled {
    background-color: #bbf7d0
}

.blo-asig:disabled{
    background-color: white !important;
    border: 1px solid rgb(212, 212, 212) !important;
}

.per-reasig:enabled {
    background-color: #bfdbfe
}

.blo-reasig:disabled{
    background-color: white !important;
    border: 1px solid rgb(212, 212, 212) !important;
}