.columna-1 {
    @media (min-width: 1280px) {
        width: 25%;
    }

    @media (min-width: 1440px) {
        width: 15%;
    }
}

.columna-2 {
    width: 85%;
}

.subcol-1 {
    width: 10%;
}

.m-row {
    margin-top: 2.5%;
}

.max-height {
    max-height: 32rem;
}

button:enabled {
    background-color: #4ABBEC;
}

button:disabled {
    background: #cecfcf;
}