.mat-line {
    white-space: normal !important;
    text-overflow: ellipsis !important;
    position: relative !important;
}

.mat-list-item-content {
    padding: 16px 0 !important;
    margin: 12px 0 !important;
}
