<div class="flex flex-col w-full h-screen overflow-y-auto">


    <div class="w-full flex flex-col">
        <app-header [infoTitulo]="infoTitulo"></app-header>
    </div>

    <mat-drawer-container class="h-full  overflow-auto w-full">


        <mat-drawer mode="over" #drawer position="end" [(opened)]="opened">

            <div class="w-120 min-w-120 pb-30 h-full bg-gray-100 flex overflow-y-auto p-4 flex-col">


            </div>

        </mat-drawer>

        <mat-drawer-content>
            <div class="p-4 w-full gap-4 flex flex-col">

                <mat-accordion class="w-full h-auto gap-4 flex flex-col">

                    <mat-expansion-panel [(expanded)]="openSearch">
                        <mat-expansion-panel-header class="h-14" (opened)="openSearch = true"
                            (closed)="openSearch = false">
                            <mat-panel-title class="h-14">
                                <h5 class="mt-3">{{openSearch? 'Filtros' : tittleFilter }}</h5>
                            </mat-panel-title>
                            <mat-panel-description>

                                <!-- this.tittleFilter -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="w-full h-auto bg-white rounded-md border-2 p-2 flex flex-col">

                            <form [formGroup]="formSearch" (ngSubmit)="searchClient()">
                                <div
                                    class="grid grid-cols-1 sm:flex sm:flex-row sm:flex-wrap w-full sm:gap-3 p-2 items-center">




                                    <mat-form-field class="fuse-mat-dense w-full sm:w-56 -mt-5 sm:mt-0">
                                        <mat-label class="font-semibold text-md">Unidades de negocio</mat-label>
                                        <mat-select formControlName="unidadNegocio">
                                            <!-- <mat-option>Seleccione una unidad</mat-option> -->
                                            <mat-option *ngFor="let item of unidadesNegocio"
                                                [value]="item.id">{{item.descripcion}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field class="fuse-mat-dense w-full sm:w-36  -mt-5 sm:mt-0">
                                        <mat-label class="font-semibold text-md">Período fotos</mat-label>
                                        <mat-select formControlName="periodo">
                                            <!-- <mat-option>Seleccione un periodo</mat-option> -->
                                            <mat-option *ngFor="let item of periodosFotos"
                                                [value]="item.id">{{item.descripcion}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>


                                    <mat-form-field class="fuse-mat-dense w-full sm:w-56  -mt-5 sm:mt-0">
                                        <mat-label class="font-semibold text-md">Estado cartera</mat-label>
                                        <mat-select class="" [formControl]="estadosCartera" multiple>

                                            <mat-option class="pl-10 sm:pl-2" value="alDia">Al día</mat-option>
                                            <mat-option class="pl-10 sm:pl-2" value="porVencer">Por vencer</mat-option>
                                            <mat-option class="pl-10 sm:pl-2" value="vencido">Vencido</mat-option>
                                            <mat-option class="pl-10 sm:pl-2" value="historico">Histórico</mat-option>

                                        </mat-select>
                                    </mat-form-field>

                                    <!-- <mat-form-field class="fuse-mat-dense w-full sm:w-80">
                                        <mat-label class="font-semibold text-md">Estado cartera</mat-label>
                                        <div class="flex-wrap flex flex-row gap-3 py-2 sm:py-0 sm:gap-0 sm:flex-nowrap">
                                            <mat-checkbox formControlName='alDia' matPrefix>Al
                                                dia</mat-checkbox>
                                            <mat-checkbox formControlName='porVencer' matPrefix>Por
                                                vencer</mat-checkbox>
                                            <mat-checkbox formControlName='vencido' matPrefix>Vencido</mat-checkbox>
                                        </div>
        
                                        <input matInput readonly="true" class="w-0 max-w-0">
                                    </mat-form-field> -->

                                    <mat-form-field class="fuse-mat-dense w-full sm:w-44  -mt-5 sm:mt-0">
                                        <mat-label class="font-semibold text-md">Número de documento</mat-label>
                                        <mat-icon matPrefix>search</mat-icon>
                                        <input matInput type="text" autocomplete="off" formControlName="identificacion">
                                    </mat-form-field>

                                    <button color="primary" [disabled]="formSearch.invalid" type="submit"
                                        mat-raised-button class=" mt-1 "><mat-icon>search</mat-icon>Buscar</button>

                                    <!-- <div class="flex flex-col">
                            <mat-label class="font-semibold text-md">Unidades de negocio</mat-label>
                            <div class="flex flex-row gap-2 mt-2">
                                <mat-checkbox>Al dia</mat-checkbox>
                                <mat-checkbox>Por vencer</mat-checkbox>
                                <mat-checkbox>Vencido</mat-checkbox>
        
                            </div>
        
                        </div> -->






                                </div>
                            </form>


                        </div>
                    </mat-expansion-panel>
                </mat-accordion>







                <div *ngIf="!!dataRows.length">
                    <app-table (dataRowSelect)="viewDetail($event)" [dataOptionTable]="optionsTable"
                        [allDataRows]="dataRows"></app-table>
                </div>

                <div class="w-full h-auto" *ngIf="viewMode.tab">
                    <app-modal-tab-detalle-cliente></app-modal-tab-detalle-cliente>

                </div>

                <div class="w-full h-auto" *ngIf="viewMode.display">
                    <app-full-views-details-cliente [allDataTable]="ArrayDataTables"></app-full-views-details-cliente>
                </div>


            </div>

        </mat-drawer-content>



    </mat-drawer-container>
</div>