.filtrado {
    font-size: 10px;
    color: #9aa8bc;
    padding: 7px;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.sombra{
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.062), -2px -2px 15px rgba(0, 0, 0, 0.062);
}