<ng-container>

    <h2 mat-dialog-title>Confirmación de datos OTP</h2>
    <mat-dialog-content class="mat-typography heightResponse">
        <div class="divide-y">
            <div class="w-full  md:h-16 ">
                Se enviará la validación del código OTP a través de mensaje de texto al número
                <strong>{{datosBasicos.get('celular').value}} </strong> y al correo

                <strong> {{datosBasicos.get('email').value}} </strong>
            </div>
        </div>
    </mat-dialog-content>
    <form [formGroup]="datosBasicos">
        <ng-template matStepLabel>Datos basicos</ng-template>
        <div class="bg-white  rounded mt-4 pb-4 grid grid-cols-1  md:grid-cols-2">
            <mat-form-field class="w-full px-3 fuse-mat-dense">
                <mat-label>Celular</mat-label>
                <input matInput type="text" autocomplete="off" formControlName="celular" prefix="+57 "
                    mask="(000) 000 00 00">
                <mat-error *ngIf="datosBasicos.controls.celular.errors?.required">
                    Este campo es requerido.
                </mat-error>
                <mat-error *ngIf="datosBasicos.controls.celular.errors?.pattern">
                    Debe comenzar en 3 y tener 10 digitos
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full px-3 fuse-mat-dense">
                <mat-label>Correo electrónico</mat-label>
                <input formControlName="email" type="email" matInput autocomplete="off" />
                <mat-error *ngIf="datosBasicos.controls.email.errors?.required">
                    Este campo es requerido.
                </mat-error>
                <mat-error *ngIf="datosBasicos.controls.email.errors?.email">
                    Email invalido
                </mat-error>
            </mat-form-field>
        </div>
    </form>
    <mat-dialog-actions class="text-end py-2 flex justify-end gap-2">
        <button mat-button  class="color_fintra text-white" [disabled]="datosBasicos.invalid" (click)="atualizarDatosOTP()">
            Confirmar datos
        </button>
        <button mat-button mat-dialog-close>Cerrar</button>
    </mat-dialog-actions>

</ng-container>
