<div class="bg-white h-full h-screen   overflow-auto  rounded-lg shadow w-full y-100">
    <div class="flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
        <div class="flex flex-col">
            <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-6 px-6 md:px-8 border-b">
                <div class="grow h-14">
                    <h3 class="mb-2 text-gray-900">Gestión de referenciación</h3>
                    <span class="font-semibold text-gray-500">Número solicitud: {{numeroSolicitud}} </span>
                    <span
                        class="mt-7 py-0.5 px-3 rounded-full text-sm font-semibold text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500">
                        {{estado}}
                    </span>
                </div>

                <app-fabrica-opciones></app-fabrica-opciones>

            </div>
        </div>
    </div>
    <div class="flex flex-col flex-auto min-w-0" *ngIf="fabricaDatos">

        <!-- Header -->
        <div class="relative pt-8 pb-28 px-4 sm:px-16 overflow-hidden bg-gray-800 dark">
            <!-- Background - @formatter:off -->
            <!-- Rings -->
            <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%"
                preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
                <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                    <circle r="234" cx="196" cy="23"></circle>
                    <circle r="234" cx="790" cy="491"></circle>
                </g>
            </svg>

        </div>

        <ng-container *ngIf="listado">
            <div class="flex flex-col items-center pb-6 px-6 sm:pb-10 sm:px-10 mb-20">
                <!-- Cards -->
                <div
                    class="-mt-16 grid sm:grid-cols-4 grid-cols-1 gap-y-8 justify-center max-w-sm mb-2 md:gap-x-12 md:grid-cols-4 md:max-w-6xl sm:-mt-24 w-full">
                    <!-- card Titutlar-->
                    <ng-container *ngFor="let titular of listado.referenciaTitulo">
                        <div
                            class="w-full h-auto relative flex flex-col rounded-2xl shadow hover:shadow-lg overflow-hidden bg-card transform transition-shadow ease-in-out duration-150">

                            <div class="flex flex-col flex-auto p-8">

                                <div class="flex flex-wrap">
                                    <span class="text-xl font-semibold w-screen">
                                        Referencia titular
                                    </span>
                                    <span class="mt-2 py-0.5 px-3 rounded-full text-sm font-semibold "
                                        [ngClass]="titular.referenciaValidada!='N'?'text-blue-800 bg-blue-100':'text-red-800 bg-red-100'">
                                        {{titular.referenciaValidada=='N'?'Sin validar':'Validada'}}
                                    </span>
                                </div>

                                <hr class="w-full border-t my-6">

                                <div class="flex flex-col ">
                                    <div class="capitalize">
                                        <mat-icon class="icon-size-3 mr-2" [svgIcon]="'heroicons_solid:user'">
                                        </mat-icon> {{titular.nombreCompleto}}
                                    </div>
                                    <div class="text-secondary text-md truncate" *ngIf="titular.email">
                                        <mat-icon class="icon-size-3 mr-2" [svgIcon]="'heroicons_outline:mail'">
                                        </mat-icon>{{miniscula(titular.email)}}
                                    </div>
                                    <div class="text-secondary text-md" *ngIf="titular.celular">
                                        <mat-icon class="icon-size-3 mr-2" [svgIcon]="'mat_outline:phone_iphone'">
                                        </mat-icon>{{titular.celular}}
                                    </div>
                                    <div class="text-secondary text-md" *ngIf="titular.direccion">
                                        <mat-icon class="icon-size-3 mr-2"
                                            [svgIcon]="'heroicons_solid:location-marker'">
                                        </mat-icon>{{titular.direccion}}
                                    </div>
                                </div>
                            </div>
                            <ng-container *ngIf="fabricaDatos.unidadNegocio=='30'">
                                <div class="bg-green-500 flex items-center justify-center py-4 px-8 text-primary ">
                                    <a class="flex items-center"
                                        [routerLink]="titular.identificacion+'/T/'+titular.tipoId+'/'+titular.tipoDocumento">
                                        <mat-icon class="mr-2 icon-size-8 text-white"
                                            [svgIcon]="'heroicons_solid:phone'">
                                        </mat-icon>
                                        <span class="font-medium">LLamar</span>
                                    </a>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="fabricaDatos.unidadNegocio=='22'">
                                <div class="bg-green-500 flex items-center justify-center py-4 px-8 text-primary ">
                                    <a class="flex items-center"
                                        [routerLink]="titular.identificacion+'/T/'+titular.tipoId+'/'+titular.tipoDocumento">
                                        <mat-icon class="mr-2 icon-size-8 text-white"
                                            [svgIcon]="'heroicons_solid:phone'">
                                        </mat-icon>
                                        <span class="font-medium">LLamar</span>
                                    </a>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="fabricaDatos.unidadNegocio=='32'">
                                <div class="bg-green-500 flex items-center justify-center py-4 px-8 text-primary ">
                                    <a class="flex items-center"
                                        [routerLink]="titular.identificacion+'/T/'+titular.tipoId+'/'+titular.tipoDocumento">
                                        <mat-icon class="mr-2 icon-size-8 text-white"
                                            [svgIcon]="'heroicons_solid:phone'">
                                        </mat-icon>
                                        <span class="font-medium">Llamar </span>
                                    </a>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="fabricaDatos.unidadNegocio=='1'">
                                <div class="bg-green-500 flex items-center justify-center py-4 px-8 text-primary ">
                                    <a class="flex items-center"
                                        [routerLink]="titular.identificacion+'/T/'+titular.tipoId+'/'+titular.tipoDocumento">
                                        <mat-icon class="mr-2 icon-size-8 text-white"
                                            [svgIcon]="'heroicons_solid:phone'">
                                        </mat-icon>
                                        <span class="font-medium">Llamar</span>
                                    </a>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                    <!-- card referenciaLaboral-->
                    <ng-container
                        *ngFor="let laboral of listado.referenciaLaboral | paginate: { itemsPerPage: 1, currentPage: pageFamiliar }">
                        <div
                            class="w-full relative flex flex-col rounded-2xl shadow hover:shadow-lg overflow-hidden bg-card transform transition-shadow ease-in-out duration-150">
                            <div class="flex flex-col flex-auto p-8">
                                <div class="flex flex-wrap">
                                    <span class="text-xl font-semibold w-screen">
                                        Referencia laboral
                                    </span>
                                    <span class="mt-2 py-0.5 px-3 rounded-full text-sm font-semibold "
                                        [ngClass]="laboral.referenciaValidada!='N'?'text-blue-800 bg-blue-100':'text-red-800 bg-red-100'">
                                        {{laboral.referenciaValidada=='N'?'Sin validar':'Validada'}}
                                    </span>
                                </div>
                                <hr class="w-full border-t my-6">
                                <div class="flex flex-col ">
                                    <div class="capitalize">
                                        <mat-icon class="icon-size-3 mr-2" [svgIcon]="'heroicons_solid:user'">
                                        </mat-icon> {{laboral.nombreCompleto}}
                                    </div>
                                    <div class="text-secondary text-md" *ngIf="laboral.telefono">
                                        <mat-icon class="icon-size-3 mr-2" [svgIcon]="'heroicons_solid:phone'">
                                        </mat-icon>{{laboral.telefono}}
                                    </div>
                                    <div class="text-secondary text-md truncate" *ngIf="laboral.email">
                                        <mat-icon class="icon-size-3 mr-2" [svgIcon]="'heroicons_outline:mail'">
                                        </mat-icon>{{miniscula(laboral.email)}}
                                    </div>
                                    <div class="text-secondary text-md capitalize" *ngIf="laboral.direccion">
                                        <mat-icon class="icon-size-3 mr-2"
                                            [svgIcon]="'heroicons_solid:location-marker'">
                                        </mat-icon>{{miniscula(laboral.direccion)}}
                                    </div>
                                </div>
                            </div>
                            <div class="bg-green-500 flex items-center justify-center py-4 px-8 text-primary ">
                                <a class="flex items-center"
                                    [routerLink]="laboral.identificacion+'/L/'+laboral.tipoId+'/'+laboral.tipoDocumento">
                                    <mat-icon class="mr-2 bg-green-500 icon-size-8 text-white"
                                        [svgIcon]="'heroicons_solid:phone'">
                                    </mat-icon>
                                    <span class="font-medium bg-green-500">Llamar</span>
                                </a>
                            </div>
                        </div>
                    </ng-container>
                    <!-- card referenciaPersonal-->
                    <ng-container
                        *ngFor="let personal of listado.referenciaPersonal | paginate: { itemsPerPage: 1, currentPage: page }">
                        <div
                            class="w-full relative flex flex-col rounded-2xl shadow hover:shadow-lg overflow-hidden bg-card transform transition-shadow ease-in-out duration-150">
                            <div class="flex flex-col flex-auto  p-8">
                                <div class="flex flex-wrap">
                                    <span class="text-xl font-semibold w-screen">
                                        Referencia personal
                                    </span>
                                    <span class="mt-2 py-0.5 px-3 rounded-full text-sm font-semibold "
                                        [ngClass]="personal.referenciaValidada!='N'?'text-blue-800 bg-blue-100':'text-red-800 bg-red-100'">
                                        {{personal.referenciaValidada=='N'?'Sin validar':'Validada'}}
                                    </span>
                                </div>
                                <hr class="w-full border-t my-6">
                                <div class="flex flex-col ">
                                    <div class="capitalize">
                                        <mat-icon class="icon-size-3 mr-2" [svgIcon]="'heroicons_solid:user'">
                                        </mat-icon> {{personal.nombreCompleto}}
                                    </div>
                                    <div class="text-secondary text-md" *ngIf="personal.telefono">
                                        <mat-icon class="icon-size-3 mr-2" [svgIcon]="'heroicons_solid:phone'">
                                        </mat-icon>{{personal.telefono}}
                                    </div>
                                    <div class="text-secondary text-md" *ngIf="personal.celular">
                                        <mat-icon class="icon-size-3 mr-2" [svgIcon]="'mat_outline:phone_iphone'">
                                        </mat-icon>{{personal.celular}}
                                    </div>
                                    <div class="text-secondary text-md" *ngIf="personal.direccion">
                                        <mat-icon class="icon-size-3 mr-2"
                                            [svgIcon]="'heroicons_solid:location-marker'">
                                        </mat-icon>{{personal.direccion}}
                                    </div>
                                </div>

                            </div>
                            <ng-container *ngIf="fabricaDatos.unidadNegocio=='22'">
                                <div class="bg-gray-200 flex items-center justify-center py-4 px-8 text-primary ">
                                    <a class="flex items-center"
                                        [routerLink]="personal.identificacion+'/P/'+personal.tipoId+'/'+personal.tipoDocumento">
                                        <mat-icon class="bg-gray-200 mr-2 icon-size-8 text-white"
                                            [svgIcon]="'heroicons_solid:phone'">
                                        </mat-icon>
                                        <span class="bg-gray-200 font-medium">Llamar</span>

                                    </a>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="fabricaDatos.unidadNegocio=='30'">
                                <div class="bg-green-500 flex items-center justify-center py-4 px-8 text-primary ">
                                    <a class="flex items-center"
                                        [routerLink]="personal.identificacion+'/P/'+personal.tipoId+'/'+personal.tipoDocumento">
                                        <mat-icon class=" mr-2 icon-size-8 text-white"
                                            [svgIcon]="'heroicons_solid:phone'">
                                        </mat-icon>
                                        <span class=" font-medium">Llamar</span>

                                    </a>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="fabricaDatos.unidadNegocio=='1'">
                                <div class="bg-green-500 flex items-center justify-center py-4 px-8 text-primary ">
                                    <a class="flex items-center"
                                        [routerLink]="personal.identificacion+'/P/'+personal.tipoId+'/'+personal.tipoDocumento">
                                        <mat-icon class=" mr-2 icon-size-8 text-white"
                                            [svgIcon]="'heroicons_solid:phone'">
                                        </mat-icon>
                                        <span class=" font-medium">Llamar</span>

                                    </a>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="fabricaDatos.unidadNegocio=='32'">
                                <div class="bg-green-500 flex items-center justify-center py-4 px-8 text-primary ">
                                    <a class="flex items-center"
                                        [routerLink]="personal.identificacion+'/P/'+personal.tipoId+'/'+personal.tipoDocumento">
                                        <mat-icon class="mr-2 icon-size-8 text-white"
                                            [svgIcon]="'heroicons_solid:phone'">
                                        </mat-icon>
                                        <span class="font-medium">Llamar</span>

                                    </a>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                    <!-- card referenciaComercial-->
                    <ng-container
                        *ngFor="let comercial of listado.referenciaComercial | paginate: { itemsPerPage: 1, currentPage: pageComercial }">
                        <div
                            class="w-full relative flex flex-col rounded-2xl shadow hover:shadow-lg overflow-hidden bg-card transform transition-shadow ease-in-out duration-150">
                            <div class="flex flex-col flex-auto p-8">
                                <div class="flex flex-wrap">
                                    <span class="text-xl font-semibold w-screen">
                                        Referencia comercial
                                    </span>
                                    <span class="mt-2 py-0.5 px-3 rounded-full text-sm font-semibold "
                                        [ngClass]="comercial.referenciaValidada!='N'?'text-blue-800 bg-blue-100':'text-red-800 bg-red-100'">
                                        {{comercial.referenciaValidada=='N'?'Sin validar':'Validada'}}
                                    </span>
                                </div>
                                <hr class="w-full border-t my-6">
                                <div class="flex flex-col ">
                                    <div class="capitalize">
                                        <mat-icon class="icon-size-3 mr-2" [svgIcon]="'heroicons_solid:user'">
                                        </mat-icon> {{comercial.nombreCompleto}}
                                    </div>
                                    <div class="text-secondary text-md" *ngIf="comercial.telefono">
                                        <mat-icon class="icon-size-3 mr-2" [svgIcon]="'heroicons_solid:phone'">
                                        </mat-icon>{{comercial.telefono}}
                                    </div>
                                    <div class="text-secondary text-md" *ngIf="comercial.celular">
                                        <mat-icon class="icon-size-3 mr-2" [svgIcon]="'mat_outline:phone_iphone'">
                                        </mat-icon>{{comercial.celular}}
                                    </div>
                                    <div class="text-secondary text-md" *ngIf="comercial.direccion">
                                        <mat-icon class="icon-size-3 mr-2"
                                            [svgIcon]="'heroicons_solid:location-marker'">
                                        </mat-icon>{{comercial.direccion}}
                                    </div>
                                </div>
                            </div>
                            <ng-container *ngIf="fabricaDatos.unidadNegocio=='22'">
                                <div class="bg-green-500 flex items-center justify-center py-4 px-8 text-primary ">
                                    <a class="flex items-center"
                                        [routerLink]="comercial.identificacion+'/C/'+comercial.tipoId+'/'+comercial.tipoDocumento">
                                        <mat-icon class="mr-2 icon-size-8 text-white"
                                            [svgIcon]="'heroicons_solid:phone'">
                                        </mat-icon>
                                        <span class="font-medium">Llamar</span>
                                    </a>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="fabricaDatos.unidadNegocio=='30'">
                                <div class="bg-green-500 flex items-center justify-center py-4 px-8 text-primary ">
                                    <a class="flex items-center"
                                        [routerLink]="comercial.identificacion+'/C/'+comercial.tipoId+'/'+comercial.tipoDocumento">
                                        <mat-icon class="mr-2 icon-size-8 text-white"
                                            [svgIcon]="'heroicons_solid:phone'">
                                        </mat-icon>
                                        <span class="font-medium">Llamar</span>
                                    </a>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="fabricaDatos.unidadNegocio=='32'">
                                <div class="bg-green-500 flex items-center justify-center py-4 px-8 text-primary ">
                                    <a class="flex items-center"
                                        [routerLink]="comercial.identificacion+'/C/'+comercial.tipoId+'/'+comercial.tipoDocumento">
                                        <mat-icon class=" 0 mr-2 icon-size-8 text-white"
                                            [svgIcon]="'heroicons_solid:phone'">
                                        </mat-icon>
                                        <span class="font-medium ">Llamar</span>
                                    </a>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                    <ng-container
                        *ngFor="let codeudor of listado.referenciaComercialTitular | paginate: { itemsPerPage: 1, currentPage: pageFamiliar }">
                        <div
                            class="w-full relative flex flex-col rounded-2xl shadow hover:shadow-lg overflow-hidden bg-card transform transition-shadow ease-in-out duration-150">
                            <div class="flex flex-col flex-auto p-8">
                                <div class="flex flex-wrap">
                                    <span class="text-xl font-semibold w-screen">
                                        Comercial titular
                                    </span>
                                    <span class="mt-2 py-0.5 px-3 rounded-full text-sm font-semibold "
                                        [ngClass]="codeudor.referenciaValidada!='N'?'text-blue-800 bg-blue-100':'text-red-800 bg-red-100'">
                                        {{codeudor.referenciaValidada=='N'?'Sin validar':'Validada'}}
                                    </span>
                                </div>
                                <hr class="w-full border-t my-6">
                                <div class="flex flex-col ">
                                    <div class="capitalize">
                                        <mat-icon class="icon-size-3 mr-2" [svgIcon]="'heroicons_solid:user'">
                                        </mat-icon> {{codeudor.nombreCompleto}}
                                    </div>
                                    <div class="text-secondary text-md" *ngIf="codeudor.telefono">
                                        <mat-icon class="icon-size-3 mr-2" [svgIcon]="'heroicons_solid:phone'">
                                        </mat-icon>{{codeudor.telefono}}
                                    </div>
                                    <div class="text-secondary text-md" *ngIf="codeudor.celular">
                                        <mat-icon class="icon-size-3 mr-2" [svgIcon]="'mat_outline:phone_iphone'">
                                        </mat-icon>{{codeudor.celular}}
                                    </div>
                                    <div class="text-secondary text-md" *ngIf="codeudor.direccion">
                                        <mat-icon class="icon-size-3 mr-2"
                                            [svgIcon]="'heroicons_solid:location-marker'">
                                        </mat-icon>{{codeudor.direccion}}
                                    </div>
                                </div>
                            </div>

                            <ng-container *ngIf="fabricaDatos.unidadNegocio=='1'">
                                <div class="bg-green-500 flex items-center justify-center py-4 px-8 text-primary ">
                                    <a class="flex items-center"
                                        [routerLink]="codeudor.identificacion+'/'+codeudor.tipoId+'/'+codeudor.tipoTercero+'/'+codeudor.tipoDocumento">
                                        <mat-icon class="mr-2 icon-size-8 text-white"
                                            [svgIcon]="'heroicons_solid:phone'">
                                        </mat-icon>
                                        <span class="font-medium">Llamar</span>
                                    </a>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                    <!-- card referenciaFamiliar-->
                    <ng-container
                        *ngFor="let familiar of listado.referenciaFamiliar | paginate: { itemsPerPage: 1, currentPage: pageFamiliar }">
                        <div
                            class="w-full relative flex flex-col rounded-2xl shadow hover:shadow-lg overflow-hidden bg-card transform transition-shadow ease-in-out duration-150">
                            <div class="flex flex-col flex-auto p-8">
                                <div class="flex flex-wrap">
                                    <span class="text-xl font-semibold w-screen">
                                        Referencia familiar
                                    </span>
                                    <span class="mt-2 py-0.5 px-3 rounded-full text-sm font-semibold "
                                        [ngClass]="familiar.referenciaValidada!='N'?'text-blue-800 bg-blue-100':'text-red-800 bg-red-100'">
                                        {{familiar.referenciaValidada=='N'?'Sin validar':'Validada'}}
                                    </span>
                                </div>
                                <hr class="w-full border-t my-6">
                                <div class="flex flex-col ">
                                    <div class="capitalize">
                                        <mat-icon class="icon-size-3 mr-2" [svgIcon]="'heroicons_solid:user'">
                                        </mat-icon> {{familiar.nombreCompleto}}
                                    </div>
                                    <div class="text-secondary text-md" *ngIf="familiar.telefono">
                                        <mat-icon class="icon-size-3 mr-2" [svgIcon]="'heroicons_solid:phone'">
                                        </mat-icon>{{familiar.telefono}}
                                    </div>
                                    <div class="text-secondary text-md" *ngIf="familiar.celular">
                                        <mat-icon class="icon-size-3 mr-2" [svgIcon]="'mat_outline:phone_iphone'">
                                        </mat-icon>{{familiar.celular}}
                                    </div>
                                    <div class="text-secondary text-md" *ngIf="familiar.direccion">
                                        <mat-icon class="icon-size-3 mr-2"
                                            [svgIcon]="'heroicons_solid:location-marker'">
                                        </mat-icon>{{familiar.direccion}}
                                    </div>
                                </div>
                            </div>

                            <ng-container *ngIf="fabricaDatos.unidadNegocio=='30'">
                                <div class="bg-green-500 flex items-center justify-center py-4 px-8 text-primary ">
                                    <a class="flex items-center"
                                        [routerLink]="familiar.identificacion+'/F/'+familiar.tipoId+'/'+familiar.tipoDocumento">
                                        <mat-icon class="mr-2 icon-size-8 text-white"
                                            [svgIcon]="'heroicons_solid:phone'">
                                        </mat-icon>
                                        <span class="font-medium">Llamar</span>
                                    </a>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="fabricaDatos.unidadNegocio=='1'">
                                <div class="bg-green-500 flex items-center justify-center py-4 px-8 text-primary ">
                                    <a class="flex items-center"
                                        [routerLink]="familiar.identificacion+'/'+familiar.tipoId+'/'+familiar.tipoTercero+'/'+familiar.tipoDocumento">
                                        <mat-icon class="mr-2 icon-size-8 text-white"
                                            [svgIcon]="'heroicons_solid:phone'">
                                        </mat-icon>
                                        <span class="font-medium">Llamar</span>
                                    </a>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>

                </div>
                <div *ngIf="listado.referenciaCodeudor?.length || listado?.referenciaFamiliarCodeudor.length || listado?.referenciaPersonalCodeudor.length || listado?.referenciaComercialCodeudor.length" class="text-xl font-semibold text-center py-1 bg-gray-200 w-full min-h-10 leading-4 mb-4 mt-3 rounded-lg" style="line-height: 40px !important;">
                    Codeudor </div>
                <div
                    class=" grid sm:grid-cols-4 grid-cols-1 gap-y-8 justify-center max-w-sm mb-2 md:gap-x-12 md:grid-cols-4 md:max-w-6xl w-full mt-10">
                    
                <ng-container
                    *ngFor="let codeudor of listado.referenciaCodeudor | paginate: { itemsPerPage: 1, currentPage: pageFamiliar }">
                    <div
                        class="w-full relative flex flex-col rounded-2xl shadow hover:shadow-lg overflow-hidden bg-card transform transition-shadow ease-in-out duration-150">
                        
                        <div class="flex flex-col flex-auto p-8">
                            <div class="flex flex-wrap">
                                <span class="text-xl font-semibold w-screen">
                                    Referencia codeudor
                                </span>
                                <span class="mt-2 py-0.5 px-3 rounded-full text-sm font-semibold "
                                    [ngClass]="codeudor.referenciaValidada!='N'?'text-blue-800 bg-blue-100':'text-red-800 bg-red-100'">
                                    {{codeudor.referenciaValidada=='N'?'Sin validar':'Validada'}}
                                </span>
                            </div>
                            <hr class="w-full border-t my-6">
                            <div class="flex flex-col ">
                                <div class="capitalize">
                                    <mat-icon class="icon-size-3 mr-2" [svgIcon]="'heroicons_solid:user'">
                                    </mat-icon> {{codeudor.nombreCompleto}}
                                </div>
                                <div class="text-secondary text-md" *ngIf="codeudor.telefono">
                                    <mat-icon class="icon-size-3 mr-2" [svgIcon]="'heroicons_solid:phone'">
                                    </mat-icon>{{codeudor.telefono}}
                                </div>
                                <div class="text-secondary text-md" *ngIf="codeudor.celular">
                                    <mat-icon class="icon-size-3 mr-2" [svgIcon]="'mat_outline:phone_iphone'">
                                    </mat-icon>{{codeudor.celular}}
                                </div>
                                <div class="text-secondary text-md" *ngIf="codeudor.direccion">
                                    <mat-icon class="icon-size-3 mr-2" [svgIcon]="'heroicons_solid:location-marker'">
                                    </mat-icon>{{codeudor.direccion}}
                                </div>
                            </div>
                        </div>

                        <ng-container *ngIf="fabricaDatos.unidadNegocio=='1'">
                            <div class="bg-green-500 flex items-center justify-center py-4 px-8 text-primary ">
                                <a class="flex items-center"
                                    [routerLink]="codeudor.identificacion+'/'+codeudor.tipoId+'/'+codeudor.tipoTercero+'/'+codeudor.tipoDocumento">
                                    <mat-icon class="mr-2 icon-size-8 text-white" [svgIcon]="'heroicons_solid:phone'">
                                    </mat-icon>
                                    <span class="font-medium">Llamar</span>
                                </a>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            

                <ng-container *ngFor="let codeudorFamiliar of listado.referenciaFamiliarCodeudor
                | paginate: { itemsPerPage: 1, currentPage: pageFamiliar }">
                    <div
                        class="w-full relative flex flex-col rounded-2xl shadow hover:shadow-lg overflow-hidden bg-card transform transition-shadow ease-in-out duration-150">
                        <div class="flex flex-col flex-auto p-8">
                            <div class="flex flex-wrap">
                                <span class="text-xl font-semibold w-screen">
                                    Referencia familiar codeudor
                                </span>
                                <span class="mt-2 py-0.5 px-3 rounded-full text-sm font-semibold "
                                    [ngClass]="codeudorFamiliar.referenciaValidada!='N'?'text-blue-800 bg-blue-100':'text-red-800 bg-red-100'">
                                    {{codeudorFamiliar.referenciaValidada=='N'?'Sin validar':'Validada'}}
                                </span>
                            </div>
                            <hr class="w-full border-t my-6">
                            <div class="flex flex-col ">
                                <div class="capitalize">
                                    <mat-icon class="icon-size-3 mr-2" [svgIcon]="'heroicons_solid:user'">
                                    </mat-icon> {{codeudorFamiliar.nombreCompleto}}
                                </div>
                                <div class="text-secondary text-md" *ngIf="codeudorFamiliar.telefono">
                                    <mat-icon class="icon-size-3 mr-2" [svgIcon]="'heroicons_solid:phone'">
                                    </mat-icon>{{codeudorFamiliar.telefono}}
                                </div>
                                <div class="text-secondary text-md" *ngIf="codeudorFamiliar.celular">
                                    <mat-icon class="icon-size-3 mr-2" [svgIcon]="'mat_outline:phone_iphone'">
                                    </mat-icon>{{codeudorFamiliar.celular}}
                                </div>
                                <div class="text-secondary text-md" *ngIf="codeudorFamiliar.direccion">
                                    <mat-icon class="icon-size-3 mr-2" [svgIcon]="'heroicons_solid:location-marker'">
                                    </mat-icon>{{codeudorFamiliar.direccion}}
                                </div>
                            </div>
                        </div>

                        <ng-container *ngIf="fabricaDatos.unidadNegocio=='1'">
                            <div class="bg-green-500 flex items-center justify-center py-4 px-8 text-primary ">
                                <a class="flex items-center"
                                    [routerLink]="codeudorFamiliar.identificacion+'/'+codeudorFamiliar.tipoId+'/'+codeudorFamiliar.tipoTercero+'/'+codeudorFamiliar.tipoDocumento">
                                    <mat-icon class="mr-2 icon-size-8 text-white" [svgIcon]="'heroicons_solid:phone'">
                                    </mat-icon>
                                    <span class="font-medium">Llamar</span>
                                </a>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
                <ng-container *ngFor="let codeudorPersonal of listado.referenciaPersonalCodeudor
                    | paginate: { itemsPerPage: 1, currentPage: pageFamiliar }">
                    <div
                        class="w-full relative flex flex-col rounded-2xl shadow hover:shadow-lg overflow-hidden bg-card transform transition-shadow ease-in-out duration-150">
                        <div class="flex flex-col flex-auto p-8">
                            <div class="flex flex-wrap">
                                <span class="text-xl font-semibold w-screen">
                                    Referencia personal codeudor
                                </span>
                                <span class="mt-2 py-0.5 px-3 rounded-full text-sm font-semibold "
                                    [ngClass]="codeudorPersonal.referenciaValidada!='N'?'text-blue-800 bg-blue-100':'text-red-800 bg-red-100'">
                                    {{codeudorPersonal.referenciaValidada=='N'?'Sin validar':'Validada'}}
                                </span>
                            </div>
                            <hr class="w-full border-t my-6">
                            <div class="flex flex-col ">
                                <div class="capitalize">
                                    <mat-icon class="icon-size-3 mr-2" [svgIcon]="'heroicons_solid:user'">
                                    </mat-icon> {{codeudorPersonal.nombreCompleto}}
                                </div>
                                <div class="text-secondary text-md" *ngIf="codeudorPersonal.telefono">
                                    <mat-icon class="icon-size-3 mr-2" [svgIcon]="'heroicons_solid:phone'">
                                    </mat-icon>{{codeudorPersonal.telefono}}
                                </div>
                                <div class="text-secondary text-md" *ngIf="codeudorPersonal.celular">
                                    <mat-icon class="icon-size-3 mr-2" [svgIcon]="'mat_outline:phone_iphone'">
                                    </mat-icon>{{codeudorPersonal.celular}}
                                </div>
                                <div class="text-secondary text-md" *ngIf="codeudorPersonal.direccion">
                                    <mat-icon class="icon-size-3 mr-2" [svgIcon]="'heroicons_solid:location-marker'">
                                    </mat-icon>{{codeudorPersonal.direccion}}
                                </div>
                            </div>
                        </div>

                        <ng-container *ngIf="fabricaDatos.unidadNegocio=='1'">
                            <div class="bg-green-500 flex items-center justify-center py-4 px-8 text-primary ">
                                <a class="flex items-center"
                                    [routerLink]="codeudorPersonal.identificacion+'/'+codeudorPersonal.tipoId+'/'+codeudorPersonal.tipoTercero+'/'+codeudorPersonal.tipoDocumento">
                                    <mat-icon class="mr-2 icon-size-8 text-white" [svgIcon]="'heroicons_solid:phone'">
                                    </mat-icon>
                                    <span class="font-medium">Llamar</span>
                                </a>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>

                <ng-container *ngFor="let comercialCodeudor of listado.referenciaComercialCodeudor
                    | paginate: { itemsPerPage: 1, currentPage: pageFamiliar }">
                    <div
                        class="w-full relative flex flex-col rounded-2xl shadow hover:shadow-lg overflow-hidden bg-card transform transition-shadow ease-in-out duration-150">
                        <div class="flex flex-col flex-auto p-8">
                            <div class="flex flex-wrap">
                                <span class="text-xl font-semibold w-screen">
                                    Referencia comercial codeudor
                                </span>
                                <span class="mt-2 py-0.5 px-3 rounded-full text-sm font-semibold "
                                    [ngClass]="comercialCodeudor.referenciaValidada!='N'?'text-blue-800 bg-blue-100':'text-red-800 bg-red-100'">
                                    {{comercialCodeudor.referenciaValidada=='N'?'Sin validar':'Validada'}}
                                </span>
                            </div>
                            <hr class="w-full border-t my-6">
                            <div class="flex flex-col ">
                                <div class="capitalize">
                                    <mat-icon class="icon-size-3 mr-2" [svgIcon]="'heroicons_solid:user'">
                                    </mat-icon> {{comercialCodeudor.nombreCompleto}}
                                </div>
                                <div class="text-secondary text-md" *ngIf="comercialCodeudor.telefono">
                                    <mat-icon class="icon-size-3 mr-2" [svgIcon]="'heroicons_solid:phone'">
                                    </mat-icon>{{comercialCodeudor.telefono}}
                                </div>
                                <div class="text-secondary text-md" *ngIf="comercialCodeudor.celular">
                                    <mat-icon class="icon-size-3 mr-2" [svgIcon]="'mat_outline:phone_iphone'">
                                    </mat-icon>{{comercialCodeudor.celular}}
                                </div>
                                <div class="text-secondary text-md" *ngIf="comercialCodeudor.direccion">
                                    <mat-icon class="icon-size-3 mr-2" [svgIcon]="'heroicons_solid:location-marker'">
                                    </mat-icon>{{comercialCodeudor.direccion}}
                                </div>

                            </div>

                        </div>
                        <ng-container *ngIf="fabricaDatos.unidadNegocio=='1'">
                            <div class="bg-green-500 flex items-center justify-center py-4 px-8 text-primary ">
                                <a class="flex items-center"
                                    [routerLink]="comercialCodeudor.identificacion+'/'+comercialCodeudor.tipoId+'/'+comercialCodeudor.tipoTercero+'/'+comercialCodeudor.tipoDocumento">
                                    <mat-icon class="mr-2 icon-size-8 text-white" [svgIcon]="'heroicons_solid:phone'">
                                    </mat-icon>
                                    <span class="font-medium">Llamar</span>
                                </a>
                            </div>
                        </ng-container>

                    </div>
                </ng-container>
            </div>
            </div>

        </ng-container>
    </div>

</div>