<div class="py-2 px-3 h-screen w-screen bg-white rounded-lg overflow-x-auto">

    <app-header [infoTitulo]="infoTitulo"></app-header>

    <!-- <div class="grid grid-cols-12 w-100 mb-2">
        <h2 class="text-gray-900 col-span-12 mb-4">Reporte de envío de ciclos de pagos</h2>
    </div> -->

    <!-- <div class="flex items-center justify-between my-10">
        <form [formGroup]="filtroBusqueda"> -->
    <!-- <mat-form-field class="w-3/4 sm:w-2/4 md:w-2/5">
                <mat-label>Fecha Inicial</mat-label>
                <input matInput [min]="minFecha" [max]="maxFecha" [matDatepicker]="picker1"
                    formControlName="fechaInicial" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1 disabled="false"></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="w-3/4 sm:w-2/4 md:w-2/5">
                <mat-label>Fecha Final</mat-label>
                <input matInput [min]="minFecha" [max]="maxFecha" [matDatepicker]="picker2" formControlName="fechaFinal"
                    readonly>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 disabled="false"></mat-datepicker>
            </mat-form-field> -->

    <!-- 
            <div class="flex border-2 p-2 cursor-pointer w-52" (click)="picker.open()">
                <div color="accent">
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate formControlName="fechaInicial" placeholder="Fecha Inicial" />
                        <input matEndDate formControlName="fechaFinal" placeholder="Fecha Final" />
                    </mat-date-range-input>
                    <mat-date-range-picker #picker>
                        <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>
                                {{ "Cancelar" }}
                            </button>
                            <button mat-raised-button [color]="'accent'" matDatepickerApply>
                                {{ "search" }}
                            </button>
                        </mat-datepicker-actions>
                    </mat-date-range-picker>
                </div>
                <mat-icon class="icon-size-5" matSuffix svgIcon="feather:calendar">
                </mat-icon>
            </div> -->

    <!-- </form>
    </div> -->
    <div class="w-full flex flex-col sm:flex-row justify-between gap-4 ">


        <div class="flex flex-row ">

            <div class="border-2 rounded-full  pr-4 pt-2 pb-2 pl-2 items-center w-full sm:w-60">
                <mat-select (selectionChange)="SelectLote($event)" class="w-full pl-4">



                    <mat-option value="0">Borrar filtro</mat-option>

                    <mat-option [value]="item.lote" *ngFor="let item of selectLotes">{{item.lote}}</mat-option>

                </mat-select>

            </div>




        </div>


        <div class="flex flex-row gap-4 items-center w-full sm:w-auto">
            <button matTooltip="Exportar" mat-icon-button class="bg-green-500 text-white flex flex-row"
                (click)="exportAsXLSX()">
                <div class="flex flex-row gap-1.5 w-full items-center" matPrefix>

                    <mat-icon svgIcon="heroicons_outline:document-download" class="text-white"></mat-icon>

                    <!-- <div class="margin-button">
                    Exportar
                </div> -->
                </div>
            </button>


            <div class="w-full sm:w-60 rounded-full border-2 flex flex-row p-2 justify-between mr-2">
                <input #searchinput type="text" placeholder="Filtrar..." (keyup)="search(searchinput.value)"
                    class="ml-1 w-full not-uppercase">
                <mat-icon>search</mat-icon>
            </div>


        </div>




    </div>

    <div class="mt-4 mb-60 max-h-120">
        <app-table [allDataRows]="datos" [dataOptionTable]="dataOptionTable"></app-table>
    </div>
    <!-- 
    <div class="w-full mt-4 border-2 bg-fintra-gray rounded-2xl flex justify-start p-4">

        <button mat-button class="bg-green-500 text-white" (click)="exportAsXLSX()">
            <div class="flex flex-row gap-1.5 w-full items-center" matPrefix>
                <div>
                    <mat-icon svgIcon="heroicons_outline:document-download" class="text-white"></mat-icon>
                </div>
                <div class="margin-button">
                    Exportar
                </div>
            </div>
        </button>

    </div> -->

    <!-- <div class="h-80 xl:h-140 w-full shadow overflow-y-scroll overflow-x-scroll lg:overflow-x-hidden"
        *ngIf="element == true">
        <table>
            <thead class="bg-gray-100">
                <tr class="text-lg font-semibold tracking-wide text-left text-gray-400 border-b border-gray-600 arriba">
                    <th class="px-3 py-3 text-center">Identificación</th>
                    <th class="px-3 py-3 text-center">Nombres</th>
                    <th class="px-2 py-3 text-center">Código Negocio</th>
                    <th class="px-2 py-3 text-center ">Fecha Pago</th>
                    <th class="px-3 py-3 text-center">Valor Cuota</th>
                    <th class="px-4 py-3 text-center">Referencia Pago</th>
                    <th class="px-2 py-3 text-center">Estado</th>
                    <th class="px-2 py-3 text-center">Fecha</th>
                </tr>
            </thead>
            <tbody class="bg-white">
                <tr class="text-gray-700"
                    *ngFor="let item of datos | filter:filtrarTabla.value | paginate: { itemsPerPage: tamanoTabl.value, currentPage: page }">
                    <td class="text-sm border text-center">{{item.identificacion}}</td>
                    <td class="text-md border text-center py-3">{{item.nombre}}</td>
                    <td class="text-md border text-center py-3">{{item.codigoNegocio}}</td>
                    <td class="text-md border text-center py-3">{{item.fechaPago}}</td>
                    <td class="text-md border text-center py-3">{{item.valorCuota}}</td>
                    <td class="text-md border text-center py-3">{{item.referenciaPago}}</td>
                    <td class="text-md border text-center py-3">{{item.estado}}</td>
                    <td class="text-md border text-center py-3">{{item.fechaCreacion}}</td>
                </tr>
            </tbody>
        </table>
    </div> -->
</div>