hr {
    border: 1px solid;
  }

  .hover_fintra{
    background:#3e9dc5;
  }

.permitir:enabled {
  background-color: #4ABBEC
}

.bloquear:disabled{
  background: #cecfcf;
}

.reactivar {
  background: #95dfff;
}
  