<div class="card py-2 px-3 w-100 shadow bg-white m-4 rounded-lg">
    <div class="grid grid-cols-12 w-100 mb-2">
        <h2 class="text-gray-900 col-span-12 mb-4">Gestion de solicitudes</h2>
    </div>

    <form [formGroup]="solicitudForm">

        <div class="flex flex-row w-100 justify-start gap-4">
            <div>
                <p class="text-xl font-medium">Tipo: </p>
            </div>
            <div class="flex flex-row w-1/2 xl:w-1/5 justify-between">
    
                <div>

                    <mat-radio-group class="flex flex-row gap-4 justify-between" formControlName="tipo">
                        <mat-radio-button value="RL">Referencia laboral</mat-radio-button>
                        <mat-radio-button value="CP">Capacidad de pago</mat-radio-button>
                    </mat-radio-group>
    
                </div>
                
                <div class="mr-5 xl:ml-8">
                    <button mat-button class="bg-accent text-white">Buscar</button>
                </div>
            </div>
            
        </div>

        <hr class="w-full">

        <div class="inline-flex w-full justify-between">

            <div class="flex flex-row justify-between w-1/3 xl:w-1/4">
                <button mat-button class="color_fintra text-white w-30" (click)="pendiente('P')" [disabled]="estado=='P'">
                    Pendiente
                </button>
                <button mat-button class="color_fintra text-white w-30" (click)="aprobada('A')" [disabled]="estado=='A'">
                    Aprobada
                </button>
                <button mat-button class="color_fintra text-white w-30" (click)="rechazada('R')" [disabled]="estado=='R'">
                    Rechazada
                </button>
            </div>
            
            <div>
                <input
                    class="border rounded p-2 bg-gray-100"
                    style="font-size: 10px; margin-right: 1em"
                    type="text"
                    autocomplete="off"
                    name="filtrarTabla"
                    placeholder="Filtrar..." />
            </div>
        </div>

        <div class="mt-4 h-60 xl:overflow-x-scroll overflow-y-scroll sm:h-80 xl:h-160">
            <table class="w-full shadow p-1">
                <thead style="background-color: #F9FAFB;">
                    <tr
                        class=" text-md font-semibold
                            tracking-wide text-left text-gray-400
                            capitalize border-b border-gray-600">
                        <th class="px-4 py-3 text-center">N°de identificacion</th>
                        <th class="px-4 py-3 text-center">Nombres</th>
                        <th class="px-4 py-3 text-center">Apellidos</th>
                        <th class="px-4 py-3 text-center">#de solicitud</th>
                        <th class="px-4 py-3 text-center">Fecha de solicitud</th>
                        <th class="px-4 py-3 text-center">Monto</th>
                        <th class="px-4 py-3 text-center">Plazo(meses)</th>
                        <th class="px-4 py-3 text-center">Valor cuota</th>
                        <th class="px-4 py-3 text-center">Destino</th>
                        <th class="px-4 py-3 text-center" *ngIf="estado=='P'">Anexo</th>
                        <th class="px-4 py-3 text-center" *ngIf="estado=='R'">Fecha de rechazo</th>
                        <th class="px-4 py-3 text-center">Accion</th>
                        <th class="px-4 py-3 text-center" *ngIf="estado=='A'">Fecha de aprobacion</th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    <tr class="text-gray-700" *ngFor="let item of solicitudes">
                        <td class="px-2 py-2 text-sm border text-center">{{item.identificacion}}</td>
                        <td class="px-2 py-2 text-sm border text-center">{{item.nombres}}</td>
                        <td class="px-2 py-2 text-sm border text-center">{{item.apellidos}}</td>
                        <td class="px-2 py-2 text-sm border text-center">{{item.numero_solicitud}}</td>
                        <td class="px-2 py-2 text-sm border text-center">{{item.fecha_solicitud}}</td>
                        <td class="px-2 py-2 text-sm border text-center">{{item.monto}}</td>
                        <td class="px-2 py-2 text-sm border text-center">{{item.plazo}}</td>
                        <td class="px-2 py-2 text-sm border text-center" matTooltip="El
                        valor de la cuota es estimado de acuerdo a las condiciones actuales del crédito" 
                            [matTooltipPosition]="posicion">
                            {{item.valor_cuota | currency}}
                        </td>
                        <td class="px-2 py-2 text-sm border text-center">{{item.destino}}</td>
                        <td class="px-2 py-2 text-sm border text-center" *ngIf="estado=='P'">
                            <div *ngIf="item.destino!='SANEAMIENTO FINANCIERO' && item.destino!='COMPRA DE CARTERA'">
                                <a class="cursor-pointer"><mat-icon [svgIcon]="'heroicons_outline:document-download'"></mat-icon></a>
                            </div>
                            <div *ngIf="item.destino=='SANEAMIENTO FINANCIERO' || item.destino=='COMPRA DE CARTERA'">
                                <a (click)="AbrirObligaciones()" class="cursor-pointer">Ver</a>
                            </div>
                            
                        </td>
                        <td class="px-2 py-2 text-sm border text-center" *ngIf="estado=='P'">
    
                            <div class="flex flex-row w-1/2 gap-3 justify-between">
                                <div>
                                    <button mat-raised-button class="bg-green-400"  (click)="AprobarReferenciaLaboral()">
                                        <mat-icon>check</mat-icon>
                                    </button>
                                </div>
    
                                <div>
                                    <button mat-raised-button class="bg-red-400" (click)="RechazarReferenciaLaboral()">
                                        <mat-icon [svgIcon]="'heroicons_solid:x'"></mat-icon>
                                    </button>
                                </div>
                            </div>

                            <!-- <mat-icon *ngIf="estado=='A' || estado=='R' " svgIcon="thumbs-up" (click)="AbrirReactivar()"></mat-icon> -->
    
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </form>

</div>