
.bg-yellowCustom{
    background-color: rgb(255, 158, 0);
    padding: 2px 6px !important;
}

.unidadWidth{
    min-width: 106px !important;
    font-size: 9px !important;

    padding: 2px 2px !important;
}

.maxWidthUnidadNegocio{
    max-width: 140px !important;
}
