<div class=" bg-white h-screen overflow-auto px-3 py-2 rounded-lg shadow w-full">
    <div class="flex flex-row justify-between h-3/4">
        <div class="flex items-center justify-center w-full">
            <div>
                <h2 class="mb-2 text-blue-400 text-9xl">Bienvenido</h2>
            </div>
            
        </div>
        <div class="flex items-center justify-center w-full">
            <div>
                <img src="assets\images\dashboard\img_welcome.svg" class="h-90">
            </div>
            
        </div>
    </div>
</div>


