<div class="flex flex-col">
    <div aria-haspopup="true" matripple=""
        class="z-10 marginAccordion mat-ripple mat-menu-trigger relative flex self-start pt-2 pb-1 pl-5 pr-4 cursor-pointer overflow-hidden rounded-t-xl bg-default">
        <div class="flex items-center">
            <div class="overflow-hidden">
                <div class="font-medium leading-6 truncate">Totales</div>
            </div>
            <div class="flex items-center justify-center pl-2" *ngIf="mostrarTotales" (click)="cambiarEstado(false)">
                <mat-icon svgIcon="heroicons_solid:chevron-down"></mat-icon>
            </div>

            <div class="items-center justify-center pl-2" *ngIf="!mostrarTotales" (click)="cambiarEstado(true)">
                <mat-icon svgIcon="heroicons_solid:chevron-right"></mat-icon>
            </div>

            <ng-container *ngFor="let item of totales">
                <div class="sm:grid hidden mr-3 items-center justify-center pl-2" *ngIf="!mostrarTotales"
                    (click)="cambiarEstado(false)">
                    <mat-icon class="icon-size-4" [ngStyle]="{ color: item.color }" [svgIcon]="'radio_button_checked'">
                    </mat-icon>
                    {{ item.nombre_unidad_negocio }}:
                    {{
                    item.cantidad_solicitud < 10 ? "0" + item.cantidad_solicitud : item.cantidad_solicitud }} / {{
                        item.cantidad_devolucion }} </div>
            </ng-container>
        </div>
    </div>
    <!-- <div class="grid-cols-1 px-5 flex w-full justify-end mt-2">
        <div class="flex gap-3">
            <mat-icon (click)="previousTotalesSlider()"
                class="text-white p-2 arrowColor rounded-full icon-size-10 cursor-pointer"
                svgIcon="heroicons_outline:chevron-left"></mat-icon>
            <mat-icon (click)="nextTotalesSlider()"
                class="text-white p-2 arrowColor rounded-full icon-size-10 cursor-pointer"
                svgIcon="heroicons_outline:chevron-right"></mat-icon>
        </div>
    </div> -->

    <div *ngIf="mostrarTotales"  class="px-5">
        <div class="flex w-full sm:grid-cols-2 md:grid-cols-5 min-w-0 gap-1 overflow-auto scrollbar-hide relative"
            id="totalesScroll" [ngClass]="
                mostrarTotales == false ? 'slide-out-top' : 'tilt-in-top-1'
            ">
            <!-- Button next previous  -->
            <div *ngIf="!blockNext" class="sticky  nextBTNContainer">
                <div class=" h-full w-10 flex justify-center items-center">
                    <div (click)="nextTotalesSlider()" class=" nextBTN h-5/6 w-10 flex justify-center items-center">
                        <mat-icon
                        class="text-white icon-size-10 cursor-pointer"
                        svgIcon="heroicons_outline:chevron-right"></mat-icon>
                    </div>
                </div>
            </div>

            <div *ngIf="!blockPrevios" class="sticky left-0 w-0 previusBTNContainer">
                <div class="h-full w-10 flex justify-center items-center">
                    <div (click)="previousTotalesSlider()" class="previucosBTN h-5/6 w-10 flex justify-center items-center">
                        <mat-icon
                        class="text-white icon-size-10 cursor-pointer"
                        svgIcon="heroicons_outline:chevron-left"></mat-icon>
                    </div>
                </div>
            </div>
            <!-- totales -->
            <ng-container *ngFor="let item of totales">
                <div class="flex flex-col flex-auto bg-card shadow rounded-2xl cardWidth my-3 mx-2">
                    <div class="flex justify-between p-3 rounded-tr-2xl rounded-tl-2xl w-full"
                        [style]="'background-color: ' + item.color_2">
                        <div class="flex justify-start items-start flex-col flex-wrap">
                            <div class="font-medium leading-6 rounded-md text-md text-white tracking-tight truncate px-1 mr-2"
                                [style]="'background-color: ' + item.color">
                                {{ item.nombre_unidad_negocio }}
                            </div>
                            <div class="text-6xl sm:text-6xl font-bold tracking-tight leading-none text-white ml-2">
                                {{
                                item.cantidad_solicitud < 10 ? "0" + item.cantidad_solicitud : item.cantidad_solicitud
                                    }} </div>
                                    <div class="text-md font-medium truncate text-white">
                                        ${{ item.total_solicitud | number : 0 }}
                                    </div>
                            </div>
                            <div>
                                <div class="bg-white rounded-md p-1 flex justify-center items-center iconSizeCs">
                                    <img [src]="item.icono" alt="agendaIcon" />
                                </div>
                            </div>
                        </div>

                        <div class="flex items-center gap-2 px-4 justify-between py-2">
                            <div class="text-xl sm:text-xl font-bold tracking-tight leading-none text-white rounded-2xl px-2 paddingCount"
                                [style]="'background-color: ' + item.color">
                                {{
                                item.cantidad_devolucion < 10 ? "0" + item.cantidad_devolucion :
                                    item.cantidad_devolucion }} </div>
                                    <div class="text-md font-medium truncate" [ngStyle]="{ color: item.color }">
                                        Devolución
                                    </div>
                                    <div class="flex items-center justify-center text-secondary">
                                        <div class="font-semibold text-sm" [ngStyle]="{ color: item.color }">
                                            ${{ item.total_devolucion | number : 0 }}
                                        </div>
                                    </div>
                            </div>
                        </div>
            </ng-container>
        </div>
    </div>
</div>
