<div class="row">
    <div class="col-md-12 col-lg-12">
        <form [formGroup]="form">
            <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
                    <ng-container *ngIf="form.controls['tipo'].value !== 'P'">
                        <span class="bg-gray-200 p-1.5 rounded-1 text-dark">Detalle de referencia comercial</span>
                    </ng-container>
                    <ng-container *ngIf="form.controls['tipo'].value !== 'C'">
                        <span class="bg-gray-200 p-1.5 rounded-1 text-dark">Detalle de referencia personal</span>
                    </ng-container>
                    <div class="-mx-3 md:flex mt-3 mb-2">
                        <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                            <mat-label>Tipo de referencia</mat-label>
                            <input matInput type="text" placeholder="Tipo de referencia" [formControlName]="'descripcionTipoReferencia'">
                        </mat-form-field>
                        <ng-container *ngIf="form.controls['tipo'].value != 'P'">
                            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                                <mat-label>Razón social</mat-label>
                                <input matInput type="text" placeholder="Tipo de referencia" [formControlName]="'nombreCompleto'">
                            </mat-form-field>
                        </ng-container>
                        <ng-container *ngIf="form.controls['tipo'].value != 'C'">
                            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                                <mat-label>Primer nombre</mat-label>
                                <input matInput type="text" placeholder="Primer nombre" [formControlName]="'primerNombre'">
                            </mat-form-field>
                            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                                <mat-label>Segundo nombre</mat-label>
                                <input matInput type="text" placeholder="Segundo nombre" [formControlName]="'segundoNombre'">
                            </mat-form-field>
                            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                                <mat-label>Primer apellido</mat-label>
                                <input matInput type="text" placeholder="Primer apellido" [formControlName]="'primerApellido'">
                            </mat-form-field>
                        </ng-container>
                    </div>
                    <div class="-mx-3 md:flex mt-3 mb-2">
                        <ng-container *ngIf="form.controls['tipo'].value != 'C'">
                            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                                <mat-label>Segundo apellido</mat-label>
                                <input matInput type="text" placeholder="Segundo apellido" [formControlName]="'segundoApellido'">
                            </mat-form-field>
                        </ng-container>
                        <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                            <mat-label>Teléfono / Celular</mat-label>
                            <input matInput type="text" placeholder="Tipo de referencia" [formControlName]="'celular'">
                        </mat-form-field>
                        <ng-container *ngIf="form.controls['tipo'].value != 'P'">
                            <ng-container *ngIf="departamentos$ | async as departamentos">
                                <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                                    <mat-label>Departamento de residencia</mat-label>
                                    <mat-select (selectionChange)="seleccionDepartamento($event)"
                                                [value]="'seleccione'"
                                                [formControlName]="'codigoDepartamento'"
                                    >
                                        <mat-option disabled [value]="'seleccione'">Seleccione</mat-option>
                                        <mat-option *ngFor="let departamento of departamentos.data"
                                                    [value]="departamento.codigo"
                                        >{{departamento.nombre}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </ng-container>
                            <ng-container *ngIf="ciudades$ | async as ciudades">
                                <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                                    <mat-label>Ciudad / municipio de residencia</mat-label>
                                    <mat-select
                                                [value]="'seleccione'"
                                                [formControlName]="'codigoCiudad'"
                                    >
                                        <mat-option disabled [value]="'seleccione'">Seleccione</mat-option>
                                        <mat-option *ngFor="let ciudad of ciudades.data"
                                                    [value]="ciudad.codigo"
                                        >{{ciudad.nombre}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </ng-container>
                        </ng-container>
                        <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                            <mat-label>Antigüedad de ser cliente (meses)</mat-label>
                            <input matInput type="text" placeholder="Ingrese la antigüedad en meses" [formControlName]="'antiguedad'">
                        </mat-form-field>
                        <ng-container *ngIf="estadoReferencia$ | async as items">
                            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                                <mat-label>Estado</mat-label>
                                <mat-select
                                            [value]="'seleccione'"
                                            [formControlName]="'estado'"
                                >
                                    <mat-option disabled [value]="'seleccione'">Seleccione</mat-option>
                                    <mat-option *ngFor="let item of items.data"
                                                [value]="item.codigoOpcion"
                                    >{{item.descripcionOpcion}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>
                    </div>
                    <div class="-mx-3 md:flex mt-3 mb-2 mr-1 justify-end">
                        <button mat-raised-button
                                color="primary"
                                type="button"
                        >
                            Actualizar
                        </button>
                    </div>
            </div>
        </form>
    </div>
</div>
