<div class="card py-2 px-3 w-100 shadow bg-white m-4 rounded-lg">
    <div class="flex flex-row w-100 mb-4">
        <h2 class="text-gray-900">Historial de PQRS</h2>
    </div>
    <div class="flex flex-row mb-3">
        <div>
            <input
                class="border rounded p-2 bg-gray-100"
                style="font-size: 10px; margin-right: 1em"
                type="text"
                autocomplete="off"
                name="filtrarTabla"
                [(ngModel)]="filtrarTabla"
                (ngModelChange)="page = 1"
                placeholder="Filtrar..." />
        </div>
        <div>
            <select
                name="tamanoTabl"
                id="tamanoTabl"
                class="border rounded bg-gray-100"
                (change)="page = 1"
                [(ngModel)]="tamanoTabl"
                style="font-size: 10px; color: #9aa8bc; padding: 7px">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
            </select>
        </div>
    </div>
    <div class="h-60 md:overflow-x-hidden overflow-x-scroll overflow-y-scroll sm:h-80 xl:h-160 xl:overflow-x-hidden">
        <table class="w-full shadow p-1">
            <thead style="background-color: #F9FAFB;">
                <tr class=" text-md font-semibold tracking-wide text-left text-gray-400 border-b border-gray-600">
                    <th class="px-4 py-3 text-center"></th>
                    <th class="px-4 py-3 text-center">Cédula</th>
                    <th class="px-4 py-3 text-center">Nombres</th>
                    <th class="px-4 py-3 text-center">Apellidos</th>
                    <th class="px-4 py-3 text-center">Línea de crédito</th>
                    <th class="px-4 py-3 text-center">Negocio</th>
                    <th class="px-4 py-3 text-center">Tipo de PQRS</th>
                    <th class="px-4 py-3 text-center">Causal de PQRS</th>
                    <th class="px-4 py-3 text-center">Fecha de radicación</th>
                    <th class="px-4 py-3 text-center">Responsable</th>
                    <th class="px-4 py-3 text-center">Estado</th>
                </tr>
            </thead>
            <tbody class="bg-white">
                <tr
                    class="text-gray-700"
                    *ngFor=" let item of listado | filter: filtrarTabla | paginate : { itemsPerPage: tamanoTabl, currentPage: page }">
                    <td class="px-2 text-sm border text-center"><mat-icon class="cursor-pointer" svgIcon="heroicons_outline:eye" (click)="abrirDetalle(item.id)"></mat-icon></td>
                    <td class="px-2 text-sm border text-center">{{item.identificacion}}</td>
                    <td class="px-2 text-sm border text-center">{{item.nombres}}</td>
                    <td class="px-2 text-sm border text-center">{{item.apellidos}}</td>
                    <td class="px-2 text-sm border text-center">{{item.linea_credito}}</td>
                    <td class="px-2 text-sm border text-center">{{item.negocio}}</td>
                    <td class="px-2 text-sm border text-center">{{item.tipo_pqrs}}</td>
                    <td class="px-2 text-sm border text-center">{{item.causal_pqrs}}</td>
                    <td class="px-2 text-sm border text-center">{{item.fecha_radicacion}}</td>
                    <td class="px-2 text-sm border text-center">{{item.responsable}}</td>
                    <td class="px-2 text-sm border text-center">{{item.estado}}</td>
                </tr>
            </tbody>
        </table>
        <div class="grid ">
            <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" class="justify-self-end"
                nextLabel="Siguiente"></pagination-controls>
        </div>
    </div>
</div>