.caja{
    // background: #475569;
    color: white;
    border-radius: 1em;
    padding: 3px 1em;
}
.rotar-1{
    transform: rotate(45deg);
}
.rotar-2{
    transform: rotate(90deg);
}
.rotar-3{
    transform: rotate(135deg);
}

.borderImagewn{
    border-right: 3px solid #f1f5f9;
}