<div class="h-full h-screen overflow-auto w-full">
    <div class="flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent mb-3">
        <div class="flex flex-col">
            <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-6 px-6 md:px-8 border-b">
                <div class="grow h-14">
                    <h3 class="mb-2 text-gray-900">Detalle de trazabilidad</h3>
                    <span class="font-semibold text-gray-500">Número solicitud: {{numeroSolicitud}}</span>
                </div>
                <app-fabrica-opciones></app-fabrica-opciones>
            </div>
        </div>
    </div>

    <div class="flex justify-center flex-wrap w-full max-w-screen-xl mx-auto ">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mb-20 mx-5">
            <!-- gerneral -->
            <ng-container *ngFor="let item of datosGeneral;  index as i;">
                <div class="col-span-1 relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card rounded-2xl shadow overflow-hidden">
                    <div class="absolute bottom-0 right-0 w-24 h-24 -m-6">
                        <mat-icon class="icon-size-24 opacity-25 " [ngClass]="item.color" [svgIcon]="item.icono">
                        </mat-icon>
                    </div>
                    <div class="flex items-center">
                        <div class="flex flex-col">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate">
                                {{item.titulo}}
                            </div>
                            <div class=" font-medium text-sm" [ngClass]="item.color">
                                {{item.descripcion}}
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-row flex-wrap mt-4 -mx-6">
                        <div class="flex flex-col mx-3 my-2" *ngFor="let campo of item.campos;">
                            <div class="flex items-center">
                                <div class="flex items-center justify-center w-14 h-14 rounded-r-3xl shadow-inner" 
                                    [ngClass]="campo.color">
                                    <mat-icon class="text-current" [svgIcon]="campo.icono"></mat-icon>
                                </div>
                                <div class="flex flex-col justify-center ml-4 leading-none">
                                    <div class="flex flex-row w-full gap-2" *ngIf="campo.descripcionUno!='' && campo.valor!=''">
                                        <div class="text-sm text-secondary">{{campo.descripcionUno}}</div>
                                        <div class="text-sm font-medium capitalize">{{campo.valor}}</div>
                                    </div>
                                    <div class="flex flex-row w-full mt-2 gap-2" *ngIf="campo.descripcionDos!='' && campo.valor2!=''">
                                        <div class="text-sm text-secondary">{{campo.descripcionDos}}</div>
                                        <div class="text-sm font-medium capitalize">{{campo.valor2}}</div>
                                    </div>
                                    <div class="flex flex-row w-full mt-2 gap-2" *ngIf="campo.descripcionTres!='' && campo.valor3!=''">
                                        <div class="text-sm text-secondary">{{campo.descripcionTres}}</div>
                                        <div class="text-sm font-medium capitalize">{{campo.valor3}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <!-- trazabilidad  -->
            <ng-container *ngIf="dataResumenTrazabilidad.length>0">
                <div class="col-span-2 relative overflow-hidden flex flex-col flex-auto p-6 bg-card rounded-2xl shadow">
                    <div class="flex items-center">
                        <div class="flex flex-col">
                            <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Resumen - Análisis
                            </div>
                        </div>
                        <div class="absolute bottom-0 right-0 w-24 h-24 -m-6">
                            <mat-icon class="icon-size-24 opacity-25 text-blue-600"
                                [svgIcon]="'heroicons_outline:chart-square-bar'">
                            </mat-icon>
                        </div>
                    </div>
                    <div class="my-8 space-y-8">
                        <div class="flex flex-col" *ngFor="let item of dataResumenTrazabilidad">
                            <div class="flex items-center">
                                <div class="flex items-center justify-center w-14 h-14 rounded ">
                                    <img src="assets/images/agendas/{{item.iconoAgenda}}" class="text-current">
                                </div>
                                <div class="flex-auto ml-4 leading-none">
                                    <div class="text-sm font-medium text-secondary">
                                        <mat-icon class="text-gray-600 icon-size-4" svgIcon="heroicons_outline:user">
                                        </mat-icon> {{item.usuario}}
                                        <mat-icon class="text-gray-600 icon-size-4 ml-2"
                                            svgIcon="heroicons_outline:calendar">
                                        </mat-icon> {{item.fecha}}
                                        <mat-icon class="text-gray-600 icon-size-4 ml-2"
                                            svgIcon="heroicons_outline:clock">
                                        </mat-icon> {{item.hora}}
                                    </div>
                                    <div class="mt-2 font-medium">{{item.nombreAgenda}}</div>
                                    <mat-progress-bar class="mt-3 rounded-full" [mode]="'determinate'" [value]="100">
                                    </mat-progress-bar>
                                </div>
                                <div class="flex items-end justify-end min-w-18 mt-auto ml-6">
                                    <div class="text-lg leading-none">100%</div>
                                    <mat-icon class="text-green-600 icon-size-4 ml-1"
                                        [svgIcon]="'heroicons_outline:check'">
                                    </mat-icon>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- <div class="flex items-center mt-auto">
                        <button class="mt-2" mat-stroked-button
                            (click)="verComentarios = true; settingsDrawer.toggle();">
                            Mostrar comentarios
                        </button>
                    </div> -->
                </div>
            </ng-container>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-4 gap-8 mb-20 mx-3">
            <!-- agendas -->
            <ng-container *ngFor="let item of datos;  index as i;">
                <div class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card rounded-2xl shadow overflow-hidden">
                    <div class="flex items-center">
                        <div class="flex items-center justify-center w-14 h-14 rounded ">
                            <img src="assets/images/agendas/{{item.iconoAgenda}}" class="text-current">
                        </div>
                        <div class="flex-auto ml-4 leading-none">
                            <div class="text-sm font-medium text-secondary">
                                <mat-icon class="text-gray-600 icon-size-4" svgIcon="heroicons_outline:clock">
                                </mat-icon> {{item.horas}}
                            </div>
                            <div class="mt-2 font-medium">{{item.nombreAgenda}}</div>
                        </div>
                    </div>
                    <ng-container *ngIf="item.detalle.length>0 else noDetalle">
                        <div class="overflow-y-auto overflow-x-hidden h-fijo">
                            <div *ngFor="let list of item.detalle | slice:0:item.total">
                                <hr>
                                <div class="flex mt-2">
                                    <div class="flex-auto">
                                        <div class="font-medium">{{list.descripcion}}</div>
                                        <div class="text-sm font-medium text-secondary">
                                            <span class="w-100">
                                                <mat-icon class="text-gray-600 icon-size-4"
                                                    svgIcon="heroicons_outline:user">
                                                </mat-icon> {{list.create_user}}
                                            </span>

                                            <mat-icon class="text-gray-600 icon-size-4 ml-2"
                                                svgIcon="heroicons_outline:calendar"></mat-icon> {{list.fechaInicio |
                                            date:
                                            "dd-MM-yyyy"}}
                                            <mat-icon class="text-gray-600 icon-size-4 ml-2"
                                                svgIcon="heroicons_outline:calendar"></mat-icon> {{list.fechaFin | date:
                                            "dd-MM-yyyy"}}
                                        </div>
                                    </div>
                                </div>
                                <div class="flex items-center">
                                    <div class="flex-auto">
                                        <mat-progress-bar class="mt-3 rounded-full" [mode]="'determinate'"
                                            [value]="100">
                                        </mat-progress-bar>
                                    </div>
                                    <div class="flex items-end justify-end min-w-18 mt-auto ml-6">
                                        <div class="text-lg leading-none">100%</div>
                                        <mat-icon class="text-green-600 icon-size-4 ml-1"
                                            [svgIcon]="'heroicons_outline:check'">
                                        </mat-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center mt-6 -mx-3">
                            <a class="cursor-pointer mat-focus-indicator px-3 mat-button mat-button-base mat-primary cursor"
                                aria-disabled="false" (click)="item.total==2?item.total=item.length:item.total=2">
                                <span class="mat-button-wrapper">
                                    {{item.total==2?'Mostrar todos':'Ocultar'}}
                                </span>
                            </a>
                        </div>
                    </ng-container>
                    <ng-template #noDetalle>
                        <div>
                            <img class="h-56" src="assets/images/animaciones/nodata.gif">
                            <div class="text-gray-600 text-center mt-2 font-medium">Sin detalles</div>
                        </div>
                    </ng-template>
                </div>
            </ng-container>

        </div>



    </div>



</div>

<fuse-drawer class="w-full sm:max-w-9/12 min-w-150" fixed transparentOverlay [mode]="'over'" [name]="'settingsDrawer'"
    [position]="'right'" #settingsDrawer>
    <ng-container *ngIf="true">
        <div class="fixed z-999 w-full">
            <app-grid-comentarios (cerrarComponente)="onCerrar($event);settingsDrawer.close()"
                (minimizarComponente)="onMinimiza($event);settingsDrawer.close(); verComentarios = true">
            </app-grid-comentarios>
        </div>
    </ng-container>
</fuse-drawer>