<form [formGroup]="formDeudorSolidario">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
        <div class="-mx-3 md:flex mb-2 flex-wrap">
            <mat-form-field class="w-full px-2 md:w-1/2">
                <mat-label>Tipo de solicitante:</mat-label>
                <input matInput type="text" value="Deudor solidario" [readonly]="true" disabled>
            </mat-form-field>
            <ng-container *ngIf="parentescos$ | async as parentescos">
                <mat-form-field class="w-full px-2 md:w-1/2">
                    <mat-label>Tipo de parentesco</mat-label>
                    <mat-select [value]="'seleccione'" [formControlName]="'parentesco'" [required]="">
                        <mat-option disabled [value]="'seleccione'">Seleccione
                        </mat-option>
                        <mat-option *ngFor="let parentesco of parentescos.data"
                            [value]="parentesco.codigoOpcion">{{parentesco.descripcionOpcion}}
                        </mat-option>
                    </mat-select>
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'"></mat-icon>
                    <mat-error *ngIf="formDeudorSolidario.controls.parentesco.errors?.required">
                        Este campo es requerido.
                    </mat-error>
                </mat-form-field>
            </ng-container>

            <mat-form-field *ngIf="dataInicial" class="w-full px-2 md:w-1/2">
                <mat-label>Tipo de documento</mat-label>
                <mat-select [value]="'seleccione'" [formControlName]="'tipoDocumento'" [required]="">
                    <mat-option disabled [value]="'seleccione'">Seleccione
                    </mat-option>
                    <mat-option *ngFor="let tipoDocumento of dataInicial.tiposDocumentos" [value]="tipoDocumento.codigo"
                        [disabled]="tipoDocumento.codigo === 'CE'">{{tipoDocumento.valor}}
                    </mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'"></mat-icon>
                <mat-error *ngIf="formDeudorSolidario.controls.tipoDocumento.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <ng-container>
                <mat-form-field class="w-full px-2 md:w-1/2">
                    <mat-label>N° de identificación</mat-label>
                    <input matInput type="text" [formControlName]="'identificacion'"
                        [mask]="tipoDocumento?.value === 'CE' ? '' : 'separator.0'"
                        [thousandSeparator]="tipoDocumento?.value === 'CE' ? '' :  '.'"
                        [minlength]="tipoDocumento?.value === 'CE' ? 6 : 5"
                        [maxlength]="tipoDocumento?.value === 'CE' ? 7 : 13">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'"></mat-icon>
                    <mat-error *ngIf="formDeudorSolidario.controls.identificacion.errors?.required">
                        Este campo es requerido.
                    </mat-error>
                    <mat-error *ngIf="formDeudorSolidario.controls.identificacion.errors?.minlength">
                        No puede ser menor a {{tipoDocumento?.value === 'CE' ? 6 : 5}} digitos
                    </mat-error>
                    <mat-error *ngIf="formDeudorSolidario.controls.identificacion.errors?.maxlength">
                        No puede ser menor a {{tipoDocumento?.value === 'CE' ? 7 : 10}} digitos
                    </mat-error>
                </mat-form-field>
            </ng-container>
        </div>

        <div class="-mx-3 md:flex mb-2">
            <ng-container>
                <mat-form-field class="w-full px-2">
                    <mat-label>Primer nombre</mat-label>
                    <input matInput type="text" [formControlName]="'primerNombre'" [required]="">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'"></mat-icon>
                    <mat-error *ngIf="formDeudorSolidario.controls.primerNombre.errors?.required">
                        Este campo es requerido.
                    </mat-error>
                </mat-form-field>
            </ng-container>
            <ng-container>
                <mat-form-field class="w-full px-2">
                    <mat-label>Segundo nombre(opcional)</mat-label>
                    <input matInput type="text" [formControlName]="'segundoNombre'">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'"></mat-icon>
                </mat-form-field>
            </ng-container>
            <ng-container>
                <mat-form-field class="w-full px-2">
                    <mat-label>Primer apellido</mat-label>
                    <input matInput type="text" [formControlName]="'primerApellido'" [required]="">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'"></mat-icon>
                    <mat-error *ngIf="formDeudorSolidario.controls.primerApellido.errors?.required">
                        Este campo es requerido.
                    </mat-error>
                </mat-form-field>
            </ng-container>
            <ng-container>
                <mat-form-field class="w-full px-2">
                    <mat-label>Segundo apellido(opcional)</mat-label>
                    <input matInput type="text" [formControlName]="'segundoApellido'">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'"></mat-icon>
                </mat-form-field>
            </ng-container>
        </div>
        <div class="-mx-3 md:flex mb-2 flex-wrap">
            <mat-form-field class="w-full px-2 mat-form-field-disabled">
                <mat-label>Nombre completo del deudor solidario</mat-label>
                <input matInput type="text" [formControlName]="'nombreCompleto'"
                    [value]="formDeudorSolidario.controls.primerNombre.value+' '+formDeudorSolidario.controls.segundoNombre.value+' '+formDeudorSolidario.controls.primerApellido.value+' '+formDeudorSolidario.controls.segundoApellido.value"
                    [readonly]="true" [readonly]="true" disabled>
            </mat-form-field>
            <ng-container>
                <mat-form-field class="w-full px-2 md:w-1/2">
                    <mat-label>Celular</mat-label>
                    <input matInput type="text" mask="(000) 000 00 00" [formControlName]="'celular'" [required]="">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'"></mat-icon>
                    <mat-error *ngIf="formDeudorSolidario.controls.celular.errors?.required">
                        Este campo es requerido.
                    </mat-error>
                    <mat-error *ngIf="formDeudorSolidario.controls.celular.errors?.minLength">
                        Longitud mínima son 7
                        dígitos.
                    </mat-error>
                    <mat-error *ngIf="
                    formDeudorSolidario.controls.celular.errors
                                                ?.pattern
                                        ">Debe comenzar en 3.</mat-error>
                </mat-form-field>
            </ng-container>
            <ng-container>
                <mat-form-field class="w-full px-2 md:w-1/2">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput type="text" [formControlName]="'email'" [required]="">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'"></mat-icon>
                    <mat-error *ngIf="formDeudorSolidario.controls.email.errors?.required">
                        Este campo es requerido.
                    </mat-error>
                </mat-form-field>
            </ng-container>
        </div>

        <div class="grid gap-3 sm:grid-cols-2 grid-cols-1 md:grid-cols-3">
            <ng-container *ngIf="departamentos$ | async as departamentos">
                <mat-form-field>
                    <mat-label>Departamento de residencia</mat-label>
                    <mat-select (selectionChange)="seleccionDepartamento($event)" [value]="'seleccione'"
                        [formControlName]="'codigoDepartamento'" [required]="">
                        <mat-option disabled [value]="'seleccione'">Seleccione
                        </mat-option>
                        <mat-option *ngFor="let departamento of departamentos.data"
                            [value]="departamento.codigo">{{departamento.nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                    </mat-icon>
                    <mat-error *ngIf="formDeudorSolidario.controls.codigoDepartamento.errors?.required">
                        Este campo es requerido.
                    </mat-error>
                </mat-form-field>
            </ng-container>
            <ng-container *ngIf="ciudades$ | async as ciudades">
                <mat-form-field>
                    <mat-label>Ciudad de residencia</mat-label>
                    <mat-select [value]="'seleccione'" [formControlName]="'codigoCiudad'"
                        (selectionChange)="seleccionCiudad($event)" [required]="">
                        <mat-option disabled [value]="'seleccione'">Seleccione
                        </mat-option>
                        <mat-option *ngFor="let ciudad of ciudades.data" [value]="ciudad.codigo">
                            {{ciudad.nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                    </mat-icon>
                    <mat-error *ngIf="formDeudorSolidario.controls.codigoCiudad.errors?.required">
                        Este campo es requerido.
                    </mat-error>
                </mat-form-field>
            </ng-container>
            <ng-container *ngIf="barrios$ | async as barrios">
                <mat-form-field>
                    <mat-label>Barrio de residencia</mat-label>
                    <mat-select [value]="'seleccione'" [formControlName]="'barrioResidencia'" [required]="">
                        <mat-option disabled [value]="'seleccione'">Seleccione
                        </mat-option>
                        <mat-option *ngFor="let barrio of barrios.data" [value]="barrio.codigo">
                            {{barrio.nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                    </mat-icon>
                    <mat-error *ngIf="formDeudorSolidario.controls.barrioResidencia.errors?.required">
                        Este campo es requerido.
                    </mat-error>
                </mat-form-field>
            </ng-container>
        </div>

        <div class="-mx-3 md:flex mt-3 mb-2">
            <ng-container *ngIf="tipoVia$ | async as tipoVias">
                <mat-form-field class="w-1/2 px-2">
                    <mat-label>Tipo de via de residencia</mat-label>
                    <mat-select
                        (selectionChange)="formDeudorSolidario.controls.direccionResidencial.setValue(formDeudorSolidario.controls.direccionTipoVia.value+' '+formDeudorSolidario.controls.direccionViaPrincipal.value+' # '+formDeudorSolidario.controls.direccionNumeroVia.value+' - '+formDeudorSolidario.controls.direccionDistanciaVia.value + ' ' + formDeudorSolidario.controls.direccionComplemento.value)"
                        [value]="'seleccione'" [formControlName]="'direccionTipoVia'" [required]="">
                        <mat-option disabled [value]="'seleccione'">Seleccione
                        </mat-option>
                        <mat-option *ngFor="let tipoVia of tipoVias.data" [value]="tipoVia.nombre">
                            {{tipoVia.nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                    </mat-icon>
                    <mat-error *ngIf="formDeudorSolidario.controls.direccionTipoVia.errors?.required">
                        Este campo es requerido.
                    </mat-error>
                </mat-form-field>
            </ng-container>
            <ng-container>
                <mat-form-field class="w-1/2 px-2">
                    <mat-label>Via principal</mat-label>
                    <input
                        (keyup)="formDeudorSolidario.controls.direccionResidencial.setValue(formDeudorSolidario.controls.direccionTipoVia.value+' '+formDeudorSolidario.controls.direccionViaPrincipal.value+' # '+formDeudorSolidario.controls.direccionNumeroVia.value+' - '+formDeudorSolidario.controls.direccionDistanciaVia.value + ' ' + formDeudorSolidario.controls.direccionComplemento.value )"
                        matInput type="text" [formControlName]="'direccionViaPrincipal'" [required]="">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                    </mat-icon>
                    <mat-error *ngIf="formDeudorSolidario.controls.direccionViaPrincipal.errors?.required">
                        Este campo es requerido.
                    </mat-error>
                </mat-form-field>
            </ng-container>
            <ng-container>
                <mat-form-field class="w-1/2 px-2">
                    <mat-label>Número vía</mat-label>
                    <input
                        (keyup)="formDeudorSolidario.controls.direccionResidencial.setValue(formDeudorSolidario.controls.direccionTipoVia.value+' '+formDeudorSolidario.controls.direccionViaPrincipal.value+' # '+formDeudorSolidario.controls.direccionNumeroVia.value+' - '+formDeudorSolidario.controls.direccionDistanciaVia.value + ' ' + formDeudorSolidario.controls.direccionComplemento.value)"
                        matInput type="text" [formControlName]="'direccionNumeroVia'" [required]="">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                    </mat-icon>
                    <mat-error *ngIf="formDeudorSolidario.controls.direccionNumeroVia.errors?.required">
                        Este campo es requerido.
                    </mat-error>
                </mat-form-field>
            </ng-container>
            <ng-container>
                <mat-form-field class="w-1/2 px-2">
                    <mat-label>Distancia vía</mat-label>
                    <input
                        (keyup)="formDeudorSolidario.controls.direccionResidencial.setValue(formDeudorSolidario.controls.direccionTipoVia.value+' '+formDeudorSolidario.controls.direccionViaPrincipal.value+' # '+formDeudorSolidario.controls.direccionNumeroVia.value+' - '+formDeudorSolidario.controls.direccionDistanciaVia.value + ' ' + formDeudorSolidario.controls.direccionComplemento.value)"
                        matInput type="text" [formControlName]="'direccionDistanciaVia'" [required]="">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                    </mat-icon>
                    <mat-error *ngIf="formDeudorSolidario.controls.direccionDistanciaVia.errors?.required">
                        Este campo es requerido.
                    </mat-error>
                </mat-form-field>
            </ng-container>

        </div>
        <div class="-mx-3 md:flex mt-3 mb-2">
            <mat-form-field class="w-full px-2">
                <mat-label>Complemento</mat-label>
                <input
                    (keyup)="formDeudorSolidario.controls.direccionResidencial.setValue(formDeudorSolidario.controls.direccionTipoVia.value+' '+formDeudorSolidario.controls.direccionViaPrincipal.value+' # '+formDeudorSolidario.controls.direccionNumeroVia.value+' - '+formDeudorSolidario.controls.direccionDistanciaVia.value + ' ' + formDeudorSolidario.controls.direccionComplemento.value)"
                    matInput type="text" [formControlName]="'direccionComplemento'">
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                </mat-icon>
            </mat-form-field>
        </div>
        <div class="-mx-3 md:flex mt-3 mb-2">
            <mat-form-field class="w-full px-2 mat-form-field-disabled">
                <mat-label>Dirección completa</mat-label>
                <input matInput type="text" [formControlName]="'direccionResidencial'" readonly="true">
            </mat-form-field>
        </div>
        <div class="-mx-3 md:flex mt-3 mb-2 flex-wrap">


            <ng-container *ngIf="tipoVivienda$ | async as tipoViviendas">
                <mat-form-field class="w-full px-2 md:w-1/2">
                    <mat-label>Tipo de vivienda</mat-label>
                    <mat-select [value]="'seleccione'" [formControlName]="'tipoVivienda'">
                        <mat-option disabled [value]="'seleccione'">Seleccione
                        </mat-option>
                        <mat-option *ngFor="let item of tipoViviendas.data" [value]="item.codigoOpcion">
                            {{item.descripcionOpcion}}
                        </mat-option>
                    </mat-select>
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                    </mat-icon>
                </mat-form-field>
            </ng-container>
        </div>
        <span class="bg-gray-200 p-1.5 rounded-1 text-dark font-bold ">Información legal - cliente PEP</span>
        <div class="-mx-3 md:flex flex-wrap mt-3 mb-2">
            <mat-form-field class="w-full px-2">
                <mat-label>¿Ha ocupado cargos públicos?</mat-label>
                <mat-select [value]="'seleccione'" [formControlName]="'legalCargoPublico'">
                    <mat-option disabled [value]="''">Seleccione
                    </mat-option>
                    <mat-option [value]="'S'">SI
                    </mat-option>
                    <mat-option [value]="'N'">NO
                    </mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                </mat-icon>
                <mat-error *ngIf="formDeudorSolidario.controls.legalCargoPublico.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full px-2">
                <mat-label>¿Es familiar de persona expuesta política y públicamente?</mat-label>
                <mat-select [value]="'seleccione'" [formControlName]="'legalPersonalExpuesta'">
                    <mat-option disabled [value]="''">Seleccione
                    </mat-option>
                    <mat-option [value]="'S'">SI
                    </mat-option>
                    <mat-option [value]="'N'">NO
                    </mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                </mat-icon>
                <mat-error *ngIf="formDeudorSolidario.controls.legalPersonalExpuesta.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full px-2">
                <mat-label>¿ Tiene a su cargo la dirección de recursos en algún partido político
                    ?</mat-label>
                <mat-select [value]="'seleccione'" [formControlName]="'legalCargoPartidoPolitico'">
                    <mat-option disabled [value]="''">Seleccione
                    </mat-option>
                    <mat-option [value]="'S'">SI
                    </mat-option>
                    <mat-option [value]="'N'">NO
                    </mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                </mat-icon>
                <mat-error *ngIf="formDeudorSolidario.controls.legalCargoPartidoPolitico.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
        </div>
        <span *ngIf="formDeudorSolidario.controls.legalCargoPublico.value === 'S'"
            class="bg-gray-200 p-1.5 rounded-1 text-dark mb-2 font-bold">Datos cargo público</span>

        <div *ngIf="formDeudorSolidario.controls.legalCargoPublico.value === 'S'"
            class="-mx-3 md:flex mt-3 mb-2 flex-wrap">
            <mat-form-field class="w-full px-2 md:w-1/2">
                <mat-label>Cargo</mat-label>
                <input matInput type="text" [formControlName]="'cargoPublico'">
                <mat-error *ngIf="formDeudorSolidario.controls.cargoPublico.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full px-2 md:w-1/2">
                <mat-label>Entidad</mat-label>
                <input matInput type="text" [formControlName]="'entidadPublico'">
                <mat-error *ngIf="formDeudorSolidario.controls.entidadPublico.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full px-2 md:w-1/2">
                <mat-label>¿Estás vinculado actualmente?</mat-label>
                <mat-select [value]="'seleccione'" [formControlName]="'vinculadoActualPublico'">
                    <mat-option disabled [value]="''">Seleccione
                    </mat-option>
                    <mat-option [value]="'S'">SI
                    </mat-option>
                    <mat-option [value]="'N'">NO
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="formDeudorSolidario.controls.vinculadoActualPublico.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="formDeudorSolidario.controls.vinculadoActualPublico.value === 'N'"
                class="w-full px-2 md:w-1/2">
                <mat-label>Fecha de desvinculación</mat-label>
                <input matInput placeholder="DD/MM/YYYY" [matDatepicker]="fechaDesvinculacionPublico"
                    [formControlName]="'fechaDesvinculacionPublico'">
                <mat-datepicker-toggle matSuffix [for]="fechaDesvinculacionPublico" [disabled]="false">
                </mat-datepicker-toggle>
                <mat-datepicker #fechaDesvinculacionPublico readonly></mat-datepicker>
                <mat-error *ngIf="formDeudorSolidario.controls.fechaDesvinculacionPublico.errors?.required">
                    Este campo es requerido.
                </mat-error>
                <mat-error *ngIf="formDeudorSolidario.controls.fechaDesvinculacionPublico.errors?.dateError">
                    La fecha no puede ser mayor al día de hoy.
                </mat-error>
            </mat-form-field>
        </div>
        <span *ngIf="formDeudorSolidario.controls.legalPersonalExpuesta.value === 'S'"
            class="bg-gray-200 p-1.5 rounded-1 text-dark mb-2 font-bold">Datos cargo público-familiar</span>
        <div *ngIf="formDeudorSolidario.controls.legalPersonalExpuesta.value === 'S'"
            class="-mx-3 md:flex mt-3 mb-2 flex-wrap">
            <mat-form-field class="w-full px-2 md:w-1/2">
                <mat-label>Vinculación / Relación</mat-label>
                <input matInput type="text" [formControlName]="'vinculacionExpuesta'">
                <mat-error *ngIf="formDeudorSolidario.controls.vinculacionExpuesta.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full px-2 md:w-1/2">
                <mat-label>Nombre y apellido</mat-label>
                <input matInput type="text" [formControlName]="'nombreExpuesta'">
                <mat-error *ngIf="formDeudorSolidario.controls.nombreExpuesta.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full px-2 md:w-1/2">
                <mat-label>Tipo de ID</mat-label>
                <mat-select [value]="'seleccione'" (selectionChange)="cambiarNacionalidad($event)"
                    [formControlName]="'tipoIdentificacionExpuesta'">
                    <mat-option *ngFor="let item of dataInicial?.tiposDocumentos" [value]="item.codigo">{{item.valor}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="formDeudorSolidario.controls.tipoIdentificacionExpuesta.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full px-2 md:w-1/2">
                <mat-label>
                    N° de identificación</mat-label>
                <input matInput type="text" mask="separator.0" thousandSeparator="."
                    [formControlName]="'identificacionExpuesta'">
                <mat-error *ngIf="formDeudorSolidario.controls.identificacionExpuesta.errors?.required">
                    Este campo es requerido.
                </mat-error>
                <mat-error *ngIf="formDeudorSolidario.controls.identificacionExpuesta.errors?.minlength">
                    Longitud min 5.
                </mat-error>
                <mat-error *ngIf="formDeudorSolidario.controls.identificacionExpuesta.errors?.maxlength">
                    Longitud max 10.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full px-2 md:w-1/2">
                <mat-label>
                    Nacionalidad</mat-label>
                <input matInput type="text" [formControlName]="'nacionalidadExpuesta'"
                    [readonly]="formDeudorSolidario.controls.tipoIdentificacionExpuesta.value === 'CC'">
                <mat-error *ngIf="formDeudorSolidario.controls.nacionalidadExpuesta.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full px-2 md:w-1/2">
                <mat-label>
                    Entidad</mat-label>
                <input matInput type="text" [formControlName]="'entidadExpuesta'">
                <mat-error *ngIf="formDeudorSolidario.controls.entidadExpuesta.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full px-2 md:w-1/2">
                <mat-label>
                    Cargo</mat-label>
                <input matInput type="text" [formControlName]="'cargoExpuesta'">
                <mat-error *ngIf="formDeudorSolidario.controls.cargoExpuesta.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full px-2 md:w-1/2">
                <mat-label>¿Estás vinculado actualmente?</mat-label>
                <mat-select [value]="'seleccione'" [formControlName]="'vinculadoActualExpuesta'">
                    <mat-option disabled [value]="''">Seleccione
                    </mat-option>
                    <mat-option [value]="'S'">SI
                    </mat-option>
                    <mat-option [value]="'N'">NO
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="formDeudorSolidario.controls.vinculadoActualExpuesta.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="formDeudorSolidario.controls.vinculadoActualExpuesta.value === 'N'"
                class="w-full px-2 md:w-1/2">
                <mat-label>Fecha de desvinculación</mat-label>
                <input matInput placeholder="DD/MM/YYYY" [matDatepicker]="fechaDesvinculacionExpuesta"
                    [formControlName]="'fechaDesvinculacionExpuesta'">
                <mat-datepicker-toggle matSuffix [for]="fechaDesvinculacionExpuesta" [disabled]="false">
                </mat-datepicker-toggle>
                <mat-datepicker #fechaDesvinculacionExpuesta readonly></mat-datepicker>
                <mat-error *ngIf="formDeudorSolidario.controls.fechaDesvinculacionExpuesta.errors?.required">
                    Este campo es requerido.
                </mat-error>
                <mat-error *ngIf="formDeudorSolidario.controls.fechaDesvinculacionExpuesta.errors?.dateError">
                    La fecha no puede ser mayor al día de hoy.
                </mat-error>
            </mat-form-field>
        </div>
        <span class="bg-gray-200 p-1.5 rounded-1 text-dark font-bold">Información legal - datos
            Sagrilaft</span>
        <div class="-mx-3 md:flex mt-3 mb-2 flex-wrap">
            <mat-form-field class="w-full px-2 md:w-1/2">
                <mat-label>¿Realiza operaciones con moneda extranjera? </mat-label>
                <mat-select [value]="'seleccione'" [formControlName]="'legalOperacionExtranjera'">
                    <mat-option disabled [value]="''">Seleccione
                    </mat-option>
                    <mat-option [value]="'S'">SI
                    </mat-option>
                    <mat-option [value]="'N'">NO
                    </mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                </mat-icon>
                <mat-error *ngIf="formDeudorSolidario.controls.legalOperacionExtranjera.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="formDeudorSolidario.controls.legalOperacionExtranjera.value == 'S'"
                class="w-full px-2 md:w-1/2">
                <mat-label>Tipo de operación</mat-label>
                <mat-select [value]="'seleccione'" [formControlName]="'tipoOperacionExtranjera'">
                    <mat-option *ngFor="let item of dataInicial?.tipoOperacionExtranjera" [value]="item.codigo">
                        {{item.nombre}}
                    </mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                </mat-icon>
                <mat-error *ngIf="formDeudorSolidario.controls.tipoOperacionExtranjera.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="-mx-3 md:flex mt-3 mb-2 flex-wrap">
            <mat-form-field class="w-full px-2 md:w-1/2">
                <mat-label>¿Realiza operaciones con criptomoneda?</mat-label>
                <mat-select [value]="'seleccione'" [formControlName]="'legalOperacionCriptomoneda'">
                    <mat-option disabled [value]="''">Seleccione
                    </mat-option>
                    <mat-option [value]="'S'">SI
                    </mat-option>
                    <mat-option [value]="'N'">NO
                    </mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                </mat-icon>
                <mat-error *ngIf="formDeudorSolidario.controls.legalOperacionCriptomoneda.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="formDeudorSolidario.controls.legalOperacionCriptomoneda.value == 'S'"
                class="w-full px-2 md:w-1/2">
                <mat-label>Tipo de operación</mat-label>
                <mat-select [value]="'seleccione'" [formControlName]="'tipoOperacionCriptomoneda'">
                    <mat-option *ngFor="let item of dataInicial?.tipoOperacionCripto" [value]="item.codigo">
                        {{item.nombre}}
                    </mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                </mat-icon>
                <mat-error *ngIf="formDeudorSolidario.controls.tipoOperacionCriptomoneda.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="-mx-3 md:flex mt-3 mb-2 flex-wrap">
            <mat-form-field class="w-full px-2 md:w-1/2">
                <mat-label>¿Desarrolla actividades y profesiones no financieras designadas (APNFD)?
                </mat-label>
                <mat-select [value]="'seleccione'" matTooltip="*Actividades APNFD (Actividades y profesiones no financieras
                designadas: se refiere según el GAFI: a) Casinos; b) agentes inmobiliarios; c) comerciantes
                de metales preciosos; d) comerciantes de piedras preciosas; e) abogados, notarios, otros
                profesionales jurídicos independientes o contadores."
                    [formControlName]="'legalDesarrollaActividadApnfd'">
                    <mat-option disabled [value]="''">Seleccione
                    </mat-option>
                    <mat-option [value]="'S'">SI
                    </mat-option>
                    <mat-option [value]="'N'">NO
                    </mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                </mat-icon>
                <mat-error *ngIf="formDeudorSolidario.controls.legalDesarrollaActividadApnfd.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full px-2 md:w-1/2">
                <mat-label>¿Es responsable de declarar renta y complementarios?
                </mat-label>
                <mat-select [value]="'seleccione'" [formControlName]="'declaraRenta'">
                    <mat-option disabled [value]="''">Seleccione
                    </mat-option>
                    <mat-option [value]="'S'">SI
                    </mat-option>
                    <mat-option [value]="'N'">NO
                    </mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                </mat-icon>
            </mat-form-field>
        </div>



        <span class="bg-gray-200 p-1.5 rounded-1 text-dark font-bold">Información legal - declaraciones y
            autorizaciones</span>
        <div class="-mx-3 md:flex mt-3 mb-2 flex-wrap">
            <mat-form-field class="w-full px-2 md:w-1/2">
                <mat-label>El cliente declara que sus ingresos provienen de</mat-label>
                <mat-select [value]="'seleccione'" [formControlName]="'declaroIngresoDeclaracionAuto'">
                    <mat-option disabled [value]="'seleccione'">Seleccione
                    </mat-option>
                    <mat-option *ngFor="let item of dataInicial?.declaracionIngresos" [value]="item.codigo">
                        {{item.nombre}}
                    </mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                </mat-icon>
                <mat-error *ngIf="formDeudorSolidario.controls.declaroIngresoDeclaracionAuto.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="formDeudorSolidario.controls.declaroIngresoDeclaracionAuto.value === 'OT'"
                class="w-full px-2 md:w-1/2">
                <mat-label>Otro</mat-label>
                <input matInput type="text" [formControlName]="'otroIngresoDeclaracionAuto'">
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                </mat-icon>
                <mat-error *ngIf="formDeudorSolidario.controls.otroIngresoDeclaracionAuto.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
        </div>
        <!-- <span class="bg-gray-200 p-1.5 rounded-1 text-dark font-bold mt-4 mb-3">Terminos y
            condiciones</span>

        <div class="grid grid-cols-1">
            <mat-checkbox class="ml-3" formControlName="autoricacionDatosPersonalClaracionAuto"> <a
                    href="./assets/documentos/documentosMicroForms/datos_personales.pdf" class="no-underline"
                    target="_blank">Autorización de
                    tratamiento de datos personales</a> </mat-checkbox>
            <mat-checkbox class="ml-3" formControlName="clausulaAnticurrupcionClaracionAuto"> <a
                    href="./assets/documentos/documentosMicroForms/anticorrupcion_lavado.pdf" class="no-underline"
                    target="_blank"> Cláusula de
                    Anticorrupción y Antilavado </a></mat-checkbox>
        </div> -->

        <ng-container *ngIf="mostrarOTP">

            <span class="bg-gray-200 p-1.5 rounded-1 text-dark font-bold mt-4 mb-3">
                Validación de OTP
            </span>
            <div class="bg-white sm:px-8 px-0 pt-6 grid grid-cols-1   md:grid-cols-1">
                <!-- <mat-form-field class="w-full px-3 fuse-mat-dense">
                <mat-label>Código OTP</mat-label>
                <input matInput type="text" autocomplete="off" formControlName="numeroOTP" [disabled]="this.form.invalid" placeholder="Presionar el botón para enviar el código del celular">
                <mat-icon svgIcon="feather:check-circle" [ngClass]="{'text-green-400': this.otpValidado}" matTooltip="Verificar código OTP" class="cursor-pointer mx-2" (click)="validarCodigo()"></mat-icon>
                <mat-icon svgIcon="feather:send" [ngClass]="{'text-blue-400': this.form.valid}" class="cursor-pointer" matTooltip="Enviar código OTP" (click)="solicitarCodigo()"></mat-icon>
            </mat-form-field> -->
                <div class="w-full px-3 fuse-mat-dense flex justify-center items-center pt-4 flex-col">
                    <button mat-raised-button color="primary" type="button" style="width: 80% !important"
                        class="rounded-md cursor-pointer" [disabled]="contador !== 180 || validandoOTPLoading"
                        (click)="solicitarCodigo()">
                        {{changeTextOTP ? 'Reenviar código OTP' : 'Enviar código OTP'}}
                    </button>

                </div>

                <mat-form-field class="px-3 fuse-mat-dense mt-5" style=" width: 80% !important; margin-left: 10%;">
                    <input matInput type="text" placeholder="Código" [readonly]="otpValidado" (keyup)="validarCodigo()"
                        autocomplete="off" [formControlName]="'numeroOTP'"  min="6" max="6">
                </mat-form-field>

                <div *ngIf="contador !== 180 && !otpValidado"
                    class="w-full px-3 fuse-mat-dense flex justify-center items-center min-h-2 mt-3">
                    <mat-progress-bar style="width: 80%;" mode="determinate"
                        [value]="(contador / 180) * 100"></mat-progress-bar>
                </div>
                <div class="w-full px-3 fuse-mat-dense flex justify-center items-center min-h-10">
                    <mat-icon *ngIf="validandoOTPLoading" svgIcon="settings"
                        class="animate-spin-slow icon-size-12 mt-4"></mat-icon>
                    <mat-icon *ngIf="otpValidado" class="text-green-500 icon-size-12 mt-4"
                        svgIcon="mat_solid:check_circle"></mat-icon>
                </div>
            </div>
        </ng-container>
        <div class="-mx-3 md:flex mt-3 mb-2 mr-1 justify-end">
            <button mat-raised-button color="primary" type="button" (click)="validationPost()">
                Guardar
            </button>
        </div>
    </div>
</form>