<form [formGroup]="formDeudorSolidario">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
        <div class="-mx-3 md:flex mb-2">
            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                <mat-label>Tipo de solicitante:</mat-label>
                <input matInput type="text" value="Deudor solidario" [readonly]="true" disabled>
            </mat-form-field>
            <ng-container *ngIf="parentescos$ | async as parentescos">
                <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                    <mat-label>Tipo de parentesco</mat-label>
                    <mat-select [value]="'seleccione'" [formControlName]="'parentesco'" [required]="">
                        <mat-option disabled [value]="'seleccione'">Seleccione
                        </mat-option>
                        <mat-option *ngFor="let parentesco of parentescos.data"
                            [value]="parentesco.codigoOpcion">{{parentesco.descripcionOpcion}}
                        </mat-option>
                    </mat-select>
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'"></mat-icon>
                    <mat-error *ngIf="formDeudorSolidario.controls.parentesco.errors?.required">
                        Este campo es requerido.
                    </mat-error>
                </mat-form-field>
            </ng-container>

            <mat-form-field *ngIf="dataInicial" class="w-1/2 px-3 fuse-mat-dense">
                <mat-label>Tipo de documento</mat-label>
                <mat-select [value]="'seleccione'" [formControlName]="'tipoDocumento'" [required]="">
                    <mat-option disabled [value]="'seleccione'">Seleccione
                    </mat-option>
                    <mat-option *ngFor="let tipoDocumento of dataInicial.tiposDocumentos"
                        [value]="tipoDocumento.codigo">{{tipoDocumento.valor}}
                    </mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'"></mat-icon>
                <mat-error *ngIf="formDeudorSolidario.controls.tipoDocumento.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <ng-container>
                <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                    <mat-label>N° de identificación</mat-label>
                    <input matInput type="text" [formControlName]="'identificacion'" [required]="">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'"></mat-icon>
                    <mat-error *ngIf="formDeudorSolidario.controls.identificacion.errors?.required">
                        Este campo es requerido.
                    </mat-error>
                </mat-form-field>
            </ng-container>
        </div>
        <div class="-mx-3 md:flex mb-2">
            <mat-form-field class="w-full px-3 fuse-mat-dense">
                <mat-label>Nombre completo del deudor solidario</mat-label>
                <input matInput type="text" [formControlName]="'nombreCompleto'"
                    [value]="formDeudorSolidario.controls.primerNombre.value+' '+formDeudorSolidario.controls.segundoNombre.value+' '+formDeudorSolidario.controls.primerApellido.value+' '+formDeudorSolidario.controls.segundoApellido.value"
                    [readonly]="true" [readonly]="true" disabled>
            </mat-form-field>
            <ng-container>
                <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                    <mat-label>Teléfono / Celular</mat-label>
                    <input matInput type="text" [formControlName]="'celular'" [required]="">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'"></mat-icon>
                    <mat-error *ngIf="formDeudorSolidario.controls.celular.errors?.required">
                        Este campo es requerido.
                    </mat-error>
                </mat-form-field>
            </ng-container>
            <ng-container>
                <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput type="text" [formControlName]="'email'" [required]="">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'"></mat-icon>
                    <mat-error *ngIf="formDeudorSolidario.controls.email.errors?.required">
                        Este campo es requerido.
                    </mat-error>
                </mat-form-field>
            </ng-container>
        </div>
        <div class="-mx-3 md:flex mb-2">
            <ng-container>
                <mat-form-field class="w-full px-3 fuse-mat-dense">
                    <mat-label>Primer nombre</mat-label>
                    <input matInput type="text" [formControlName]="'primerNombre'" [required]="">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'"></mat-icon>
                    <mat-error *ngIf="formDeudorSolidario.controls.primerNombre.errors?.required">
                        Este campo es requerido.
                    </mat-error>
                </mat-form-field>
            </ng-container>
            <ng-container>
                <mat-form-field class="w-full px-3 fuse-mat-dense">
                    <mat-label>Segundo nombre(opcional)</mat-label>
                    <input matInput type="text" [formControlName]="'segundoNombre'">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'"></mat-icon>
                </mat-form-field>
            </ng-container>
            <ng-container>
                <mat-form-field class="w-full px-3 fuse-mat-dense">
                    <mat-label>Primer apellido</mat-label>
                    <input matInput type="text" [formControlName]="'primerApellido'" [required]="">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'"></mat-icon>
                    <mat-error *ngIf="formDeudorSolidario.controls.primerApellido.errors?.required">
                        Este campo es requerido.
                    </mat-error>
                </mat-form-field>
            </ng-container>
            <ng-container>
                <mat-form-field class="w-full px-3 fuse-mat-dense">
                    <mat-label>Segundo apellido(opcional)</mat-label>
                    <input matInput type="text" [formControlName]="'segundoApellido'">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'"></mat-icon>
                </mat-form-field>
            </ng-container>
        </div>

        <div class="-mx-3 md:flex mb-2">
            <ng-container *ngIf="departamentos$ | async as departamentos">
                <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                    <mat-label>Departamento de residencia</mat-label>
                    <mat-select (selectionChange)="seleccionDepartamento($event)" [value]="'seleccione'"
                        [formControlName]="'codigoDepartamento'" [required]="">
                        <mat-option disabled [value]="'seleccione'">Seleccione
                        </mat-option>
                        <mat-option *ngFor="let departamento of departamentos.data"
                            [value]="departamento.codigo">{{departamento.nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                    </mat-icon>
                    <mat-error *ngIf="formDeudorSolidario.controls.codigoDepartamento.errors?.required">
                        Este campo es requerido.
                    </mat-error>
                </mat-form-field>
            </ng-container>
            <ng-container *ngIf="ciudades$ | async as ciudades">
                <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                    <mat-label>Ciudad de residencia</mat-label>
                    <mat-select [value]="'seleccione'" [formControlName]="'codigoCiudad'"
                        (selectionChange)="seleccionCiudad($event)" [required]="">
                        <mat-option disabled [value]="'seleccione'">Seleccione
                        </mat-option>
                        <mat-option *ngFor="let ciudad of ciudades.data" [value]="ciudad.codigo">
                            {{ciudad.nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                    </mat-icon>
                    <mat-error *ngIf="formDeudorSolidario.controls.codigoCiudad.errors?.required">
                        Este campo es requerido.
                    </mat-error>
                </mat-form-field>
            </ng-container>
            <ng-container *ngIf="barrios$ | async as barrios">
                <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                    <mat-label>Barrio de residencia</mat-label>
                    <mat-select [value]="'seleccione'" [formControlName]="'barrioResidencia'" [required]="">
                        <mat-option disabled [value]="'seleccione'">Seleccione
                        </mat-option>
                        <mat-option *ngFor="let barrio of barrios.data" [value]="barrio.codigo">
                            {{barrio.nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                    </mat-icon>
                    <mat-error *ngIf="formDeudorSolidario.controls.barrioResidencia.errors?.required">
                        Este campo es requerido.
                    </mat-error>
                </mat-form-field>
            </ng-container>
        </div>

        <div class="-mx-3 md:flex mt-3 mb-2">
            <ng-container *ngIf="tipoVia$ | async as tipoVias">
                <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                    <mat-label>Tipo de via de residencia</mat-label>
                    <mat-select
                        (selectionChange)="formDeudorSolidario.controls.direccionResidencial.setValue(formDeudorSolidario.controls.direccionTipoVia.value+' '+formDeudorSolidario.controls.direccionViaPrincipal.value+' # '+formDeudorSolidario.controls.direccionNumeroVia.value+' - '+formDeudorSolidario.controls.direccionDistanciaVia.value + ' ' + formDeudorSolidario.controls.direccionComplemento.value)"
                        [value]="'seleccione'" [formControlName]="'direccionTipoVia'" [required]="">
                        <mat-option disabled [value]="'seleccione'">Seleccione
                        </mat-option>
                        <mat-option *ngFor="let tipoVia of tipoVias.data" [value]="tipoVia.nombre">
                            {{tipoVia.nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                    </mat-icon>
                    <mat-error *ngIf="formDeudorSolidario.controls.direccionTipoVia.errors?.required">
                        Este campo es requerido.
                    </mat-error>
                </mat-form-field>
            </ng-container>
            <ng-container>
                <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                    <mat-label>Via principal</mat-label>
                    <input
                        (keyup)="formDeudorSolidario.controls.direccionResidencial.setValue(formDeudorSolidario.controls.direccionTipoVia.value+' '+formDeudorSolidario.controls.direccionViaPrincipal.value+' # '+formDeudorSolidario.controls.direccionNumeroVia.value+' - '+formDeudorSolidario.controls.direccionDistanciaVia.value + ' ' + formDeudorSolidario.controls.direccionComplemento.value )"
                        matInput type="text" [formControlName]="'direccionViaPrincipal'" [required]="">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                    </mat-icon>
                    <mat-error *ngIf="formDeudorSolidario.controls.direccionViaPrincipal.errors?.required">
                        Este campo es requerido.
                    </mat-error>
                </mat-form-field>
            </ng-container>
            <ng-container>
                <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                    <mat-label>Número vía</mat-label>
                    <input
                        (keyup)="formDeudorSolidario.controls.direccionResidencial.setValue(formDeudorSolidario.controls.direccionTipoVia.value+' '+formDeudorSolidario.controls.direccionViaPrincipal.value+' # '+formDeudorSolidario.controls.direccionNumeroVia.value+' - '+formDeudorSolidario.controls.direccionDistanciaVia.value + ' ' + formDeudorSolidario.controls.direccionComplemento.value)"
                        matInput type="text" [formControlName]="'direccionNumeroVia'" [required]="">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                    </mat-icon>
                    <mat-error *ngIf="formDeudorSolidario.controls.direccionNumeroVia.errors?.required">
                        Este campo es requerido.
                    </mat-error>
                </mat-form-field>
            </ng-container>
            <ng-container>
                <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                    <mat-label>Distancia vía</mat-label>
                    <input
                        (keyup)="formDeudorSolidario.controls.direccionResidencial.setValue(formDeudorSolidario.controls.direccionTipoVia.value+' '+formDeudorSolidario.controls.direccionViaPrincipal.value+' # '+formDeudorSolidario.controls.direccionNumeroVia.value+' - '+formDeudorSolidario.controls.direccionDistanciaVia.value + ' ' + formDeudorSolidario.controls.direccionComplemento.value)"
                        matInput type="text" [formControlName]="'direccionDistanciaVia'" [required]="">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                    </mat-icon>
                    <mat-error *ngIf="formDeudorSolidario.controls.direccionDistanciaVia.errors?.required">
                        Este campo es requerido.
                    </mat-error>
                </mat-form-field>
            </ng-container>

        </div>
        <div class="-mx-3 md:flex mt-3 mb-2">
            <mat-form-field class="w-full px-3 fuse-mat-dense">
                <mat-label>Complemento</mat-label>
                <input
                    (keyup)="formDeudorSolidario.controls.direccionResidencial.setValue(formDeudorSolidario.controls.direccionTipoVia.value+' '+formDeudorSolidario.controls.direccionViaPrincipal.value+' # '+formDeudorSolidario.controls.direccionNumeroVia.value+' - '+formDeudorSolidario.controls.direccionDistanciaVia.value + ' ' + formDeudorSolidario.controls.direccionComplemento.value)"
                    matInput type="text" [formControlName]="'direccionComplemento'">
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                </mat-icon>
            </mat-form-field>
        </div>
        <div class="-mx-3 md:flex mt-3 mb-2">
            <mat-form-field class="w-full px-3 fuse-mat-dense">
                <mat-label>Dirección completa</mat-label>
                <input matInput type="text" [formControlName]="'direccionResidencial'" readonly="true">
            </mat-form-field>
        </div>
        <div class="-mx-3 md:flex mt-3 mb-2">


            <ng-container *ngIf="tipoVivienda$ | async as tipoViviendas">
                <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                    <mat-label>Tipo de vivienda</mat-label>
                    <mat-select [value]="'seleccione'" [formControlName]="'tipoVivienda'">
                        <mat-option disabled [value]="'seleccione'">Seleccione
                        </mat-option>
                        <mat-option *ngFor="let item of tipoViviendas.data" [value]="item.codigoOpcion">
                            {{item.descripcionOpcion}}
                        </mat-option>
                    </mat-select>
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                    </mat-icon>
                </mat-form-field>
            </ng-container>
        </div>
        <span class="bg-gray-200 p-1.5 rounded-1 text-dark">Información legal - cliente PEP</span>
        <div class="-mx-3 md:flex mt-3 mb-2">
            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                <mat-label>¿Ha ocupado cargos públicos?</mat-label>
                <mat-select [value]="'seleccione'" [formControlName]="'legalCargoPublico'">
                    <mat-option disabled [value]="''">Seleccione
                    </mat-option>
                    <mat-option [value]="'S'">SI
                    </mat-option>
                    <mat-option [value]="'N'">NO
                    </mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                </mat-icon>
                <mat-error *ngIf="formDeudorSolidario.controls.legalCargoPublico.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                <mat-label>¿Es familiar de persona expuesta política y públicamente?</mat-label>
                <mat-select [value]="'seleccione'" [formControlName]="'legalPersonalExpuesta'">
                    <mat-option disabled [value]="''">Seleccione
                    </mat-option>
                    <mat-option [value]="'S'">SI
                    </mat-option>
                    <mat-option [value]="'N'">NO
                    </mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                </mat-icon>
                <mat-error *ngIf="formDeudorSolidario.controls.legalPersonalExpuesta.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                <mat-label>¿ Tiene a su cargo la dirección de recursos en algún partido político
                    ?</mat-label>
                <mat-select [value]="'seleccione'" [formControlName]="'legalCargoPartidoPolitico'">
                    <mat-option disabled [value]="''">Seleccione
                    </mat-option>
                    <mat-option [value]="'S'">SI
                    </mat-option>
                    <mat-option [value]="'N'">NO
                    </mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                </mat-icon>
                <mat-error *ngIf="formDeudorSolidario.controls.legalCargoPartidoPolitico.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
        </div>
        <span *ngIf="formDeudorSolidario.controls.legalCargoPublico.value === 'S'"
            class="bg-gray-200 p-1.5 rounded-1 text-dark mb-2">Datos cargo público</span>

        <div *ngIf="formDeudorSolidario.controls.legalCargoPublico.value === 'S'"
            class="-mx-3 md:flex mt-3 mb-2 flex-wrap">
            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                <mat-label>Cargo</mat-label>
                <input matInput type="text" [formControlName]="'cargoPublico'">
                <mat-error *ngIf="formDeudorSolidario.controls.cargoPublico.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                <mat-label>Entidad</mat-label>
                <input matInput type="text" [formControlName]="'entidadPublico'">
                <mat-error *ngIf="formDeudorSolidario.controls.entidadPublico.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                <mat-label>¿Estás vinculado actualmente?</mat-label>
                <mat-select [value]="'seleccione'" [formControlName]="'vinculadoActualPublico'">
                    <mat-option disabled [value]="''">Seleccione
                    </mat-option>
                    <mat-option [value]="'S'">SI
                    </mat-option>
                    <mat-option [value]="'N'">NO
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="formDeudorSolidario.controls.vinculadoActualPublico.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="formDeudorSolidario.controls.vinculadoActualPublico.value === 'N'"
                class="w-1/2 px-3 fuse-mat-dense">
                <mat-label>Fecha de desvinculación</mat-label>
                <input matInput [matDatepicker]="fechaDesvinculacionPublico"
                    [formControlName]="'fechaDesvinculacionPublico'" [readonly]="true">
                <mat-datepicker-toggle matSuffix [for]="fechaDesvinculacionPublico" [disabled]="false">
                </mat-datepicker-toggle>
                <mat-datepicker #fechaDesvinculacionPublico readonly></mat-datepicker>
                <mat-error *ngIf="formDeudorSolidario.controls.fechaDesvinculacionPublico.errors?.required">
                    Este campo es requerido.
                </mat-error>
                <mat-error *ngIf="formDeudorSolidario.controls.fechaDesvinculacionPublico.errors?.dateError">
                    La fecha no puede ser mayor al día de hoy.
                </mat-error>
            </mat-form-field>
        </div>
        <span *ngIf="formDeudorSolidario.controls.legalPersonalExpuesta.value === 'S'"
            class="bg-gray-200 p-1.5 rounded-1 text-dark mb-2">Datos cargo público-Familiar</span>
        <div *ngIf="formDeudorSolidario.controls.legalPersonalExpuesta.value === 'S'"
            class="-mx-3 md:flex mt-3 mb-2 flex-wrap">
            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                <mat-label>Vinculación / Relación</mat-label>
                <input matInput type="text" [formControlName]="'vinculacionExpuesta'">
                <mat-error *ngIf="formDeudorSolidario.controls.vinculacionExpuesta.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                <mat-label>Nombre y apellido</mat-label>
                <input matInput type="text" [formControlName]="'nombreExpuesta'">
                <mat-error *ngIf="formDeudorSolidario.controls.nombreExpuesta.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                <mat-label>Tipo de ID</mat-label>
                <mat-select [value]="'seleccione'" [formControlName]="'tipoIdentificacionExpuesta'">
                    <mat-option *ngFor="let item of dataInicial?.tiposDocumentos" [value]="item.codigo">{{item.valor}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="formDeudorSolidario.controls.tipoIdentificacionExpuesta.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                <mat-label>
                    N° de identificación</mat-label>
                <input matInput type="text" mask="separator.0" thousandSeparator="."
                    [formControlName]="'identificacionExpuesta'">
                <mat-error *ngIf="formDeudorSolidario.controls.identificacionExpuesta.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                <mat-label>
                    Nacionalidad</mat-label>
                <input matInput type="text" [formControlName]="'nacionalidadExpuesta'">
                <mat-error *ngIf="formDeudorSolidario.controls.nacionalidadExpuesta.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                <mat-label>
                    Entidad</mat-label>
                <input matInput type="text" [formControlName]="'entidadExpuesta'">
                <mat-error *ngIf="formDeudorSolidario.controls.entidadExpuesta.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                <mat-label>
                    Cargo</mat-label>
                <input matInput type="text" [formControlName]="'cargoExpuesta'">
                <mat-error *ngIf="formDeudorSolidario.controls.cargoExpuesta.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                <mat-label>¿Estás vinculado actualmente?</mat-label>
                <mat-select [value]="'seleccione'" [formControlName]="'vinculadoActualExpuesta'">
                    <mat-option disabled [value]="''">Seleccione
                    </mat-option>
                    <mat-option [value]="'S'">SI
                    </mat-option>
                    <mat-option [value]="'N'">NO
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="formDeudorSolidario.controls.vinculadoActualExpuesta.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="formDeudorSolidario.controls.vinculadoActualExpuesta.value === 'N'"
                class="w-1/2 px-3 fuse-mat-dense">
                <mat-label>Fecha de desvinculación</mat-label>
                <input matInput [matDatepicker]="fechaDesvinculacionExpuesta"
                    [formControlName]="'fechaDesvinculacionExpuesta'">
                <mat-datepicker-toggle matSuffix [for]="fechaDesvinculacionExpuesta" [disabled]="false">
                </mat-datepicker-toggle>
                <mat-datepicker #fechaDesvinculacionExpuesta readonly></mat-datepicker>
                <mat-error *ngIf="formDeudorSolidario.controls.fechaDesvinculacionExpuesta.errors?.required">
                    Este campo es requerido.
                </mat-error>
                <mat-error *ngIf="formDeudorSolidario.controls.fechaDesvinculacionExpuesta.errors?.dateError">
                    La fecha no puede ser mayor al día de hoy.
                </mat-error>
            </mat-form-field>
        </div>
        <span class="bg-gray-200 p-1.5 rounded-1 text-dark font-bold">Información legal -Datos
            Sagrilaft</span>
        <div class="-mx-3 md:flex mt-3 mb-2">
            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                <mat-label>¿Realiza operaciones con moneda extranjera? </mat-label>
                <mat-select [value]="'seleccione'" [formControlName]="'legalOperacionExtranjera'">
                    <mat-option disabled [value]="''">Seleccione
                    </mat-option>
                    <mat-option [value]="'S'">SI
                    </mat-option>
                    <mat-option [value]="'N'">NO
                    </mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                </mat-icon>
                <mat-error *ngIf="formDeudorSolidario.controls.legalOperacionExtranjera.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="formDeudorSolidario.controls.legalOperacionExtranjera.value == 'S'"
                class="w-1/2 px-3 fuse-mat-dense">
                <mat-label>Que tipo de operacíon</mat-label>
                <mat-select [value]="'seleccione'" [formControlName]="'tipoOperacionExtranjera'">
                    <mat-option *ngFor="let item of dataInicial?.tipoOperacionExtranjera" [value]="item.codigo">
                        {{item.nombre}}
                    </mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                </mat-icon>
                <mat-error *ngIf="formDeudorSolidario.controls.tipoOperacionExtranjera.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="-mx-3 md:flex mt-3 mb-2">
            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                <mat-label>¿Realiza operaciones con criptomoneda?</mat-label>
                <mat-select [value]="'seleccione'" [formControlName]="'legalOperacionCriptomoneda'">
                    <mat-option disabled [value]="''">Seleccione
                    </mat-option>
                    <mat-option [value]="'S'">SI
                    </mat-option>
                    <mat-option [value]="'N'">NO
                    </mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                </mat-icon>
                <mat-error *ngIf="formDeudorSolidario.controls.legalOperacionCriptomoneda.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="formDeudorSolidario.controls.legalOperacionCriptomoneda.value == 'S'"
                class="w-1/2 px-3 fuse-mat-dense">
                <mat-label>Que tipo de operacíón realiza</mat-label>
                <mat-select [value]="'seleccione'" [formControlName]="'tipoOperacionCriptomoneda'">
                    <mat-option *ngFor="let item of dataInicial?.tipoOperacionCripto" [value]="item.codigo">
                        {{item.nombre}}
                    </mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                </mat-icon>
                <mat-error *ngIf="formDeudorSolidario.controls.tipoOperacionCriptomoneda.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="-mx-3 md:flex mt-3 mb-2">
            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                <mat-label>¿Desarrolla actividades y profesiones no financieras designadas (APNFD)?
                </mat-label>
                <mat-select [value]="'seleccione'" [formControlName]="'legalDesarrollaActividadApnfd'">
                    <mat-option disabled [value]="''">Seleccione
                    </mat-option>
                    <mat-option [value]="'S'">SI
                    </mat-option>
                    <mat-option [value]="'N'">NO
                    </mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                </mat-icon>
                <mat-error *ngIf="formDeudorSolidario.controls.legalDesarrollaActividadApnfd.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                <mat-label>¿Es responsable de declarar renta y complementarios?
                </mat-label>
                <mat-select [value]="'seleccione'" [formControlName]="'declaraRenta'">
                    <mat-option disabled [value]="''">Seleccione
                    </mat-option>
                    <mat-option [value]="'S'">SI
                    </mat-option>
                    <mat-option [value]="'N'">NO
                    </mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                </mat-icon>
            </mat-form-field>
        </div>



        <span class="bg-gray-200 p-1.5 rounded-1 text-dark font-bold">Información legal -Declaraciones y
            Autorizaciones</span>
        <div class="-mx-3 md:flex mt-3 mb-2">
            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                <mat-label>El cliente declara que sus ingresos provienen de</mat-label>
                <mat-select [value]="'seleccione'" [formControlName]="'declaroIngresoDeclaracionAuto'">
                    <mat-option disabled [value]="'seleccione'">Seleccione
                    </mat-option>
                    <mat-option *ngFor="let item of dataInicial?.declaracionIngresos" [value]="item.codigo">
                        {{item.nombre}}
                    </mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                </mat-icon>
                <mat-error *ngIf="formDeudorSolidario.controls.declaroIngresoDeclaracionAuto.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="formDeudorSolidario.controls.declaroIngresoDeclaracionAuto.value === 'OT'"
                class="w-1/2 px-3 fuse-mat-dense">
                <mat-label>Otro</mat-label>
                <input matInput type="text" [formControlName]="'otroIngresoDeclaracionAuto'">
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'">
                </mat-icon>
                <mat-error *ngIf="formDeudorSolidario.controls.otroIngresoDeclaracionAuto.errors?.required">
                    Este campo es requerido.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="-mx-3 md:flex mt-3 mb-2 mr-1 justify-end">
            <button mat-raised-button color="primary" type="button" (click)="validationPost()">
                Guardar
            </button>
        </div>
    </div>
</form>