<div class="h-screen w-100 pt-2 pb-36 rounded-lg overflow-x-auto">
    <div class="flex items-center pl-16 pt-6 pb-5 bg-white">
        <div class="flex-0 w-16 h-16  overflow-hidden">
            <img src="assets/images/agendas/Asignacion.png" class="w-full h-full object-cover">
        </div>
        <div class="flex-1 mx-3">
            <div class="text-3xl font-semibold tracking-tight leading-8">
                Asignación de barrios
            </div>
            <div class="flex items-center">
                <mat-icon svgIcon="heroicons_solid:bell"></mat-icon>
                <div class="font-medium tracking-tight text-secondary">
                    Aquí puedes asignar los asesores a los barrios
                </div>
            </div>
        </div>

    </div>

</div>
