.card_interna{
    border-left: 5px solid #b6ce1d;
    // border-top: 1px solid #dfdfdf;
    padding: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
}
.example-viewport {
  height: 600px;
  width: 1400px;
}
  
.example-item {
  height: 50px;
}