<div class="container-fluid" style="width: inherit;">
    <form [formGroup]="formHv">
        <div class="col-lg-12">
            <div class="row">
                <mat-form-field class="col-lg-4" appearance="fill">
                    <mat-label>Buscar por:</mat-label>
                    <mat-select formControlName="search" [compareWith]="compareObjects">
                        <mat-option value="1">Cedula</mat-option>
                        <mat-option value="2">NIT</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row align-items-baseline" *ngIf="formHv.controls.search.value === '1'">
                <mat-form-field class="col-lg-4" appearance="fill">
                    <mat-label>Número de identificación</mat-label>
                    <input type="number" matInput formControlName="cedula"
                        placeholder="Escribir número de identificación">
                </mat-form-field>
                <mat-form-field class="col-lg-4" appearance="fill">
                    <mat-label>Número de negocio</mat-label>
                    <mat-select formControlName="cod_negocio" [compareWith]="compareObjects">
                        <mat-option value="1">MC065812</mat-option>
                        <mat-option value="2">LB067512</mat-option>
                        <mat-option value="3">FE047512</mat-option>
                    </mat-select>
                </mat-form-field>
                <button [disabled]="formHv.invalid" class="col-lg-1" mat-flat-button color="primary">Buscar</button>
            </div>
            <div class="row align-items-baseline" *ngIf="formHv.controls.search.value === '2'">
                <mat-form-field class="col-lg-4" appearance="fill">
                    <mat-label>Número de negocio</mat-label>
                    <input type="number" matInput formControlName="cod_negocio"
                        placeholder="Escribir código de negocio">
                </mat-form-field>
                <button [disabled]="formHv.invalid" class="col-lg-1" mat-flat-button color="primary">Buscar</button>
            </div>
        </div>

    </form>

    <mat-divider class="mb-4"></mat-divider>

    <form [formGroup]="datosCliente">
        <div class="row justify-content-center">
            <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Primer Nombre</mat-label>
                <input formControlName="primer_nombre" type="text" matInput placeholder="Primer nombre">
            </mat-form-field>
            <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Segundo Nombre</mat-label>
                <input formControlName="segundo_nombre" type="text" matInput placeholder="Primer nombre">
            </mat-form-field>
        </div>
        <div class="row justify-content-center">
            <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Primer Apellido</mat-label>
                <input formControlName="primer_apellido" type="text" matInput placeholder="Primer nombre">
            </mat-form-field>
            <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Segundo Apellido</mat-label>
                <input formControlName="segundo_apellido" type="text" matInput placeholder="Primer nombre">
            </mat-form-field>
        </div>
        <div class="row justify-content-center">
            <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Departamento</mat-label>
                <input formControlName="departamento" type="text" matInput placeholder="Primer nombre">
            </mat-form-field>
            <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Ciudad / Municipio</mat-label>
                <input formControlName="ciudad" type="text" matInput placeholder="Primer nombre">
            </mat-form-field>
        </div>
        <div class="row justify-content-center">
            <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Barrio</mat-label>
                <input formControlName="barrio" type="text" matInput placeholder="Primer nombre">
            </mat-form-field>
            <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Dirección</mat-label>
                <input formControlName="direccion" type="text" matInput placeholder="Primer nombre">
            </mat-form-field>
        </div>
        <div class="row justify-content-center">
            <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Telefono</mat-label>
                <input formControlName="telefono" type="number" matInput placeholder="Primer nombre">
            </mat-form-field>
            <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Celular</mat-label>
                <input formControlName="celular" type="number" matInput placeholder="Primer nombre">
            </mat-form-field>
        </div>
        <div class="row justify-content-center">
            <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Correo electrónico</mat-label>
                <input formControlName="email" type="email" matInput placeholder="Primer nombre">
            </mat-form-field>
            <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Segmentación</mat-label>
                <input formControlName="segmento" type="email" matInput placeholder="Primer nombre">
            </mat-form-field>
        </div>
        <div class="row justify-content-center">
            <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Tipo negociación cartera</mat-label>
                <input formControlName="tipo_negociacion" type="email" matInput placeholder="Primer nombre">
            </mat-form-field>
            <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Fecha negociación</mat-label>
                <input matInput [matDatepicker]="datepicker" formControlName="fecha_negociacion">
                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                    <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                    </mat-datepicker-actions>
                </mat-datepicker>
            </mat-form-field>
        </div>
    </form>

    <mat-divider class="mb-4"></mat-divider>

    <!-- <ng-container *ngIf="(asyncTabs | async) === null">
        Loading tabs...
    </ng-container> -->

    <mat-tab-group>
        <!-- <mat-tab *ngFor="let tab of asyncTabs | async">
            <ng-template mat-tab-label>{{tab.label}}</ng-template>
            {{tab.content}}
        </mat-tab> -->
        <mat-tab>
            <ng-template mat-tab-label>Crédito</ng-template>
            <app-credito></app-credito>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>Cartera</ng-template>
            <app-cartera></app-cartera>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>Historial de gestión</ng-template>
            <app-datatable></app-datatable>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>Negociaciones</ng-template>
            <app-datatable></app-datatable>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>Extractos</ng-template>
            <app-datatable></app-datatable>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>Reportes a centrales</ng-template>
            <app-datatable></app-datatable>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label disabled>PQRS</ng-template>
            <app-datatable></app-datatable>
        </mat-tab>
    </mat-tab-group>
</div>
