<h2 mat-dialog-title>Insertar causal a PQRS hija </h2>
<div class="bg-white col-lg-12 col-sm-12">
    <div class="row"  >

            <div class="bg-white col l12">
                <div class="row justify-start ">
                    <form>
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <mat-form-field class="flex-auto w-100">
                                    <mat-label>Tipo de PQRS</mat-label>
                                    <input matInput type="text" autocomplete="off" name="tipo" disabled
                                    [(ngModel)]="data.Tiponombre">
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <mat-form-field class="flex-auto w-100">
                                    <mat-label>Causal de PQRS</mat-label>
                                    <mat-select [(ngModel)]="datos.causal" name="causal" required
                                        (ngModelChange)="buscarSelectDinamico('listado-procedimiento-causal',datos.causal,'listadoProcedimientosPQRS','procedimientos');datos.causalNombre=nombreCausal(datos.causal)">
                                        <mat-option value="" disabled>Seleccionar</mat-option>
                                        <mat-option value="{{item.id}}" *ngFor="let item of listadoCasualPQRS ">
                                            {{item.descripcion}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <mat-form-field class="flex-auto w-100">
                                    <mat-label>Solución</mat-label>
                                    <mat-select [(ngModel)]="datos.procedimiento" name="procedimiento" required
                                        (ngModelChange)="buscarSelectDinamico('listado-responsable-procedimiento',datos.procedimiento,'listadoResponsablePQRS','responsable');datos.procedimientoNombre=nombreSolucion(datos.procedimiento)">
                                        <mat-option value="" disabled>Seleccionar</mat-option>
                                        <mat-option value="{{item.id}}" *ngFor="let item of listadoProcedimientosPQRS ">
                                            {{item.descripcion}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <mat-form-field class="flex-auto w-100">
                                    <mat-label>Responsable</mat-label>
                                    <input matInput type="text" autocomplete="off" name="responsable" disabled required
                                        [(ngModel)]="datos.responsable">
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <mat-form-field class="flex-auto w-100">
                                    <mat-label>Área</mat-label>
                                    <input matInput type="text" autocomplete="off" name="area" disabled
                                        [(ngModel)]="datos.area">
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <mat-form-field class="flex-auto w-100">
                                    <mat-label>Fecha para la solución</mat-label>
                                    <input matInput type="text" autocomplete="off" name="email" disabled required
                                        [(ngModel)]="datos.fechaParaSolucion">
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

    </div>
</div>
<mat-dialog-actions align="end">
    <button mat-button   [mat-dialog-close]="datos" class="color_fintra text-white" >Guardar </button>
    <button mat-button  [mat-dialog-close]="[]" class="bg-gray-400 text-white">Cerrar </button>
</mat-dialog-actions>
