.cardComentarios{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px !important;
}

.vh68{
    height: 60vh;
}
.wfiltro{
    width: 17em;
}

.maxHeigth{
    height: 90vh;
}