<div class="bg-white h-full h-screen pb-11 overflow-auto px-3 py-2 rounded-lg shadow w-full y-100 scrollFabricaCredito scroll-smooth mb-40"
    id="scrollFabricaCredito" cdkScrollable>
    <div class="flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent mb-3">
        <div class="flex flex-col ">
            <div class=" grid grid-cols-1 md:flex  md:justify-between py-6 px-6 border-b ">
                <div class="grow h-14">
                    <h3 class="mb-2 text-gray-900">Fábrica de crédito</h3>
                    <span class="font-semibold text-gray-500">Estado solicitud: {{estado}}</span>
                </div>
                <app-fabrica-opciones></app-fabrica-opciones>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-12">
        <div class="col-span-12">
            <div [ngSwitch]="unidadNegocio">
                <div *ngSwitchCase="22">
                    <app-form-gestion-fabrica-libranza></app-form-gestion-fabrica-libranza>
                </div>
                <div *ngSwitchCase="23">
                    <app-form-gestion-fabrica-libranza-publica></app-form-gestion-fabrica-libranza-publica>
                </div>
                <div *ngSwitchCase="30">
                    <app-form-gestion-fabrica-consumo></app-form-gestion-fabrica-consumo>
                </div>
                <div *ngSwitchCase="32">
                    <app-form-gestion-fabrica-ultracem></app-form-gestion-fabrica-ultracem>
                </div>
                <div *ngSwitchCase="1">
                    <form-gestion-fabrica-fabrica-micro></form-gestion-fabrica-fabrica-micro>
                </div>
                <div *ngSwitchDefault>
                </div>
            </div>
        </div>
    </div>
</div>
