<div class="bg-white h-screen pb-11 overflow-auto px-3 rounded-lg shadow w-full y-100" cdkScrollable>
    <div class="flex flex-wrap w-full mx-auto p-6 md:p-8 bg-white z-10">

        <!-- Title and action buttons -->
        <div class="flex items-center justify-between w-full sm:flex-row flex-col">
            <div class="flex items-center ">
                <div class="flex-0 w-16 h-16  overflow-hidden">
                    <img src="assets/images/agendas/formulario-de-llenado.png" class="w-full h-full object-cover">
                </div>
                <div class="flex-1 mx-3">
                    <div class="text-3xl font-bold tracking-tight leading-8 text-gray-700">Formulario de microcrédito
                    </div>
                    <div class="flex items-center">
                        <mat-icon svgIcon="heroicons_solid:bell" class="text-gray-400"></mat-icon>
                        <div class="font-medium tracking-tight text-secondary">
                            Complete el formulario
                        </div>
                    </div>


                </div>

            </div>
            <app-fabrica-opciones *ngIf="!numeroSolicitud"></app-fabrica-opciones>
        </div>
    </div>
    <mat-stepper [linear]="true" [orientation]="orientationStep" #stepper class="md:px-8 sm:px-0"
        (selectionChange)="onStepChange($event)">
        <mat-step [stepControl]="datosBasicos">
            <div class="bg-white  pt-6 grid grid-cols-1   ">
                <form [formGroup]="datosBasicos">
                    <ng-template matStepLabel>Datos básicos</ng-template>
                    <div class="bg-white  rounded  grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
                        <mat-form-field class="w-full px-3 fuse-mat-dense">
                            <mat-label>Tipo de identificación</mat-label>
                            <mat-select formControlName="tipoDocumento"
                                (selectionChange)="solicitudesFormularioSimulaciones();preSolicitud()">
                                <mat-option *ngFor="let tiposDocumentos of dataInicial?.tiposDocumentos"
                                    [value]="tiposDocumentos.codigo"
                                    [disabled]="tiposDocumentos.codigo === 'CE'">{{tiposDocumentos.valor}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="w-full px-3 fuse-mat-dense">
                            <mat-label>No. de identificación</mat-label>
                            <input [mask]="'separator.0'" [thousandSeparator]="'.'" matInput type="text"
                                autocomplete="off" formControlName="identificacion"
                                (change)="solicitudesFormularioSimulaciones();preSolicitud()">
                            <mat-error *ngIf="datosBasicos.controls.identificacion.errors?.required">
                                Este campo es requerido.
                            </mat-error>
                            <mat-error *ngIf="datosBasicos.controls.identificacion.errors?.pattern">
                                Cantidad de números de 5-10.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-full px-3 fuse-mat-dense">
                            <mat-label>Celular</mat-label>
                            <input (change)="preSolicitud()" matInput type="text" autocomplete="off"
                                formControlName="celular" prefix="+57 " mask="(000) 000 00 00">
                            <mat-error *ngIf="datosBasicos.controls.celular.errors?.required">
                                Este campo es requerido.
                            </mat-error>
                            <mat-error *ngIf="datosBasicos.controls.celular.errors?.pattern">
                                Debe comenzar en 3 y tener 10 digitos
                            </mat-error>

                        </mat-form-field>
                        <mat-form-field class="w-full px-3 fuse-mat-dense">
                            <mat-label>Primer nombre</mat-label>
                            <input matInput type="text" autocomplete="off" formControlName="primerNombre">
                            <mat-error *ngIf="datosBasicos.controls.primerNombre.errors?.required">
                                Este campo es requerido.
                            </mat-error>
                            <mat-error *ngIf="datosBasicos.controls.primerNombre.errors?.pattern">
                                No se aceptan caracteres especiales.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-full px-3 fuse-mat-dense">
                            <mat-label>Primer apellido</mat-label>
                            <input matInput type="text" autocomplete="off" formControlName="primerApellido">
                            <mat-error *ngIf="datosBasicos.controls.primerApellido.errors?.required">
                                Este campo es requerido.
                            </mat-error>
                            <mat-error *ngIf="datosBasicos.controls.primerApellido.errors?.pattern">
                                No se aceptan caracteres especiales.
                            </mat-error>
                        </mat-form-field>


                        <mat-form-field class="w-full px-3 fuse-mat-dense">
                            <mat-label>Correo electrónico</mat-label>
                            <input matInput type="email" (change)="preSolicitud()" autocomplete="off"
                                formControlName="email">
                            <mat-error *ngIf="datosBasicos.controls.email.errors?.required">
                                Este campo es requerido.
                            </mat-error>
                            <mat-error *ngIf="datosBasicos.controls.email.errors?.email">
                                Email invalido.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-full px-3 fuse-mat-dense ">
                            <mat-label>Fecha de nacimiento</mat-label>
                            <input style="max-height: 18px !important;" matInput type="date" autocomplete="off"
                                formControlName="fechaNacimiento">
                            <mat-error *ngIf="datosBasicos.controls.fechaNacimiento.errors?.required">
                                Este campo es requerido.
                            </mat-error>
                            <mat-error *ngIf="datosBasicos.controls.fechaNacimiento.errors?.dateError">
                                La fecha no puede ser mayor al día de hoy.
                            </mat-error>
                            <mat-error *ngIf="datosBasicos.controls.fechaNacimiento.errors?.dateMayor">
                                La fecha tiene que ser 18 años menor al día de hoy.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-full px-3 fuse-mat-dense">
                            <mat-label>Nivel de estudio </mat-label>
                            <mat-select formControlName="nivelEstudio">
                                <mat-option *ngFor="let nivelEstudio of dataInicial?.nivelesEstudio"
                                    [value]="nivelEstudio.codigoOpcion">{{nivelEstudio.descripcionOpcion}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="datosBasicos.controls.nivelEstudio.errors?.required">
                                Este campo es requerido.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-full px-3 fuse-mat-dense">
                            <mat-label>Estrato</mat-label>
                            <mat-select formControlName="estrato">
                                <mat-option *ngFor="let estratosVivienda of dataInicial?.estratosVivienda"
                                    [value]="estratosVivienda.codigo">{{estratosVivienda.nombre}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="datosBasicos.controls.estrato.errors?.required">
                                Este campo es requerido.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-full px-3 fuse-mat-dense">
                            <mat-label>Tipo de crédito</mat-label>
                            <mat-select formControlName="tipoCredito">
                                <mat-option *ngFor="let tipoCredito of dataInicial?.tiposCreditosSelect"
                                    [value]="tipoCredito.codigo">{{tipoCredito.nombre}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="datosBasicos.controls.tipoCredito.errors?.required">
                                Este campo es requerido.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-full px-3 fuse-mat-dense">
                            <mat-label>Género</mat-label>
                            <mat-select formControlName="genero">
                                <mat-option *ngFor="let genero of dataInicial?.generos" [value]="genero.codigo">
                                    {{genero.nombre}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="datosBasicos.controls.genero.errors?.required">
                                Este campo es requerido.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-full px-3 fuse-mat-dense">
                            <mat-label>Categoría de sisbén</mat-label>
                            <mat-select formControlName="categoriaSisben">
                                <mat-option *ngFor="let sisben of dataInicial?.categoriasSisben" [value]="sisben.codigo">
                                    {{sisben.nombre}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="datosBasicos.controls.categoriaSisben.errors?.required">
                                Este campo es requerido.
                            </mat-error>
                        </mat-form-field>
                        <div class="bg-white rounded flex justify-end items-center sm:col-span-1 md:col-span-3 mt-2 px-3 xl:col-span-3">
                            <button mat-raised-button color="primary" type="button" matStepperNext>
                                Siguiente
                                <mat-icon svgIcon="arrow_right"></mat-icon>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </mat-step>
        <mat-step [stepControl]="datosNegocio">
            <div class="bg-white  pt-6 grid grid-cols-1   ">
                <ng-template matStepLabel>Datos del negocio</ng-template>
                <form [formGroup]="datosNegocio" class="grid sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
                    <mat-form-field class="w-full px-3 fuse-mat-dense">
                        <mat-label>¿Comercializas productos o servicios?</mat-label>
                        <mat-select formControlName="tipoActividad">
                            <mat-option *ngFor="let actividadesMicro of dataInicial?.actividadesMicro"
                                [value]="actividadesMicro.codigo">{{actividadesMicro.valor}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="datosNegocio.controls.tipoActividad.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-full px-3 fuse-mat-dense">
                        <mat-label>¿ Tu negocio está registrado en cámara de comercio?</mat-label>
                        <mat-select formControlName="camaraComercio">
                            <mat-option *ngFor="let camaraComercio of dataInicial?.camaraComercio"
                                [value]="camaraComercio.codigo">{{camaraComercio.valor}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="datosNegocio.controls.camaraComercio.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-full px-3 fuse-mat-dense">
                        <mat-label>¿En qué tipo de local queda tu negocio?</mat-label>
                        <mat-select formControlName="tipoLocal">
                            <mat-option *ngFor="let tiposLocales of dataInicial?.tiposLocales"
                                [value]="tiposLocales.codigo">{{tiposLocales.valor}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="datosNegocio.controls.tipoLocal.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field *ngIf="datosNegocio.controls.tipoLocal.value !== '6'"
                        class="w-full px-3 fuse-mat-dense" hideRequiredMarker>
                        <mat-label>Antiguedad del local en meses </mat-label>
                        <input matInput type="number" autocomplete="off" formControlName="antiguedadLocal">
                        <mat-error *ngIf="datosNegocio.controls.antiguedadLocal.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                        <mat-error *ngIf="datosNegocio.controls.antiguedadLocal.errors?.min">
                            No se permiten números negativos
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-full px-3 fuse-mat-dense">
                        <mat-label>Actividad económica </mat-label>
                        <mat-select formControlName="actividadEconomica">
                            <mat-option *ngFor="let ActividadEconomica of listadoActividadEconomica"
                                [value]="ActividadEconomica.codigo">{{ActividadEconomica.valor}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="datosNegocio.controls.actividadEconomica.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-full px-3 fuse-mat-dense">
                        <mat-label>Actividad específica</mat-label>
                        <input matInput type="text" autocomplete="off" formControlName="actividadEspecifica">
                        <mat-error *ngIf="datosNegocio.controls.actividadEspecifica.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-full px-3 fuse-mat-dense">
                        <mat-label>¿Cuánto tiempo en (meses) llevas ejerciendo esta actividad? </mat-label>
                        <input matInput type="number" autocomplete="off" formControlName="antiguedadActividad">
                        <mat-error *ngIf="datosNegocio.controls.antiguedadActividad.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                        <mat-error *ngIf="datosNegocio.controls.antiguedadActividad.errors?.min">
                            No se permiten números negativos
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-full px-3 fuse-mat-dense">
                        <mat-label>¿Cuánto tiempo en (meses) tiene tu negocio?</mat-label>
                        <input matInput type="number" autocomplete="off" formControlName="antiguedadNegocio">
                        <mat-error *ngIf="datosNegocio.controls.antiguedadNegocio.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                        <mat-error *ngIf="datosNegocio.controls.antiguedadNegocio.errors?.min">
                            No se permiten números negativos
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-full px-3 fuse-mat-dense">
                        <mat-label>¿En qué departamento de colombia queda tu negocio?</mat-label>
                        <mat-select formControlName="departamentoNegocio" (selectionChange)="listarCiudades()">
                            <mat-option *ngFor="let departamentosMicro of dataInicial?.departamentosMicro"
                                [value]="departamentosMicro.codigo">{{departamentosMicro.valor}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="datosNegocio.controls.departamentoNegocio.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-full px-3 fuse-mat-dense">
                        <mat-label>¿En qué municipio o ciudad está tu negocio? </mat-label>
                        <mat-select formControlName="ciudadNegocio" (selectionChange)="listarBarrios()">
                            <mat-option *ngFor="let ciudades of listadoCiudades"
                                [value]="ciudades.codigo">{{ciudades.valor}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="datosNegocio.controls.ciudadNegocio.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-full px-3 fuse-mat-dense">
                        <mat-label>¿En qué barrio queda tu negocio?</mat-label>
                        <mat-select (selectionChange)="getAsesor()" formControlName="barrioNegocio">
                            <mat-option *ngFor="let barrios of listadoBarrios"
                                [value]="barrios.codigo">{{barrios.upper}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="datosNegocio.controls.barrioNegocio.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>
                    <div class="bg-white rounded flex justify-end items-center sm:col-span-1 md:col-span-2 mt-2 px-3 xl:col-span-3">
                        <button mat-raised-button color="primary" type="button" matStepperNext>
                            Siguiente
                            <mat-icon svgIcon="arrow_right"></mat-icon>
                        </button>
                    </div>
                </form>
            </div>
        </mat-step>
        <mat-step [stepControl]="datosDelCredito">
            <div class="pt-6">
                <ng-template matStepLabel>Datos del crédito</ng-template>
                <form [formGroup]="datosDelCredito" class="grid sm:grid-cols-1 md:grid-cols-2">
                    <mat-form-field class="w-full px-3 fuse-mat-dense">
                        <mat-label>¿Cuánto dinero necesitas para tu negocio?</mat-label>
                        <input matInput type="text" autocomplete="off" formControlName="valorCredito" mask="separator.0"
                            thousandSeparator="." matTooltip="¿Cuánto dinero necesitas para tu negocio?">
                        <mat-error *ngIf="datosDelCredito.controls.valorCredito.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                        <mat-error *ngIf="datosDelCredito.controls.valorCredito.errors?.min">
                            Monto mínimo de {{datosDelCredito.controls.valorCredito.errors?.min.min}}
                        </mat-error>
                        <mat-error *ngIf="datosDelCredito.controls.valorCredito.errors?.max">
                            Monto máximo de {{datosDelCredito.controls.valorCredito.errors?.max.max}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-full px-3 fuse-mat-dense">
                        <mat-label>¿En cuántos meses vas a pagar tu crédito?</mat-label>
                        <input matInput type="number" autocomplete="off" [min]="plazosCredito?.data[0].plazoMinimo"
                            [max]="plazosCredito?.data[0].plazoMaximo" formControlName="plazoCredito">
                        <mat-error *ngIf="datosDelCredito.controls.plazoCredito.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                        <mat-error *ngIf="
                        datosDelCredito.controls.plazoCredito.errors
                    ?.min
            ">
                            No puede ser menor a {{plazosCredito?.data[0].plazoMinimo}}
                        </mat-error>
                        <mat-error *ngIf="
                        datosDelCredito.controls.plazoCredito.errors
                    ?.max
            ">
                            No puede ser mayor a {{plazosCredito?.data[0].plazoMaximo}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-full px-3 fuse-mat-dense">
                        <mat-label>Asesor de microcrédito</mat-label>
                        <input matInput type="text" autocomplete="off" formControlName="asesorMicro" readonly="true">

                    </mat-form-field>
                    <div class="bg-white rounded flex justify-end items-center sm:col-span-1 md:col-span-2 mt-2 px-3">
                        <button mat-raised-button color="primary" type="button" matStepperNext>
                            Siguiente
                            <mat-icon svgIcon="arrow_right"></mat-icon>
                        </button>
                    </div>
                </form>
            </div>
        </mat-step>

        <mat-step [stepControl]="verificacionOTP">
            <div class="pt-6">
                <ng-template matStepLabel>Verificación</ng-template>

                <app-otp [numeroSolicitud]="numeroSolicitud ? numeroSolicitud : numeroSolicitudTemporal"
                    (otpValidado)="otpValidadoChange($event)" [datosBasicos]="datosBasicos"></app-otp>

                <div class="bg-white  rounded px-8 pt-6 pb-8 mb-18 sm:flex sm:justify-end gap-4">
                    <button mat-raised-button color="primary" type="button"
                        [disabled]="!this.otpValidado || this.datosBasicos.invalid" (click)="save()">
                        Guardar
                    </button>
                </div>
            </div>
        </mat-step>
    </mat-stepper>
</div>
