<div class="bg-white h-full h-screen pb-11 overflow-auto px-3 rounded-lg shadow w-full y-100" cdkScrollable>
    <div class="flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent mb-3">
        <div class="flex flex-col">
            <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-6 px-6 md:px-8 border-b">
                <div class="grow h-14">
                    <h3 class="mb-2 text-gray-900">Formulario de microcrédito</h3>
                    <span class="font-semibold text-gray-500 hidden sm:block">Favor llenar la información. Todos los
                        campos son obligatorios</span>
                </div>

            </div>
        </div>
    </div>

    <form [formGroup]="form">
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4">
            <div class="col-lg-12 col-sm-12 cursor-pointer font-semibold mb-2 ml-3 mt-1 pl-0 text-2xl md:col-span-4">
                Datos
                básicos
            </div>
            <mat-form-field class="w-full px-3 fuse-mat-dense">
                <mat-label>Tipo de identificación</mat-label>
                <mat-select formControlName="tipoDocumento">
                    <mat-option *ngFor="let tiposDocumentos of dataInicial?.tiposDocumentos"
                        [value]="tiposDocumentos.codigo">{{tiposDocumentos.valor}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="w-full px-3 fuse-mat-dense">
                <mat-label>No. de identificación</mat-label>
                <input matInput type="text" autocomplete="off" >
            </mat-form-field>
            <mat-form-field class="w-full px-3 fuse-mat-dense">
                <mat-label>Primer nombre</mat-label>
                <input matInput type="text" autocomplete="off">
            </mat-form-field>
            <mat-form-field class="w-full px-3 fuse-mat-dense">
                <mat-label>Primer apellido</mat-label>
                <input matInput type="text" autocomplete="off">
            </mat-form-field>

            <mat-form-field class="w-full px-3 fuse-mat-dense">
                <mat-label>Celular</mat-label>
                <input matInput type="text" autocomplete="off">
            </mat-form-field>
            <mat-form-field class="w-full px-3 fuse-mat-dense">
                <mat-label>Correo electrónico</mat-label>
                <input matInput type="email" autocomplete="off">
            </mat-form-field>
            <mat-form-field class="w-full px-3 fuse-mat-dense">
                <mat-label>Fecha de nacimiento</mat-label>
                <input matInput type="date" autocomplete="off">
            </mat-form-field>
            <mat-form-field class="w-full px-3 fuse-mat-dense">
                <mat-label>Nivel de estudio </mat-label>
                <mat-select formControlName="nivelEstudio">
                    <mat-option *ngFor="let nivelEstudio of dataInicial?.nivelEstudio"
                        [value]="nivelEstudio.codigoOpcion">{{nivelEstudio.descripcionOpcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-full px-3 fuse-mat-dense">
                <mat-label>Estrato</mat-label>
                <mat-select formControlName="estrato">
                    <mat-option *ngFor="let estratosVivienda of dataInicial?.estratosVivienda"
                        [value]="estratosVivienda.codigo">{{estratosVivienda.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 grid grid-cols-1   md:grid-cols-2">

            <div class="col-lg-12 col-sm-12 cursor-pointer font-semibold mb-2 ml-3 mt-1 pl-0 text-2xl md:col-span-2">
                Datos
                del negocio
            </div>
            <mat-form-field class="w-full px-3 fuse-mat-dense">
                <mat-label>¿ Comercializas productos o servicios?</mat-label>
                <mat-select formControlName="tipoActividad">
                    <mat-option *ngFor="let actividadesMicro of dataInicial?.actividadesMicro"
                        [value]="actividadesMicro.codigo">{{actividadesMicro.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="w-full px-3 fuse-mat-dense">
                <mat-label>¿ Tu negocio está registrado en cámara de comercio?</mat-label>
                <mat-select formControlName="tipoActividad">
                    <mat-option value="S">Si, estoy reguistrado
                    </mat-option>
                    <mat-option value="N">No, no estoy reguistrado
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="w-full px-3 fuse-mat-dense">
                <mat-label>¿ En qué tipo de local queda tu negocio?</mat-label>
                <mat-select formControlName="tipoLocal">
                    <mat-option *ngFor="let tiposLocales of dataInicial?.tiposLocales"
                        [value]="tiposLocales.codigo">{{tiposLocales.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-full px-3 fuse-mat-dense">
                <mat-label>Actividad económica </mat-label>
                <mat-select formControlName="actividadEconomica">
                    <mat-option *ngFor="let actividadesMicro of dataInicial?.actividadesMicro"
                        [value]="actividadesMicro.codigo">{{actividadesMicro.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="w-full px-3 fuse-mat-dense">
                <mat-label>Actividad Especifica</mat-label>
                <input matInput type="text" autocomplete="off" formControlName="antiguedadActividad">
            </mat-form-field>
            <mat-form-field class="w-full px-3 fuse-mat-dense">
                <mat-label>¿ Cuánto tiempo en (meses) llevas ejerciendo esta actividad? </mat-label>
                <input matInput type="number" autocomplete="off" formControlName="antiguedadNegocio">
            </mat-form-field>
            <mat-form-field class="w-full px-3 fuse-mat-dense">
                <mat-label>¿ Cuánto tiempo en (meses)tiene tu negocio?</mat-label>
                <input matInput type="number" autocomplete="off" formControlName="antiguedadActividad">
            </mat-form-field>

            <mat-form-field class="w-full px-3 fuse-mat-dense">
                <mat-label>¿En que departamento de colombia queda tu negocio?</mat-label>
                <input matInput type="text" autocomplete="off">
            </mat-form-field>
            <mat-form-field class="w-full px-3 fuse-mat-dense">
                <mat-label>¿En qué municipio o ciudad está tu negocio?</mat-label>
                <input matInput type="text" autocomplete="off">
            </mat-form-field>
            <mat-form-field class="w-full px-3 fuse-mat-dense">
                <mat-label>¿En qué barrio queda tu negocio?</mat-label>
                <input matInput type="text" autocomplete="off">
            </mat-form-field>

            <mat-form-field class="w-full px-3 fuse-mat-dense">
                <mat-label>¿ Cuánto dinero necesitas para tu negocio?</mat-label>
                <input matInput type="number" autocomplete="off">
            </mat-form-field>
            <mat-form-field class="w-full px-3 fuse-mat-dense">
                <mat-label>¿ En cuántos meses vas a pagar tu crédito?</mat-label>
                <input matInput type="number" autocomplete="off">
            </mat-form-field>
            <mat-form-field class="w-full px-3 fuse-mat-dense">
                <mat-label>Código del asesor</mat-label>
                <input matInput type="text" autocomplete="off">
            </mat-form-field>
        </div>



        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 sm:flex sm:justify-end">
            <button mat-raised-button color="primary" type="button">
                Guardar
            </button>
        </div>
    </form>
</div>