<h2 mat-dialog-title>Detalle de la excepción</h2>

<mat-dialog-content *ngIf="data" class="py-2">
    <div class="grid-cols-12 ">
        <div class="col-span-12">
            <form [formGroup]="form">
                <div class="bg-white flex flex-col">

                    <div class="flex justify-end items-center min-h-9 ">
                        <div>Excepcionar</div>
                        <div class="toggle-button-cover">
                            <div class="button-cover">
                                <div class="button r" id="button-1">
                                    <input type="checkbox" class="checkbox" formControlName="excepcion">
                                    <div class="knobs"></div>
                                    <div class="layer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md:flex">
                        <mat-form-field class="w-full fuse-mat-dense">
                            <mat-label>Comentario</mat-label>
                            <textarea class="h-60" matInput [formControlName]="'excepcionText'"
                                [readonly]="data.idComentario">
                            </textarea>
                            <mat-error *ngIf="form.controls.excepcionText.errors?.required">Este campo es
                                requerido.</mat-error>
                            <mat-error *ngIf="form.controls.excepcionText.errors?.maxlength">Caracteres máximos
                                1000.</mat-error>
                        </mat-form-field>


                    </div>
                    
                </div>
            </form>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="flex flex-row items-center justify-end sm:justify-end w-full">
        <ng-container *ngIf="!data.idComentario">
            <button mat-raised-button color="primary" type="button" (click)="onGuardar()" [disabled]="form.invalid">
                Guardar
            </button>
        </ng-container>
        <button mat-raised-button class="mr-2 bg-gray-400 text-white" type="button" (click)="onCerrar()">
            Cerrar
        </button>
    </div>
</mat-dialog-actions>