<div class="bg-white sm:h-128 lg:h-screen overflow-auto px-3 py-2 rounded-lg shadow w-full">
    <div class="flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
        <div class="flex flex-col">
            <div class="flex flex-row flex-0 sm:items-center justify-end">
                <button mat-icon-button matTooltip="Minimizar" (click)="onMinimiza();">
                    <mat-icon [svgIcon]="'mat_outline:minimize'"></mat-icon>
                </button>
                <button mat-icon-button matTooltip="Cerrar" (click)="onCerrar()">
                    <mat-icon [svgIcon]="'mat_outline:close'"></mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="relative flex flex-col flex-auto min-w-0 overflow-hidden w-full">
        <!-- Main -->
        <div class="flex flex-col flex-auto px-2 py-4 sm:pb-20">
            <!-- Activity feed -->
            <!-- Activity feed -->
            <div class="w-full mb-4">
                <!-- Title -->
                <h3 class="mb-2 text-gray-900">Documentos</h3>
                <span class="font-semibold text-gray-500">Archivos de los documentos </span>


            </div>

            <div class="flex flex-col justify-center items-center mt-2 divide-y">
                <mat-tab-group class="flex w-full justify-items-center items-center moreWidth">
                    <mat-tab *ngFor="let documentosPorTipo of documentos | keyvalue: keyDescOrder">
                        <ng-template matTabLabel>{{getTituloPorKey(documentosPorTipo.key)}}</ng-template>
                        <ng-container *ngFor="let documento of documentosPorTipo.value">
                            <div class="grid grid-cols-12 gap-2 items-center p-2 mx-2 w-11/12 justify-self-center shadow-md rounded-lg">

                                <div class="col-span-2 flex justify-center h-full items-center w-full border-r-2">
                                    <mat-icon [svgIcon]="'mat_outline:close'"></mat-icon>
                                </div>
                                <div class="col-span-8  px-4 min-h-18">
                                    <span class="text-blue-500 font-semibold">{{documento.descripcion}}</span>
                                    <p class="text-gray-400 font-normal">
                                        {{documento.nombreArchivo}}</p>
                                </div>
                                <div class="col-span-2 border-l-2 h-full w-full flex justify-center items-center">
                                    <mat-icon class="text-blue-500" [svgIcon]="'heroicons_outline:chevron-double-down'"></mat-icon>
                                </div>

                            </div>
                        </ng-container>
                    </mat-tab>
                </mat-tab-group>

            </div>

        </div>
    </div>
</div>
