<h2 mat-dialog-title>Seleccione las actividades ya realizadas</h2>
<mat-dialog-content class="mat-typography">



    <div class="w-3/12 text-center" *ngIf="listado.length==0">
        <img src="assets/images/animaciones/nodata.gif">
    </div>
    <form [formGroup]="form" *ngIf="listado.length">
        <mat-selection-list formControlName="selectedTech">
          <mat-list-option  *ngFor="let data of listado;let indice=index" value="{{data.idItem}}" >
            {{data.nombre}}
          </mat-list-option>
        </mat-selection-list>
      </form> 
    <p>
        Total seleccionado: {{form.value.selectedTech | json}}
    </p>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>