.only-number::-webkit-outer-spin-button,
            ::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance:textfield;
}

.permitir:enabled {
    background-color: #4ABBEC
}

.bloquear:disabled{
    background-color: white;
    border: 1px solid rgb(212, 212, 212);
}