<div class="py-2 px-3 h-screen w-100 bg-white rounded-lg overflow-x-auto">
    <div class="flex flex-row w-100">
        <h2 class="mb-2 text-gray-900">Solicitudes de traslado</h2>
    </div>

    <div class="flex flex-row w-100 justify-between mb-3">
        <div>
            <button mat-raised-button class="text-white color_fintra" (click)="abrirDeuda()">Total deuda</button>
        </div>
        <div class="w-1/5">
            <input class="border rounded p-2 bg-gray-100 w-full" style="font-size: 10px; margin-right: 1em;"
                type="text" autocomplete="off" name="filtrarTabla" [(ngModel)]="filtrarTabla"
                placeholder="Filtrar...">
        </div>
    </div>

    <div class="w-full overflow-y-auto shadow" *ngIf="listado.length>0">
        <table class="p-0">
            <thead class="bg-gray-100">
                <tr class="text-md font-semibold tracking-wide text-left text-gray-400 border-b border-gray-600">
                    <th class="py-3 text-center">Origen</th>
                    <th class="py-3 text-center">Monto</th>
                    <th class="py-3 text-center">Destino</th>
                    <th class="py-3 text-center"># de cuenta</th>
                    <th class="py-3 text-center">Tipo de cuenta</th>
                    <th class="py-3 text-center">Banco</th>
                    <th class="py-3 text-center">Fecha de solicitud</th>
                    <th class="py-3 text-center">Correo</th>
                    <th class="py-3 text-center">Acciones</th>
                </tr>
            </thead>
            <tbody class="bg-white">
                <tr class="text-gray-700" *ngFor="let item of listado | filter:filtrarTabla">
                    <td class="text-sm border text-center py-3">{{ item.origen }}</td>
                    <td class="text-sm border text-center">$ {{ item.monto | number }}</td>
                    <td class="text-sm border text-center">{{ item.destino }}</td>
                    <td class="text-sm border text-center">{{ item.cuenta }}</td>
                    <td class="text-sm border text-center">{{ item.tipo_cuenta }}</td>
                    <td class="text-sm border text-center">{{ item.banco }}</td>
                    <td class="text-sm border text-center">{{ item.fecha }}</td>
                    <td class="text-sm border text-center">{{ item.correo }}</td>
                    <td class="text-sm border text-center">
                        <div class="flex flex-row justify-center gap-2">
                            <button mat-icon-button class="cursor-pointer border" (click)="abrirObservacion()">
                                <mat-icon svgIcon="heroicons_outline:eye"></mat-icon>
                            </button>
                            <button mat-icon-button class="cursor-pointer border bg-green-200" *ngIf="item.aprobar=='S'">
                                <mat-icon svgIcon="heroicons_outline:check"></mat-icon>
                            </button>
                            <button mat-icon-button class="cursor-pointer border bg-red-200" *ngIf="item.aprobar=='S'">
                                <mat-icon svgIcon="heroicons_outline:x"></mat-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>