.text-xxs{
    font-size: 8px;
}

.text-smx{
    font-size: 10px;
}

.icon-xxs{
    width: 11px !important;
    height: 11px !important;
    min-width: 11px !important;
    min-height: 11px !important;
    line-height: 11px !important;
}
