/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.text-xxs{
    font-size: 8px;
}

.text-smx{
    font-size: 10px;
}

.icon-xxs{
    width: 12px !important;
    height: 12px !important;
    min-width: 12px !important;
    min-height: 12px !important;
    line-height: 12px !important;
}

.bg-yellowCustom{
    background-color: rgb(255, 158, 0);
}

.customBTM{
    background-color: #2196f3;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 500;
    &:hover{
        background-color: #2195f3a8;
    }
}

.flexWrapCustom{
    flex-wrap: nowrap;
    @media screen and (max-width: 600px) {
        flex-wrap: wrap;
    }
}

.customDivButton{
    justify-content: end;
    width: 50%;
    @media screen and (max-width: 600px) {
        width: 100%;
        justify-content: center;
    }
}