<cdk-virtual-scroll-viewport appendOnly itemSize="50" class="h-140 w-320">

   <div class="relative flex flex-col flex-auto min-w-0 overflow-hidden">
       
        <div class="flex flex-col md:flex-row flex-auto px-6 py-10 md:justify-between">

            <div class="text-4xl font-extrabold tracking-tight leading-none">Historial de archivos</div>

            <mat-form-field class="w-90 md:w-96 top-5 md:top-0">
                <mat-icon>search</mat-icon>
                <input matInput type="text" placeholder="Buscar Archivos por nombre o extension" [(ngModel)]="value">
                <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

        </div>

        <div class="px-16">

            <div *ngFor="let file of files | filter:value; let i = index; let first = first; trackBy: trackByFn">

                <ng-container *ngIf="first || !isSameDay(file.date, files[i - 1].date)">
                    <li class="relative flex py-7">
                        <div class="relative py-2 px-8 text-md font-medium leading-5 rounded-full bg-primary text-on-primary">
                            {{getRelativeFormat(file.date)}}
                        </div>
                    </li>
                </ng-container>

                <div class="flex">

                    <div class="w-full">

                        <ng-container>
    
                            <li class="relative flex py-3 px-4">
    
                                <fuse-card class="flex flex-col md:flex-row max-w-80 md:max-w-280 w-full filter-testimonial shadow">
                    
                                    <div class="flex-0 w-80 md:w-32">
            
                                        <div class="aspect-w-9 aspect-h-6">
            
                                            <div class="flex items-center justify-center">
                                                
                                                <div class="relative self-center top-7">
            
                                                    <mat-icon class="icon-size-14 text-hint" [svgIcon]="'iconsmind:file'"></mat-icon>
            
                                                    <div
                                                        class="absolute left-0 bottom-0 px-1.5 rounded text-sm font-semibold leading-5 text-white"
                                                        [class.bg-red-600]="file.type === 'pdf'"
                                                        [class.bg-blue-600]="file.type === 'doc'"
                                                        [class.bg-green-600]="file.type === 'xls'"
                                                        [class.bg-gray-600]="file.type === 'txt'"
                                                        [class.bg-amber-600]="file.type === 'jpg'">
                                                        {{file.type.toUpperCase()}}
                                                    </div>
            
                                                </div>
            
                                            </div>
            
                                        </div>
            
                                    </div>
            
                                    <div class="flex flex-col flex-auto m-8 top-5">
            
                                        <ng-container *ngIf="file.name">
            
                                            <div class="text-lg font-medium line-clamp-2">{{file.name}}</div>
                                
                                        </ng-container>
            
                                        <div class="flex flex-col sm:flex-row sm:items-center mt-2 sm:mt-1 sm:space-x-2 text-md leading-5">
                                            
                                            <div class="text-secondary">
            
                                                {{file.date | date:'MMM dd, h:mm a'}}
                                                
                                            </div>
            
                                        </div>
            
                                    </div>
            
                                    <div class="flex flex-col flex-auto m-8 items-end">
            
                                        <ng-container *ngIf="file.icon">
                                            <div class="flex flew-row items-center gap-4 justify-between w-15 h-12 mr-14 rounded-full">
                                                <button mat-raised-button><mat-icon class="icon-size-5 text-white" [svgIcon]="file.icon"></mat-icon></button>
                                                <a class="cursor-pointer" (click)="openDialog()"><mat-icon class="hover:bg-hover">remove_red_eye</mat-icon></a>
                                            </div>
                                        </ng-container>
                                        
                                    </div>
            
                                </fuse-card>
            
                            </li>
    
                        </ng-container>
    
                    </div>

                </div>

            </div>

        </div>

   </div>
    
</cdk-virtual-scroll-viewport>