<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container class="flex-auto bg-card dark:bg-transparent">
        <!-- Drawer -->
        <mat-drawer class="w-full md:w-160 dark:bg-gray-900" [opened]="false" [position]="'end'" [disableClose]="true"
            #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">
            <!-- Main -->
            <div class="flex-auto">
                <!-- Header -->
                <div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-8 px-6 md:px-8 border-b">
                    <!-- Title -->
                    <div>
                        <div class="flex-1 mx-3">
                            <div class="text-3xl font-semibold tracking-tight leading-8">Búsqueda de crédito
                            </div>
                            <div class="flex items-center">
                                <mat-icon svgIcon="heroicons_solid:bell"></mat-icon>
                                <div class="font-medium tracking-tight text-secondary">
                                    <ng-container *ngIf="listadoCount > 0">
                                        {{listadoCount}}
                                    </ng-container>
                                    {{listadoCount | i18nPlural: {
                                    '=0' : 'No hay créditos',
                                    '=1' : 'créditos',
                                    'other': 'créditos'
                                    } }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-row w-full justify-center">
                        <div class="flex flex-col lg:w-full lg:mt-2 xl:mt-0 xl:w-4/5 min-h-20 max-h-32">
                            <div class="flex flex-row h-full justify-between rounded-full border" [ngClass]="{'bg-hover':seleccionado}">
                                <div class="flex flex-col h-full justify-center hover:bg-hover rounded-full w-1/3" 
                                 [ngClass]="{'bg-white shadow':tarjetaTitular}">
                                    <div class="flex flex-row w-full justify-center">
                                        <div class="flex flex-col h-full justify-between">
                                            <div class="text-lg font-semibold leading-tight text-center capitalize cursor-pointer" (click)="abrirTitular()">
                                                Titular
                                            </div>
                                            <div *ngIf="verDocumento!='' || verNombreCliente!=''" class="mt-2 flex flex-row w-full gap-2">
                                                <div class="flex flex-col">
                                                    <div class="flex flex-row justify-center w-full gap-1" *ngIf="verDocumento!=''">
                                                        <div class="text-sm text-secondary leading-tight text-center capitalize font-medium">
                                                            Identificación:
                                                        </div>
                                                        <div class="text-sm text-secondary italic leading-tight text-center capitalize">
                                                            {{verDocumento}}
                                                        </div>
                                                    </div>
                                                    <div class="flex flex-row justify-center w-full gap-1" *ngIf="verNombreCliente!=''">
                                                        <div class="text-sm text-secondary leading-tight text-center capitalize font-medium">
                                                            Nombre:
                                                        </div>
                                                        <div class="text-sm text-secondary italic leading-tight text-center capitalize">
                                                            {{verNombreCliente}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="bg-gray-200 flex flex-row h-4 w-4 items-center justify-center rounded-3xl" (click)="borrarTitular()">
                                                    <mat-icon class="cursor-pointer icon-size-3" svgIcon="heroicons_outline:x"></mat-icon>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col h-full justify-center hover:bg-hover rounded-full w-1/3" 
                                 [ngClass]="{'bg-white shadow':tarjetaNegocios}">
                                    <div class="flex flex-row w-full justify-center">
                                        <div class="flex flex-col">
                                            <div class="text-lg font-semibold leading-tight text-center capitalize cursor-pointer" (click)="abrirNegocios()">
                                                Negocios
                                            </div>
                                            <div *ngIf="verUnidad!='' || verAgenda!='' || verEstado!='' || verSubestado!='' || verSolicitud!='' || verCodigoNeg!=''" class="mt-2 mb-2 flex flex-row w-full gap-2">
                                                <div class="flex flex-col">
                                                    <div class="flex flex-row justify-center w-full gap-1" *ngIf="verUnidad!=''">
                                                        <div class="text-sm text-secondary italic leading-tight text-center uppercase">
                                                            {{verUnidad}}
                                                        </div>
                                                    </div>
                                                    <div class="flex flex-row justify-center w-full gap-1" *ngIf="verAgenda!=''">
                                                        <div class="text-sm text-secondary italic leading-tight text-center uppercase">
                                                            {{verAgenda}}
                                                        </div>
                                                    </div>
                                                    <div class="flex flex-row justify-center w-full gap-1" *ngIf="verEstado!=''">
                                                        <div class="text-sm text-secondary leading-tight text-center capitalize font-medium">
                                                            Estado:
                                                        </div>
                                                        <div class="text-sm text-secondary italic leading-tight text-center capitalize">
                                                            {{verEstado}} - {{verSubestado}}
                                                        </div>
                                                    </div>
                                                    <div class="flex flex-row justify-center w-full gap-1" *ngIf="verSolicitud!=''">
                                                        <div class="text-sm text-secondary leading-tight text-center font-medium">
                                                            N° solicitud:
                                                        </div>
                                                        <div class="text-sm text-secondary italic leading-tight text-center capitalize">
                                                            {{verSolicitud}}
                                                        </div>
                                                    </div>
                                                    <div class="flex flex-row justify-center w-full gap-1" *ngIf="verCodigoNeg!=''">
                                                        <div class="text-sm text-secondary leading-tight text-center font-medium">
                                                            Codigo de negocio:
                                                        </div>
                                                        <div class="text-sm text-secondary italic leading-tight text-center capitalize">
                                                            {{verCodigoNeg}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="bg-gray-200 flex flex-row h-4 w-4 items-center justify-center rounded-3xl" (click)="borrarEstado()">
                                                    <mat-icon class="cursor-pointer icon-size-3" svgIcon="heroicons_outline:x"></mat-icon>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col h-full justify-center hover:bg-hover rounded-full w-1/3" 
                                [ngClass]="{'bg-white shadow':tarjetaPagaduria}">
                                    <div class="flex flex-row justify-center">
                                        <div class="flex flex-col">
                                            <div class="text-lg font-semibold leading-tight text-center capitalize cursor-pointer" (click)="abrirPagaduria()">
                                                Pagaduría
                                            </div>
                                            <div *ngIf="verNombrePagaduria!=''" class="flex flex-row w-full justify-center gap-1">
                                                <div class="w-4/5 h-10">
                                                    <p class="m-0 text-sm text-secondary italic leading-tight text-center capitalize" 
                                                    [matTooltip]="verNombrePagaduria" [ngClass]="{'mt-2':verNombrePagaduria!=''}">{{verNombrePagaduria}}</p>
                                                </div>
                                                <div class="mt-2 bg-gray-200 flex flex-row h-4 w-4 items-center justify-center rounded-3xl" (click)="borrarPagaduria()">
                                                    <mat-icon class="cursor-pointer icon-size-3" svgIcon="heroicons_outline:x"></mat-icon>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col h-full justify-center hover:bg-hover rounded-full w-1/3 cursor-pointer">
                                    <div class="flex flex-row justify-center gap-2 ml-6 mr-5">
                                        <div>
                                            <button mat-raised-button color="primary" (click)="filtrar()"><mat-icon svgIcon="heroicons_outline:search"></mat-icon>Buscar</button>
                                        </div>
                                        <div>
                                            <button mat-raised-button color="primary" (click)="eliminarFiltro()">
                                                <div class="flex flex-row gap-2">
                                                    <mat-icon class="mt-2.5" svgIcon="clear_all"></mat-icon>
                                                    <p class="mt-3">Eliminar filtro</p>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="absolute z-index bg-card anchoTitular shadow rounded-xl lg:mt-32 xl:mt-36 border" *ngIf="tarjetaTitular">
                                <form [formGroup]="titularForm">
                                    <div class="mt-4 mb-3 flex flex-row justify-center w-full">
                                        <div class="flex flex-col w-3/4">
                                            <div class="w-full">
                                                <mat-form-field class="w-full" appearance="fill">
                                                    <mat-label>N° de identificación</mat-label>
                                                    <input matInput placeholder="Cedula o Nit" formControlName="documento" (input)="mostrarDocumento($event)">
                                                    <mat-icon class="icon-size-5" matSuffix svgIcon="heroicons_outline:identification"></mat-icon>
                                                  </mat-form-field>
                                            </div>
                                            <div class="w-full mt-2">
                                                <mat-form-field class="w-full" appearance="fill">
                                                    <mat-label>Nombre del cliente</mat-label>
                                                    <input matInput placeholder="Nombre" formControlName="nombre" (input)="mostrarNombreTitular($event)">
                                                    <mat-icon class="icon-size-5" matSuffix svgIcon="heroicons_outline:user"></mat-icon>
                                                </mat-form-field>
                                            </div>
                                            <div class="w-20 mt-2">
                                                <button mat-raised-button color="primary" (click)="filtroTitular()">Añadir</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="border absolute z-index bg-card marginTarjetaNegocios anchoNegocios shadow rounded-xl lg:mt-32 xl:mt-36" *ngIf="tarjetaNegocios">
                                <form [formGroup]="negocioForm">
                                    <div class="mt-4 mb-3 flex flex-row justify-center w-full">
                                        <div class="flex flex-col w-4/5">
                                            <div class="flex flex-row w-full justify-between gap-4">
                                                <div class="w-full">
                                                    <mat-form-field class="w-full" appearance="fill">
                                                        <mat-label>Unidad de negocio</mat-label>
                                                        <mat-select formControlName="unidad">
                                                          <mat-option (click)="mostrarUnidad(item.descripcionOpcion)" *ngFor="let item of unidades" [value]="item.codigoOpcion">{{item.descripcionOpcion}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="w-full">
                                                    <mat-form-field class="w-full" appearance="fill">
                                                        <mat-label>Agenda</mat-label>
                                                        <mat-select formControlName="agenda">
                                                          <mat-option (click)="mostrarAgenda(item.descripcionOpcion)" *ngFor="let item of agendas" [value]="item.codigoOpcion">{{item.descripcionOpcion}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="flex flex-row w-full justify-between gap-4">
                                                <div class="w-full">
                                                    <mat-form-field class="w-full" appearance="fill">
                                                        <mat-label>Estado</mat-label>
                                                        <mat-select formControlName="estado">
                                                          <mat-option (click)="consultaSubestados(item.codigo); mostrarEstado(item.nombre)" *ngFor="let item of estados" [value]="item.codigo">{{item.nombre}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="w-full" *ngIf="negocioForm.value.estado!=''">
                                                    <mat-form-field class="w-full" appearance="fill">
                                                        <mat-label>Sub-estado</mat-label>
                                                        <mat-select formControlName="subestado">
                                                          <mat-option (click)="mostrarSubestado(item.nombre)" *ngFor="let item of subestados" [value]="item.codigo">{{item.nombre}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="flex flex-row w-full justify-between mt-2 gap-4">
                                                <div class="w-full">
                                                    <mat-form-field class="w-full" appearance="fill">
                                                        <mat-label>N° de solicitud</mat-label>
                                                        <input matInput placeholder="N° Solicitud" formControlName="solicitud" (input)="mostrarSolicitud($event)">
                                                    </mat-form-field>
                                                </div>
                                                <div class="w-full">
                                                    <mat-form-field class="w-full" appearance="fill">
                                                        <mat-label>Código</mat-label>
                                                        <input matInput placeholder="Codigo" formControlName="codigoNeg" (input)="mostrarCodNeg($event)">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="w-20 mt-2">
                                                <button mat-raised-button color="primary" (click)="filtroNegocio()">Añadir</button>
                                            </div>
                                            <!-- <div class="flex flex-row w-full mt-2">
                                                <div class="w-full">
                                                    <mat-form-field class="w-full" appearance="fill">
                                                        <mat-label>Fecha de aprobación</mat-label>
                                                        <mat-date-range-input [rangePicker]="picker">
                                                            <input matStartDate placeholder="Fecha inicial" formControlName="fechaInicial">
                                                            <input matEndDate placeholder="Fecha final" formControlName="fechaFinal">
                                                        </mat-date-range-input>
                                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                        <mat-date-range-picker #picker></mat-date-range-picker>
                                                    </mat-form-field>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="border absolute z-index bg-card anchoPagaduria shadow rounded-xl marginTarjetaPagaduria lg:mt-32 xl:mt-36" *ngIf="tarjetaPagaduria">
                                <form [formGroup]="pagaduriaForm">
                                    <div class="mt-4 mb-3 flex flex-row justify-center w-full">
                                        <div class="flex flex-col w-3/4">
                                            <div class="w-full">
                                                <mat-form-field class="w-full" appearance="fill">
                                                    <mat-label>Pagaduría</mat-label>
                                                    <mat-select placeholder="Pagaduria" formControlName="codigoPag">
                                                        <mat-option (click)="mostrarPagaduria(item.nombre)" *ngFor="let item of pagadurias" [value]="item.codigo">{{item.nombre}}</mat-option>
                                                      </mat-select>
                                                    <mat-icon class="icon-size-5" matSuffix svgIcon="heroicons_outline:office-building"></mat-icon>
                                                  </mat-form-field>
                                            </div>
                                            <div class="w-20 mt-2">
                                                <button mat-raised-button color="primary" (click)="filtroPagaduria()">Añadir</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Contacts list -->
                <div class="w-full" *ngIf="listados.length>0">
                    <table class="p-0">
                        <tbody class="bg-white">
                            <ng-container *ngFor="let item of listados; let i = index;">
                                <ng-container
                                    *ngIf="i === 0 || item.nombreCompleto.charAt(0) !== listados[i - 1].nombreCompleto.charAt(0)">
                                    <tr class="z-10 sticky top-0 -mt-px  py-1  border-t border-b font-bold uppercase text-secondary bg-gray-50 dark:bg-gray-900">
                                        <td colspan="10" class="px-3"> {{item.nombreCompleto.charAt(0)}}</td>
                                    </tr>
                                </ng-container>
                                <tr class="text-gray-700 border-t border-b">
                                    <td rowspan="2" class="pl-6">
                                        <div class="ml-2.5">
                                            <mat-icon class="cursor-pointer" svgIcon="manage_search" (click)="goResumen(item)" matTooltip="Gestionar"></mat-icon>
                                        </div>
                                    </td>
                                    <td rowspan="2" class="pr-2">
                                        <div class="ml-2.5">
                                            <mat-icon class="cursor-pointer" [svgIcon]="'mat_outline:task'" (click)="goResumen(item)" matTooltip="Gestionar"></mat-icon>
                                        </div>
                                    </td>
                                    <td class="px-2 pb-0" rowspan="2">
                                        <div class="flex flex-column" rowspan="2">
                                            <div class="flex-0 w-12 overflow-hidden">
                                                <img [src]="item.urlIconoUnidad" class="w-full h-full object-cover cursor-pointer">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-2 py-2">
                                        <div class="flex flex-column">
                                            <small class="text-accent-600 text-xs">
                                                N° de solicitud
                                            </small>
                                            <span class="text-md text-black font-medium" matTooltip="Agencia">
                                                {{item.numeroSolicitud}}
                                            </span>
                                        </div>
                                    </td>
                                    <td class="px-2">
                                        <div class="flex flex-column">
                                            <small class="text-accent-600 text-xs">
                                                Identificación
                                            </small>
                                            <span class="text-md text-black font-medium">
                                                {{item.identificacion}}
                                            </span>
                                        </div>
                                    </td>
                                    <td class="px-2 w-64">
                                        <div class="flex flex-column">
                                            <small class="text-accent-600 text-xs">
                                                Nombre del cliente
                                            </small>
                                            <span class="text-md text-black font-medium">
                                                {{item.nombreCompleto}}
                                            </span>
                                        </div>
                                    </td>
                                    <td class="px-2">
                                        <div class="flex flex-col h-6 w-32 justify-center rounded" [ngStyle]="{'background-color': item.colorEsquema}">
                                            <div class="flex flex-row justify-center">
                                                <div class="flex flex-col">
                                                    <small class="text-sm text-white uppercase tracking-wider">
                                                        <strong>{{item.estado}}</strong>
                                                     </small>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-2">
                                        <div class="flex flex-column">
                                            <small class="text-accent-600 text-xs">
                                                Sub-estado
                                            </small>
                                            <span class="text-md text-black font-medium">
                                                {{item.subEstado}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="text-gray-700 border-t border-b">
                                    <td class="px-2">
                                        <div class="flex flex-column">
                                            <small class="text-accent-600 text-xs">
                                                Monto
                                            </small>
                                            <span class="text-base text-black font-medium">
                                                $ {{item.monto | number}}
                                            </span>
                                        </div>
                                    </td>
                                    <td class="px-2">
                                        <div class="flex flex-column">
                                            <small class="text-accent-600 text-xs">
                                                Asesor comercial
                                            </small>
                                            <span class="text-base text-black font-medium uppercase">
                                                {{item.asesor}}
                                            </span>
                                        </div>
                                    </td>
                                    <td class="px-2">
                                        <div class="flex flex-column">
                                            <small class="text-accent-600 text-xs">
                                                Asesor de crédito
                                            </small>
                                            <span class="text-base text-black font-medium uppercase">
                                                {{item.asesorCredito}}
                                            </span>
                                        </div>
                                    </td>
                                    <td class="px-2">
                                        <div class="flex flex-column">
                                            <small class="text-accent-600 text-xs">
                                                Agencia
                                            </small>
                                            <span class="text-base text-black font-medium">
                                                <mat-icon class="icon-size-3" svgIcon="mat_solid:location_on"></mat-icon>
                                                {{item.agencia}}
                                            </span>
                                        </div>
                                    </td>
                                    <td class="px-2">
                                        <div class="flex w-28">
                                            <div class="flex flex-column ">
                                                <small class="text-accent-600 text-xs">
                                                    Fecha solicitud
                                                </small>
                                                <span class="text-xs text-black font-medium">
                                                    <mat-icon class="icon-size-3" svgIcon="heroicons_outline:calendar">
                                                    </mat-icon>
                                                    {{ cambiarFecha(item.fechaEmision) }}
                                                </span>
                                                <span class="text-xs text-black font-medium">
                                                    <mat-icon class="icon-size-3" svgIcon="mat_outline:access_time">
                                                    </mat-icon>
                                                    {{ cambiarHora(item.fechaEmision) }}
                                                </span>
                                                <span class="text-xs text-black font-medium">
                                                    <mat-icon [ngStyle]="{'color': item.diasTotalesCreditoColor}"
                                                        class="icon-size-3" svgIcon="mat_solid:radio_button_checked">
                                                    </mat-icon>
                                                    {{item.diasTotalesCredito}} horas
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-2">
                                        <div class="flex justify-between">
                                            <div class="flex-column flex items-center justify-center  h-14 rounded"
                                                [ngClass]="item.cantidadDevolucion<=0?'bg-green-100 text-green-800 w-26':'bg-red-100 text-red-800 w-26'">
                                                <small class="text-xs">Devolución</small>
                                                <span class="text-current">
                                                    {{ item.cantidadDevolucion}}
                                                </span>
                                                <small class="text-xs">{{
                                                    cambiarFecha(item.fechaDevolucion)}}</small>
                                            </div>
                                            <button mat-icon-button matTooltip="ver devolución"
                                                *ngIf="item.cantidadDevolucion>0"
                                                (click)="item.mostrarDevolucion=item.mostrarDevolucion=='f'?'v':'f'">
                                                <mat-icon
                                                    [svgIcon]="item.mostrarDevolucion=='v'?'heroicons_solid:chevron-up':'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="item.mostrarDevolucion=='v'">
                                    <td class="p-3 bg-hover" colspan="10">
                                        <div class="flex justify-between">
                                            <div
                                                class="relative flex border-t w-100 first:border-0 bg-white  text-md mr-10">
                                                
                                                <div
                                                    class="flex flex-col  justify-start w-full py-6 pr-4 pl-5 border-l-4 border-transparent">
                                                    
                                                    <div class="text-end">
                                                        <div
                                                            class="py-0.5 text-sm font-semibold text-gray-800 bg-hover ng-star-inserted">
                                                            Última devolución
                                                        </div>
                                                    </div>

                                                    <div class="flex items-center w-full">

                                                        <div class="mr-2 font-semibold truncate">
                                                            <span>Usuario: </span> {{ item.usuarioDevolucion}}
                                                        </div>

                                                        <div
                                                            class="ml-auto text-xs text-right whitespace-nowrap text-hint">
                                                            {{ cambiarFecha(item.fechaDevolucion) }}
                                                        </div>
                                                    </div>

                                                    <div class="flex items-center w-full">
                                                        <span class="mr-2 font-semibold truncate">
                                                            <span>Causal: </span> {{item.causalDevolucion}}
                                                        </span>
                                                    </div>

                                                    <div class="mt-2 leading-normal line-clamp-2 text-secondary">
                                                        <span class="mr-2 font-semibold truncate">Observación:
                                                        </span> {{item.observacionDevolucion}}
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="relative flex border-t w-100 first:border-0 bg-white  text-md">
                                                
                                                <div
                                                    class="flex flex-col  justify-start w-full py-6 pr-4 pl-5 border-l-4 border-transparent">
                                                    
                                                    <div class="text-end">
                                                        <div
                                                            class="py-0.5 text-sm font-semibold text-gray-800 bg-hover ng-star-inserted">
                                                            Último Reintegro
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="flex items-center w-full">
                                                        
                                                        <div class="mr-2 font-semibold truncate">
                                                            <span>Usuario: </span> {{
                                                            item.usuarioReintegroDevolucion}}
                                                        </div>

                                                        
                                                        <div
                                                            class="ml-auto text-xs text-right whitespace-nowrap text-hint">
                                                            {{ cambiarFecha(item.fechaReintegroDevolucion) }}
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="flex items-center w-full">
                                                        <span class="mr-2 font-semibold truncate">
                                                            <span>Concepto: </span>
                                                            {{item.causalReintegroDevolucion}}
                                                        </span>
                                                    </div>
                                                    
                                                    <div class="mt-2 leading-normal line-clamp-2 text-secondary">
                                                        <span class="mr-2 font-semibold truncate">Observación:
                                                        </span> {{item.observacionReintegroDevolucion}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                    <!-- No contacts -->
                    <ng-template #noContacts>
                        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no
                            contacts!</div>
                    </ng-template>
                </div>
                <div class="flex flex-row w-full justify-center" *ngIf="listados.length<1">
                    <div class="flex flex-col">
                        <img class="lg:56 xl:h-120 lg:w-56 xl:w-120" src="assets/images/animaciones/nodata.gif">
                        <div class="text-gray-600 text-center mt-2 font-medium">No hay información para mostrar.</div>
                    </div>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>