.marginAccordion {
    margin-top: 1rem;
    margin-left: 47px;
}

.green-space {
    background: linear-gradient(88.76deg, #19c72a 5.33%, #5EFF6D 97.14%);
    // background: linear-gradient(88.76deg, #0D7E18 5.33%, #5EFF6D 97.14%);
    // border-radius:  0px 100px 100px 100px;
}

.gray-space {
    background: linear-gradient(88.76deg, #8b8d8c 5.33%, #c3c4c3 97.14%);
    // background: linear-gradient(88.76deg, #0D7E18 5.33%, #5EFF6D 97.14%);
    // border-radius:  0px 100px 100px 100px;
}

.marginTarjetaNegocios {
    @media (min-width: 1280px) {
        margin-left: 9%;
    }
    @media (min-width: 1440px) {
        margin-left: 1%;
    }        
}

.marginTarjetaPagaduria {
    @media (min-width: 1280px) {
        margin-left: 43%;
    }
    @media (min-width: 1440px) {
        margin-left: 33%;
    }
}

.anchoTitular {
    width: 25%;
}

.anchoNegocios {
    width: 55%;
}

.anchoPagaduria {
    width: 25%;
}

.fondo {
    content: '';
    z-index: 99;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(107, 106, 106, 0.397)
}

.z-index {
    z-index: 999;
}