.titulo_tabs {
    color: #94a3b8;
    font-weight: 600;
}
.cerrar_detalle{
    color: #dc3545 !important;
    cursor: pointer;
    margin-top: 4px;
}
.azul{
    background: #4DBCEB;
}
.azul_border{
    // background: #4DBCEB;
    border-left: 3px solid#4DBCEB;
}