<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
    <div class="-mx-3 md:flex mb-2">
        <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
            <mat-label>Tipo de solicitante</mat-label>
            <input matInput type="text" placeholder="Tipo de solicitante" >
        </mat-form-field>
        <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
            <mat-label>Tipo de documento</mat-label>
            <input matInput type="text" placeholder="Descripción" >
        </mat-form-field>
        <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
            <mat-label>No. de identificacion</mat-label>
            <input matInput type="text" placeholder="Identificación" >
        </mat-form-field>
    </div>
    <div class="-mx-3 md:flex mb-2">
        <mat-form-field class="w-full px-3 fuse-mat-dense">
            <mat-label>Nombre / Razón social</mat-label>
            <input matInput type="text" placeholder="Nombre / Razón de social">
        </mat-form-field>
        <mat-form-field class="w-full px-3 fuse-mat-dense">
            <mat-label>Fecha de matricula</mat-label>
            <input matInput type="text" placeholder="Nombre / Razón de social">
        </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div class="-mx-3 md:flex mt-3 mb-2">
        <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
            <mat-label>Primer nombre</mat-label>
            <input matInput type="text" placeholder="Primer nombre">
        </mat-form-field>
        <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
            <mat-label>Segundo nombre</mat-label>
            <input matInput type="text" placeholder="Segundo nombre">
        </mat-form-field>
        <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
            <mat-label>Primer apellido</mat-label>
            <input matInput type="text" placeholder="Primer apellido">
        </mat-form-field>
        <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
            <mat-label>Segundo apellido</mat-label>
            <input matInput type="text" placeholder="Segundo apellido">
        </mat-form-field>
    </div>
    <div class="-mx-3 md:flex mt-3 mb-2">
        <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
            <mat-label>Teléfono / Celular </mat-label>
            <input matInput type="text" placeholder="Teléfono / Celular">
        </mat-form-field>
        <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
            <mat-label>Email</mat-label>
            <input matInput type="text" placeholder="Email">
        </mat-form-field>
        <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
            <mat-label>Género</mat-label>
            <input matInput type="text" placeholder="Genero">
        </mat-form-field>
        <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
            <mat-label>Nacionalidad</mat-label>
            <input matInput type="text" placeholder="Nacionalidad">
        </mat-form-field>
    </div>
    <div class="-mx-3 md:flex mt-3 mb-2">
        <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
            <mat-label>Fecha de nacimiento </mat-label>
            <input matInput type="text" placeholder="Fecha de nacimiento">
        </mat-form-field>
        <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
            <mat-label>Departamento de nacimiento</mat-label>
            <input matInput type="text" placeholder="Departamento">
        </mat-form-field>
        <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
            <mat-label>Ciudad / Municipio de nacimiento</mat-label>
            <input matInput type="text" placeholder="Ciudad / Municipio de nacimiento">
        </mat-form-field>
        <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
            <mat-label>Tipo de vivienda</mat-label>
            <input matInput type="text" placeholder="Tipo de vivienda">
        </mat-form-field>
    </div>
    <div class="-mx-3 md:flex mt-3 mb-2">
        <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
            <mat-label>Departamento de residencia</mat-label>
            <input matInput type="text" placeholder="Departamento de residencia">
        </mat-form-field>
        <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
            <mat-label>Ciudad / municipio de residencia</mat-label>
            <input matInput type="text" placeholder="Ciudad / municipio de residencia">
        </mat-form-field>
        <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
            <mat-label>Barrio</mat-label>
            <input matInput type="text" placeholder="Barrio">
        </mat-form-field>
        <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
            <mat-label>Dirección de residencia</mat-label>
            <input matInput type="text" placeholder="Dirección de residencia">
        </mat-form-field>
    </div>
    <div class="-mx-3 md:flex mt-3 mb-2">
        <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
            <mat-label>Nivel de estudio</mat-label>
            <input matInput type="text" placeholder="Nivel de estudio">
        </mat-form-field>
        <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
            <mat-label>¿Vive en el mismo lugar del negocio?</mat-label>
            <input matInput type="text" placeholder="">
        </mat-form-field>
    </div>
    <div class="-mx-3 md:flex mt-3 mb-2 mr-1 justify-end">
        <button mat-raised-button
                color="primary"
                type="button"
        >
            Guardar
        </button>
    </div>
</div>
