.header-tab {
    background-color: white !important;
    border-radius: 9999px !important;
    width: 800px !important;
    height: 56px !important;
    display: flex !important;
    align-items: center !important;

}

.mat-tab-body-content {
    padding-right: 0px !important;
}