<div class="h-full card py-3 px-4 w-100 shadow bg-white m-4 rounded-lg ">
  <form class="w-full max-w-lg " [formGroup]="form">
    <h2 class="text-gray-900 col-span-12 mb-4">Crear nueva pagaduria</h2>
    <div class="grid grid-cols-3 grid-rows-3 w-100 mb-2">
      <div class="col-span-1">
        <mat-form-field class="w-full px-3 fuse-mat-dense">
          <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'">
          </mat-icon>
          <mat-label> Razón social </mat-label>
          <input matInput type="string" autocomplete="off" formControlName="antiguedadMaxima">
        </mat-form-field>
      </div>
      <div class="col-span-1">
        <mat-form-field class="w-full px-3 fuse-mat-dense">
          <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_outline:identification'">
          </mat-icon>
          <mat-label> Numero de documento </mat-label>
          <input matInput type="number" autocomplete="off" formControlName="antiguedadMaxima">
        </mat-form-field>
      </div>
      <div class="col-span-1">
        <mat-form-field class="w-full px-3 fuse-mat-dense">
          <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_outline:check'">
          </mat-icon>
          <mat-label> Dv</mat-label>
          <input matInput type="number" autocomplete="off" formControlName="antiguedadMaxima">
        </mat-form-field>
      </div>
      <div class="col-span-1">
        <mat-form-field class="w-full px-3 fuse-mat-dense">
          <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_outline:location-marker'">
          </mat-icon>
          <mat-label> Departamento</mat-label>
          <input matInput type="string" autocomplete="off" formControlName="antiguedadMaxima">
        </mat-form-field>
      </div>
      <div class="col-span-1">
        <mat-form-field class="w-full px-3 fuse-mat-dense">
          <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_outline:location-marker'">
          </mat-icon>
          <mat-label> Ciudad</mat-label>
          <input matInput type="string" autocomplete="off" formControlName="antiguedadMaxima">
        </mat-form-field>
      </div>
      <div class="col-span-1">
        <mat-form-field class="w-full px-3 fuse-mat-dense">
          <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_outline:location-marker'">
          </mat-icon>
          <mat-label> Dirección</mat-label>
          <input matInput type="string" autocomplete="off" formControlName="antiguedadMaxima">
        </mat-form-field>
      </div>
      <div class="col-span-1">
        <mat-form-field class="w-full px-3 fuse-mat-dense">
          <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_outline:mail'">
          </mat-icon>
          <mat-label> Correo</mat-label>
          <input matInput type="string" autocomplete="off" formControlName="antiguedadMaxima">
        </mat-form-field>
      </div>
      <div class="col-span-1">
        <mat-form-field class="w-full px-3 fuse-mat-dense">
          <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_outline:phone'">
          </mat-icon>
          <mat-label> Telefono</mat-label>
          <input matInput type="number" autocomplete="off" formControlName="antiguedadMaxima">
        </mat-form-field>
      </div>
      <div class="col-span-1">
        <mat-form-field class="w-full px-3 fuse-mat-dense">
          <mat-label>Tipo de empresa</mat-label>
          <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:clipboard-list'">
          </mat-icon>
          <mat-select formControlName="tipoContrato">
            <!-- <mat-option *ngFor="let tipo of tiposContrato" [value]="tipo.value">
        {{ tipo.viewValue }}
      </mat-option> -->
          </mat-select>
        </mat-form-field>
      </div>


      <mat-dialog-actions align="end">
        <button mat-button class=" left-auto right-auto color_fintra text-white" (click)="guardar()">Guardar </button>
        <button mat-button mat-dialog-close class="bg-gray-400 text-white">Cerrar </button>
      </mat-dialog-actions>
    </div>
  </form>
</div>