<div class="h-full h-screen overflow-auto w-full pb-40">
    <div class="flex flex-col flex-auto">

        <div class="flex flex-wrap w-full mx-auto p-6 md:p-8 bg-white z-10">
            <div class="flex items-center justify-between w-full">
                <div class="flex items-center ml-6 gap-2">
                    <div class="flex-0 w-14 h-14  overflow-hidden">
                        <img src="assets/images/agendas/Referenciacion.png" class="w-full h-full object-cover">
                    </div>
                    <div class="flex-1 mx-3">
                        <div class="text-3xl font-semibold tracking-tight leading-8">Agenda referenciación
                        </div>
                    </div>

                </div>
                <div class="flex items-center ml-6">
                    <div class="sm:hidden">
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 w-full mt-8">
            </div>
        </div>
        <app-totales *ngIf="totales"  [totales]="totales" [dataTable]="datosAux"  (dataFilter)="filtrarTablaTotalesEvent($event)" > </app-totales>

        <app-tabla *ngIf="datos" [datos]="datos" (actualizarTabla)="actualizarTabla($event)"></app-tabla>

    </div>
</div>
