<div class="py-2 px-3 h-screen w-100 bg-white rounded-lg">
  <div class="grid grid-cols-12 w-100 mb-2">
    <h2 class="text-gray-900 col-span-12 mb-4">Importar pagos.</h2>
  </div>
  <div class="flex flex-row justify-between w-100">
    <div>
      <button type="button" mat-raised-button (click)="fileInput.click()">Importar archivo</button>
      <input hidden #fileInput type="file" (change)="subirArchivo($event)" id="file" accept=".xls,.xlsx">
    </div>
    <div>
      <input class="border rounded p-2 bg-gray-100 w-72 xl:w-80 mr-0"
                style="font-size: 10px; margin-right: 1em"
                type="text"
                autocomplete="off"
                name="filtrarTabla"
                [(ngModel)]="filtrarTabla"
                placeholder="Buscar..." />
    </div>
  </div>
  <div class="mt-4 w-full max-h-160 shadow overflow-y-auto" [hidden]="listRowsExcel.length == 0">
    <table>
      <thead>
        <tr class="text-md font-semibold tracking-wide text-left text-gray-400 border-b border-gray-600 arriba">
          <th class="px-3 py-3 text-center" *ngFor="let item of cabeceras">{{item}}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-gray-700" *ngFor="let itemlistValores of listValores; let i = index;">
          <td class="px-2 text-sm border text-center" *ngFor="let item of itemlistValores[i];">
            {{ item}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mt-3 flex flex-row justify-end" [hidden]="listRowsExcel.length == 0">
    <button type="button" mat-raised-button>Aceptar</button>
  </div>
</div>
