<div class="h-screen overflow-auto w-full pb-40">
    <div class="flex flex-col flex-auto">

        <div class="flex relative flex-wrap w-full mx-auto p-6 md:p-8 bg-white z-10">

            <!-- Title and action buttons -->
            <div class="flex items-center justify-between w-full">
                <div class="flex items-center ml-6">
                    <div class="flex-0 w-16 h-16  overflow-hidden">
                        <img src="assets/images/agendas/Comercial.png" class="w-full h-full object-cover">
                    </div>
                    <div class="flex-1 mx-3">
                        <div class="text-3xl font-semibold tracking-tight leading-8">Agenda comercial de crédito
                        </div>
                        <div class="flex items-center">
                            <mat-icon svgIcon="heroicons_solid:bell"></mat-icon>
                            <div class="font-medium tracking-tight text-secondary">
                                Realiza la gestión del crédito
                            </div>
                        </div>
                    </div>

                </div>
                <div class="flex items-center ml-6">
                    <!-- <button class="hidden sm:inline-flex ml-3" mat-flat-button [color]="'primary'">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:save'"></mat-icon>
                        <span class="ml-2">Exportar</span>
                    </button> -->

                    <!-- Actions menu (visible on xs) -->
                    <div class="sm:hidden">
                        <!-- <button
                        [matMenuTriggerFor]="actionsMenu"
                        mat-icon-button>
                        <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #actionsMenu="matMenu">
                        <button mat-menu-item>Export</button>
                        <button mat-menu-item>Settings</button>
                    </mat-menu> -->
                    </div>
                </div>
            </div>
            <div class="flex z-99 absolute bottom-0 right-0 align-bottom justify-end ">
                <div class="sm:mr-0 md:mr-10 mat-mdc-menu-trigger mat-ripple relative flex self-start pt-2 pb-1 pl-5 pr-4 cursor-pointer overflow-hidden rounded-t-xl border border-b-0 bg-default"
                    [matMenuTriggerFor]="menu">
                    <div class="flex items-center">
                        <div class="overflow-hidden">
                            <div class="font-medium leading-6 truncate">Nueva solicitud</div>
                        </div>
                        <div class="flex items-center justify-center pl-2">
                            <mat-icon svgIcon="heroicons_outline:chevron-down"></mat-icon>
                        </div>
                    </div>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="onGetAgendaDigital(null)">
                            <img alt="linea de negocio" class="w-11 mr-3"
                                src="assets/images/logo/logo-microcredito.png">
                            <span>Microcrédito</span>
                        </button>
                        <button *ngIf="rolID === 1" mat-menu-item (click)="navigateToLibranzaPublica()">
                            <img alt="linea de negocio" class="w-11 mr-3" src="assets/images/logo/LibranzaPublica.png">
                            <span>Libranza pública</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 w-full mt-8">

            </div>
        </div>
        <app-totales   [totales]="totales" [dataTable]="datosAux"  (dataFilter)="filtrarTablaTotalesEvent($event)"> </app-totales>

        <app-tabla *ngIf="datos" [datos]="datos" (actualizarTabla)="actualizarTabla($event)"></app-tabla>

</div>
