<h1 mat-dialog-title>
    <span *ngIf="editar">Editar</span> <span *ngIf="!editar">Crear</span> 
    días no habiles
</h1>
<div mat-dialog-content>
    <form [formGroup]="formDiasNoHabiles" class="row">
        <mat-form-field class="col-lg-12" appearance="fill">
            <mat-label>Descripción</mat-label>
            <input type="text" matInput placeholder="descripcion" formControlName="tipo_pqrs">
        </mat-form-field>
        <mat-form-field class="col-lg-6" appearance="fill">
            <mat-label>Fecha</mat-label>
            <input matInput [matDatepicker]="datepicker" formControlName="fecha">
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
            </mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-lg-12"  appearance="fill">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado" [compareWith]="compareObjects">
                <mat-option value="1">Activo</mat-option>
                <mat-option value="2">Inactivo</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    {{formDiasNoHabiles.value | json}}
</div>
<div mat-dialog-actions>
    <button mat-button>No Thanks</button>
    <button mat-button [mat-dialog-close]="false" cdkFocusInitial>Guardar</button>
</div>
