<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <!-- Header -->
    <div class="flex flex-auto justify-between py-8 px-6 md:px-8 border-b bg-white">

        <!-- Title -->
        <div class="flex items-center ml-6">
            <div class="flex-0 w-16 overflow-hidden">
                <img src="assets/images/cajaVirtual/Asignacion.png" class="w-full h-full object-cover">
            </div>
            <div class="flex-1 mx-3">
                <div class="text-3xl font-semibold tracking-tight leading-8">Negociaciones
                </div>
                <!-- <div class="flex items-center">
                    <mat-icon svgIcon="heroicons_solid:bell"></mat-icon>
                    <div class="font-medium tracking-tight text-secondary">
                        Visualiza las cuentas que han sido asignadas para la respectiva gestión
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <!-- Contacts list -->
    <div class="relative h-cal bg-gray-100">
        <div
            class="relative pt-8 pb-28 px-4 sm:pt-20 sm:pb-48 sm:px-16 overflow-hidden bg-gray-800 dark:bg-gray-900 dark">
            <!-- Background - @formatter:off -->
            <!-- Rings -->
            <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%"
                preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
                <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                    <circle r="234" cx="196" cy="23"></circle>
                    <circle r="234" cx="790" cy="491"></circle>
                </g>
            </svg>
            <!-- @formatter:on -->
            <form [formGroup]="form">
                <div class="z-10 relative flex flex-col items-center">
                    <div class="mt-1 text-2xl sm:text-4xl font-extrabold tracking-tight leading-tight text-center">
                        Realizar las estrategias de normalización 
                    </div>
                    <div class="grid grid-cols-3 w-full sm:max-w-75 mt-10 sm:w-240">


                        <mat-form-field>
                            <mat-select [formControlName]="'tipoEstrategia'">
                                <mat-option *ngFor="let item of listado"
                                    [value]="item.tipo">{{item.nombre}}</mat-option>
                            </mat-select>
                            <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-select [formControlName]="'tipoID'">
                                <mat-option value="NEG">NEGOCIO</mat-option>
                                <mat-option value="ID">IDENTIFICACIÓN DEL CLIENTE</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                            <input class="ml-3" matInput [placeholder]="form.value.tipoID=='NEG'?'Número del negocio':'Identificación del cliente'" [formControlName]="'id'">
                        </mat-form-field>
                    </div>
                 

                    <button class="mt-10 sm:mt-10" mat-flat-button [color]="'primary'"  [routerLink]="[form.value.tipoEstrategia+'/'+form.value.tipoID+'/'+form.value.id]">
                        <mat-icon [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <span class="ml-2 mr-1">Buscar</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>