<h2 mat-dialog-title>Detalle del credito</h2>
<mat-tab-group (selectedTabChange)="onTabChanged($event)">
    <!-- <mat-tab *ngFor="let tab of asyncTabs | async">
        <ng-template mat-tab-label>{{tab.label}}</ng-template>
        {{tab.content}}
    </mat-tab> -->
    <mat-tab>
        <ng-template mat-tab-label>Información personal y laboral </ng-template>
        <form [formGroup]="infoInfoPerLab">
            <div class="row justify-content-center">
                <mat-form-field class="col-lg-6" appearance="fill">
                    <mat-label>Afiliado</mat-label>
                    <input formControlName="afiliado" type="text" matInput />
                </mat-form-field>
                <mat-form-field class="col-lg-6" appearance="fill">
                    <mat-label>Asesor de colocación</mat-label>
                    <input formControlName="asesorColocacion" type="text" matInput />
                </mat-form-field>
            </div>
            <div class="row justify-content-center">
                <mat-form-field class="col-lg-6" appearance="fill">
                    <mat-label>Valor cuota</mat-label>
                    <input formControlName="cuotaMensual" type="text" matInput />
                </mat-form-field>
                <mat-form-field class="col-lg-6" appearance="fill">
                    <mat-label>Plazo</mat-label>
                    <input formControlName="plazo" type="text" matInput />
                </mat-form-field>
            </div>
            <div class="row justify-content-center">
                <mat-form-field class="col-lg-6" appearance="fill">
                    <mat-label>Ocupación</mat-label>
                    <input formControlName="ocupacion" type="text" matInput />
                </mat-form-field>
                <mat-form-field class="col-lg-6" appearance="fill">
                    <mat-label>Actividad económica</mat-label>
                    <input formControlName="actividadEconomica" type="text" matInput />
                </mat-form-field>
            </div>
        </form>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>Referencias</ng-template>
        <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
            <div class="w-full overflow-x-auto">
                <table class="w-full">
                    <thead>
                        <tr
                            class="text-md font-semibold tracking-wide text-left text-gray-400  capitalize border-b border-gray-600">
                            <th class="px-4 py-3">Nombre Completo</th>
                            <th class="px-4 py-3">departamento</th>
                            <th class="px-4 py-3">ciudad</th>               
                            <th class="px-4 py-3">direccion</th>
                            <th class="px-4 py-3">celular</th>
                            <th class="px-4 py-3">parentesco</th>
                            <th class="px-4 py-3">tipo Referencia</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        <tr class="text-gray-700" *ngFor="let item of infoRefePer;let indice=index">
                            <td class="px-4 py-3 text-sm border">{{item.primerNombre}} {{ item.primerApellido}}</td>
                            <td class="px-4 py-3 text-sm border">{{ item.departamento}}</td>
                            <td class="px-4 py-3 text-sm border">{{ item.ciudad}}</td>
                            <td class="px-4 py-3 text-sm border">{{ item.direccion}}</td>
                            <td class="px-4 py-3 text-sm border">{{ item.celular}}</td>
                            <td class="px-4 py-3 text-sm border">{{ item.parentesco}}</td>
                            <!-- <td class="px-4 py-3 text-sm border">{{ item.tipoReferencia}}</td> -->
                            <td class="px-4 py-3 border text-xs">
                                <span class="px-2 py-1 font-semibold leading-tight text-gray-700 rounded-sm"
                                [ngClass]="item.tipoReferencia=='PERSONAL'?'bg-pink-300':'bg-green-300'"
                                > {{ item.tipoReferencia}} </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>Información codeudor</ng-template>
        <form [formGroup]="infoCodeu">
            <div class="row justify-content-center">
                <mat-form-field class="col-lg-6" appearance="fill">
                    <mat-label>Primer nombre</mat-label>
                    <input formControlName="primerNombre" type="text" matInput />
                </mat-form-field>
                <mat-form-field class="col-lg-6" appearance="fill">
                    <mat-label>Primer Apellido</mat-label>
                    <input formControlName="primerApellido" type="text" matInput />
                </mat-form-field>
            </div>
            <div class="row justify-content-center">
                <mat-form-field class="col-lg-6" appearance="fill">
                    <mat-label>Identificación</mat-label>
                    <input formControlName="identificacion" type="text" matInput />
                </mat-form-field>
                <mat-form-field class="col-lg-6" appearance="fill">
                    <mat-label>Profesión</mat-label>
                    <input formControlName="profesion" type="text" matInput />
                </mat-form-field>
            </div>
            <div class="row justify-content-center">
                <mat-form-field class="col-lg-6" appearance="fill">
                    <mat-label>Departamento</mat-label>
                    <input formControlName="departamento" type="text" matInput />
                </mat-form-field>
                <mat-form-field class="col-lg-6" appearance="fill">
                    <mat-label>Ciudad</mat-label>
                    <input formControlName="ciudad" type="text" matInput />
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-lg-6" appearance="fill">
                    <mat-label>Dirección</mat-label>
                    <input formControlName="direccion" type="text" matInput />
                </mat-form-field>
                <mat-form-field class="col-lg-6" appearance="fill">
                    <mat-label>Barrio</mat-label>
                    <input formControlName="barrio" type="text" matInput />
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-lg-6" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" type="text" matInput />
                </mat-form-field>
                <mat-form-field class="col-lg-6" appearance="fill">
                    <mat-label>Celular</mat-label>
                    <input formControlName="celular" type="text" matInput />
                </mat-form-field>
            </div>
        </form>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>Información del negocio</ng-template>
        <form [formGroup]="infoNegocio">
            <div class="row justify-content-center">
                <mat-form-field class="col-lg-6" appearance="fill">
                    <mat-label>Empresa</mat-label>
                    <input formControlName="empresa" type="text" matInput />
                </mat-form-field>
                <mat-form-field class="col-lg-6" appearance="fill">
                    <mat-label>Nit / Rut</mat-label>
                    <input formControlName="nit" type="text" matInput />
                </mat-form-field>
            </div>
            <div class="row justify-content-center">
                <mat-form-field class="col-lg-6" appearance="fill">
                    <mat-label>Celular / Teléfono</mat-label>
                    <input formControlName="celular" type="text" matInput />
                </mat-form-field>
                <mat-form-field class="col-lg-6" appearance="fill">
                    <mat-label>Correo</mat-label>
                    <input formControlName="email" type="text" matInput />
                </mat-form-field>
            </div>
            <div class="row justify-content-center">
                <mat-form-field class="col-lg-6" appearance="fill">
                    <mat-label>Departamento</mat-label>
                    <input formControlName="departamento" type="text" matInput />
                </mat-form-field>
                <mat-form-field class="col-lg-6" appearance="fill">
                    <mat-label>Ciudad</mat-label>
                    <input formControlName="ciudad" type="text" matInput />
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-lg-6" appearance="fill">
                    <mat-label>Barrio</mat-label>
                    <input formControlName="barrio" type="text" matInput />
                </mat-form-field>
                <mat-form-field class="col-lg-6" appearance="fill">
                    <mat-label>Dirección</mat-label>
                    <input formControlName="direccion" type="text" matInput />
                </mat-form-field>
            </div>
        </form>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>Información del conyuge</ng-template>
        <form [formGroup]="infoConyugue">
            <div class="row justify-content-center">
                <mat-form-field class="col-lg-6" appearance="fill">
                    <mat-label>Primer nombre</mat-label>
                    <input formControlName="primerNombreCony" type="text" matInput />
                </mat-form-field>
                <mat-form-field class="col-lg-6" appearance="fill">
                    <mat-label>Primer Apellido</mat-label>
                    <input formControlName="primerApellidoCony" type="text" matInput />
                </mat-form-field>
            </div>
            <div class="row justify-content-center">
                <mat-form-field class="col-lg-6" appearance="fill">
                    <mat-label>Celular</mat-label>
                    <input formControlName="celularCony" type="text" matInput />
                </mat-form-field>
                <mat-form-field class="col-lg-6" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input formControlName="emailCony" type="text" matInput />
                </mat-form-field>
            </div>
        </form>
    </mat-tab>
</mat-tab-group>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
