<div class="example-container mat-elevation-z8">
    <!-- <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
            GitHub's API rate limit has been reached. It will be reset in one minute.
        </div>
    </div> -->

    <div class="example-table-container">

        <table mat-table [dataSource]="[]" class="example-table" matSort matSortActive="created" matSortDisableClear
            matSortDirection="desc">
            <!-- tipo_cliente Column -->
            <ng-container matColumnDef="tipo_cliente">
                <th mat-header-cell *matHeaderCellDef>Tipo de cliente</th>
                <td mat-cell *matCellDef="let row">Lorem</td>
            </ng-container>

            <!-- tipo_credito Column -->
            <ng-container matColumnDef="tipo_credito">
                <th mat-header-cell *matHeaderCellDef>tipo de crédito</th>
                <td mat-cell *matCellDef="let row">Lorem</td>
            </ng-container>

            <!-- agencia Column -->
            <ng-container matColumnDef="agencia">
                <th mat-header-cell *matHeaderCellDef>Agencia</th>
                <td mat-cell *matCellDef="let row">Lorem</td>
            </ng-container>

            <!-- unidad Column -->
            <ng-container matColumnDef="unidad">
                <th mat-header-cell *matHeaderCellDef>Unidad de negocio</th>
                <td mat-cell *matCellDef="let row">Lorem</td>
            </ng-container>

            <!-- negocio Column -->
            <ng-container matColumnDef="negocio">
                <th mat-header-cell *matHeaderCellDef>Código de negocio</th>
                <td mat-cell *matCellDef="let row">Lorem</td>
            </ng-container>

            <!-- fecha_solicitud Column -->
            <ng-container matColumnDef="fecha_solicitud">
                <th mat-header-cell *matHeaderCellDef>Fecha de solicitud</th>
                <td mat-cell *matCellDef="let row">Lorem</td>
            </ng-container>

            <!-- fecha_aprobacion Column -->
            <ng-container matColumnDef="fecha_aprobacion">
                <th mat-header-cell *matHeaderCellDef>Fecha de aprobación</th>
                <td mat-cell *matCellDef="let row">Lorem</td>
            </ng-container>

            <!-- Estado Column -->
            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef>Estado</th>
                <td mat-cell *matCellDef="let row">Lorem</td>
            </ng-container>

            <!-- Subsstado Column -->
            <ng-container matColumnDef="subestado">
                <th mat-header-cell *matHeaderCellDef>Subsstado</th>
                <td mat-cell *matCellDef="let row">Lorem</td>
            </ng-container>

            <!-- valor Column -->
            <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef>Valor</th>
                <td mat-cell *matCellDef="let row">Lorem</td>
            </ng-container>

            <!-- Disponible Column -->
            <ng-container matColumnDef="disponible">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                    Disponible
                </th>
                <td mat-cell *matCellDef="let row">Lorem</td>
            </ng-container>

            <!-- detalle Column -->
            <ng-container matColumnDef="detalle">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                    Icon 
                    <mat-icon svgIcon="heroicons_solid:document-text"></mat-icon>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-icon svgIcon="heroicons_solid:document-text"></mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <mat-paginator [length]="15" [pageSize]="30" aria-label="Select page of GitHub search results">
    </mat-paginator>
</div>
