.zoom1 {
    zoom: 0.8;
}
.w-card-capacidad{
    width: 42rem !important;   
}

.borderFintra{
    border: 4px solid #4dbceb;
    border-radius: 1em;
    padding: 4em;
}

.rojo{
    // color: #e71313;
    padding: 0px 10px;
    border-radius: 1em;
    border: 3px solid #dc3545;
}

.verde{
    // color: #20B155;
    padding: 0px 10px;
    border-radius: 1em;
    border: 3px solid #20B155;
}

.mb--10 {
    margin-bottom: -10px;
}