<ng-container *ngIf="capacidadPago$ | async as capacidadPago">
    <ng-container *ngIf="listadoOferta$ | async as listadoOferta">

        <ng-container *ngFor="let item of capacidadPago.data; let i = index">
            <div class="gap-20 grid grid-cols-2 mb-30 mx-15 borderFintra relative">
                <div class="absolute inset-x-0 -top-4 flex items-center justify-center">
                    <div 
                        class="flex items-center h-8 px-8 rounded-full font-medium text-center leading-none bg-primary text-on-primary">
                         {{item.nombreOferta}}
                    </div>
                </div>
                <fuse-card class=" shadow flex-col px-3 py-4 ring-2 ring-primary overflow-visible">
                    <div class="mt-3 text-3xl font-bold tracking-tight leading-tight text-center ">
                        <!-- {{item.nombreOferta}} -->
                        Capacidad de pago
                    </div>
                    <div class="text-2xl font-bold tracking-tight leading-tight text-center m-0 mt-3">
                        Disponible cuota titular
                    </div>
                    <div class="flex items-baseline whitespace-nowrap justify-center text-center mt-2 mb-4">
                        <div class="text-4xl font-semibold leading-tight tracking-tight justify-center text-center">
                            <ng-container *ngIf="capacidadOferta">
                                <b [ngClass]="item.validacion=='N'?'verde':'rojo'">
                                    $
                                    {{
                                    item.disponibleCuota | number
                                    }}
                                </b>
                            </ng-container>
                        </div>
                    </div>
                    <!-- Price details -->
                    <div class="flex flex-col text-secondary text-center">
                        <div>
                            Monto solicitado:
                            <b> ${{ item.monto | number }}</b>
                        </div>
                        <div>
                            Plazo: <b> {{ item.plazo }} meses </b>
                        </div>
                        <div>
                            Cuota: <b> ${{ item.valorCuota | number}} </b>
                        </div>
                        <div>
                            Tasa: <b> {{ item.tasa }} % </b>
                        </div>
                    </div>

                    <div class="flex flex-col mt-6">
                        <div class="flex flex-col mt-2 text-secondary text-center font-bold text-xl">
                            <div>
                                Detalles adicionales
                            </div>
                        </div>
                        <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-4">
                            <div class="flex items-center justify-content-center">
                                <div class="space-y-2">
                                    <div class="flex">
                                        <mat-icon class="icon-size-5 text-green-600" [svgIcon]="
                                                        'heroicons_solid:check'
                                                    "></mat-icon>
                                        <div class="ml-2 leading-5">
                                            Salario básico:
                                            <b>${{
                                                item.salarioBasico
                                                | number
                                                }}</b>
                                        </div>
                                    </div>
                                    <div class="flex">
                                        <mat-icon class="icon-size-5 text-green-600" [svgIcon]="
                                                        'heroicons_solid:check'
                                                    "></mat-icon>
                                        <div class="ml-2 leading-5">
                                            Comisiones extras:
                                            <b>${{
                                                item.comisionesHorasExtras
                                                | number
                                                }}</b>
                                        </div>
                                    </div>
                                    <div class="flex">
                                        <mat-icon class="icon-size-5 text-green-600" [svgIcon]="
                                                        'heroicons_solid:check'
                                                    "></mat-icon>
                                        <div class="ml-2 leading-5">
                                            Descuentos de ley:
                                            <b>${{
                                                item.descuentosLey
                                                | number
                                                }}</b>
                                        </div>
                                    </div>
                                    <div class="flex">
                                        <mat-icon class="icon-size-5 text-green-600" [svgIcon]="
                                                        'heroicons_solid:check'
                                                    "></mat-icon>
                                        <div class="ml-2 leading-5">
                                            Fecha primera cuota:
                                            <b class="capitalize">{{
                                                cambiarFecha(item.fechaPrimeraCuota)

                                                }}</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex items-center">
                                <div class="space-y-2">
                                    <div class="flex">
                                        <mat-icon class="icon-size-5 text-green-600" [svgIcon]="
                                                        'heroicons_solid:check'
                                                    "></mat-icon>
                                        <div class="ml-2 leading-5">
                                            Ingresos brutos:
                                            <b>${{
                                                item.ingresosBrutos
                                                | number
                                                }}</b>
                                        </div>
                                    </div>
                                    <div class="flex">
                                        <mat-icon class="icon-size-5 text-green-600" [svgIcon]="
                                                        'heroicons_solid:check'
                                                    "></mat-icon>
                                        <div class="ml-2 leading-5">
                                            50% ingresos brutos:
                                            <b>${{
                                                item.mitadIngresosBrutos
                                                | number
                                                }}</b>
                                        </div>
                                    </div>
                                    <div class="flex">
                                        <mat-icon class="icon-size-5 text-green-600" [svgIcon]="
                                                        'heroicons_solid:check'
                                                    "></mat-icon>
                                        <div class="ml-2 leading-5">
                                            Factor embargo:
                                            <b>${{
                                                item.factorEmbargo
                                                | number
                                                }}</b>
                                        </div>
                                    </div>
                                    <div class="flex">
                                        <mat-icon class="icon-size-5 text-green-600" [svgIcon]="
                                                        'heroicons_solid:check'
                                                    "></mat-icon>
                                        <div class="ml-2 leading-5">
                                            Descuento de nomina:
                                            <b>${{
                                                item.descuentoNomina
                                                | number
                                                }}</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fuse-card>
                <ng-container *ngFor="let oferta of listadoOferta.data; let i = index">
                    <ng-container *ngIf="oferta.idTipoOferta==item.idTipoOferta">
                        <fuse-card
                            class="shadow flex-col max-w-sm md:max-w-none p-6 sm:py-12 sm:px-10 ring-2 ring-primary overflow-visible">
                            <div class="absolute inset-x-0 -top-4 flex items-center justify-center" *ngIf="!permisoEditar">
                                <div *ngIf="oferta.seleccionada == 'S'"
                                    class="flex items-center h-8 px-8 rounded-full font-medium text-center leading-none bg-green-600 text-on-primary">
                                    SELECCIONADO
                                </div>
                            </div>
                            <div class="text-3xl font-bold tracking-tight leading-tight text-center">
                                Oferta
                            </div>
                            <!-- Price -->
                            <div class="flex flex-col mt-2 text-secondary text-center">
                                <div>
                                    <b> Valor estimado a desembolsar: </b>
                                </div>
                            </div>
                            <div class="flex items-baseline whitespace-nowrap justify-center">
                                <div class="text-5xl font-semibold leading-tight tracking-tight">
                                        <b>${{oferta.valorDesembolsar | number}}</b>
                                </div>
                            </div>
                            <!-- Price details -->
                            <div class="flex flex-col mt-2 text-secondary text-center">
                                <div>
                                    Cuotas de: <b> ${{ oferta.cuotas | number }} </b>
                                </div>
                                <div>
                                    Plazo: <b> {{ oferta.plazo }} meses </b>
                                </div>
                            </div>
                            <div class="inset-x-0 -top-4 flex items-center justify-center" *ngIf="!permisoEditar">
                                <button [disabled]="oferta.seleccionada == 'S'" class="fuse-mat-button-large mt-10"
                                    mat-flat-button [color]="'primary'" (click)="SelectOferta(oferta)">
                                    Seleccionar
                                </button>
                            </div>
                            <!-- CTA -->

                            <!-- Features -->
                            <div class="flex flex-col mt-12">
                                <div class="flex flex-col mt-2 text-secondary text-center font-bold text-xl">
                                    <div>
                                        Detalles adicionales
                                    </div>
                                </div>
                                <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-4">
                                    <div class="flex items-center justify-content-center">
                                        <div class="space-y-2">
                                            <div class="flex">
                                                <mat-icon class="icon-size-5 text-green-600"
                                                    [svgIcon]="'heroicons_solid:check'">
                                                </mat-icon>
                                                <div class="ml-2 leading-5">
                                                    Monto solicitado:
                                                    <b>${{ oferta.monto | number }}</b>
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <mat-icon class="icon-size-5 text-green-600"
                                                    [svgIcon]="'heroicons_solid:check'">
                                                </mat-icon>
                                                <div class="ml-2 leading-5">
                                                    Garantía:
                                                    <b>${{ oferta.garantia | number }}</b>
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <mat-icon class="icon-size-5 text-green-600"
                                                    [svgIcon]="'heroicons_solid:check'">
                                                </mat-icon>
                                                <div class="ml-2 leading-5">
                                                    Tasa:
                                                    <b>{{ oferta.tasa | number }}%</b>
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <mat-icon class="icon-size-5 text-green-600"
                                                    [svgIcon]="'heroicons_solid:check'">
                                                </mat-icon>
                                                <div class="ml-2 leading-5">
                                                    Cartera a pagar real:
                                                    <b>${{
                                                        oferta.carteraAPagarSeleccionadas | number
                                                        }}</b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex items-center justify-content-center">
                                        <div class="space-y-2">
                                            <div class="flex">
                                                <mat-icon class="icon-size-5 text-green-600"
                                                    [svgIcon]="'heroicons_solid:check'">
                                                </mat-icon>
                                                <div class="ml-2 leading-5">
                                                    Cartera mora:
                                                    <b>${{
                                                        oferta.carteraMora | number
                                                        }}</b>
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <mat-icon class="icon-size-5 text-green-600"
                                                    [svgIcon]="'heroicons_solid:check'">
                                                </mat-icon>
                                                <div class="ml-2 leading-5">
                                                    Cartera a pagar saneamiento:
                                                    <b>${{
                                                        oferta.carteraPagar | number
                                                        }}</b>
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <mat-icon class="icon-size-5 text-green-600"
                                                    [svgIcon]="'heroicons_solid:check'">
                                                </mat-icon>
                                                <div class="ml-2 leading-5">
                                                    Saldo a recoger:
                                                    <b>${{
                                                        oferta.saldoARecoger | number
                                                        }}</b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fuse-card>
                    </ng-container>
                </ng-container>
            </div>
        </ng-container>

    </ng-container>
</ng-container>