<h2 mat-dialog-title>Detalle de PQRS</h2>
<mat-dialog-content>
    <div class="flex flex-col w-100" *ngFor="let item of datos">
        <div class="w-full">
            <mat-form-field class="w-full">
                <mat-label>Origen del reclamo</mat-label>
                <input matInput type="text" [value]="item.origen_reclamo" readonly>
            </mat-form-field>
        </div>
        <div class="w-full">
            <mat-form-field class="w-full">
                <mat-label>Motivo de causal</mat-label>
                <input matInput type="text" [value]="item.motivo_causal" readonly>
            </mat-form-field>
        </div>
        <div class="w-full">
            <mat-form-field class="w-full">
                <mat-label>Solucion</mat-label>
                <input matInput type="text" [value]="item.solucion" readonly>
            </mat-form-field>
        </div>
        <div class="w-full">
            <mat-form-field class="w-full">
                <mat-label>Fecha de vencimiento</mat-label>
                <input matInput [matDatepicker]="vence" [value]="item.fecha_vencimiento" readonly>
                <mat-datepicker-toggle matSuffix [for]="vence"></mat-datepicker-toggle>
                <mat-datepicker #vence disabled="true"></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="w-full">
            <mat-form-field class="w-full">
                <mat-label>Fecha de respuesta</mat-label>
                <input matInput  [matDatepicker]="res" [value]="item.fecha_respuesta" readonly>
                <mat-datepicker-toggle matSuffix [for]="res"></mat-datepicker-toggle>
                <mat-datepicker #res disabled="true"></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="w-full">
            <mat-form-field class="w-full">
                <mat-label>Medio de respuesta</mat-label>
                <input matInput type="text" [value]="item.medios_respuesta" readonly>
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>