<div class="bg-white h-screen sm:pb-40 md:pb-11 pb-40 overflow-auto px-3 rounded-lg shadow w-full y-100" cdkScrollable>
    <div class="flex flex-wrap w-full mx-auto p-6 md:p-8 bg-white z-10">

        <!-- Title and action buttons -->
        <div class="flex items-center justify-between w-full sm:flex-row flex-col">
            <div class="flex items-center ">
                <div class="flex-0 w-16 h-16  overflow-hidden">
                    <img src="assets/images/agendas/formulario-de-llenado.png" class="w-full h-full object-cover">
                </div>
                <div class="flex-1 mx-3">
                    <div class="text-3xl font-bold tracking-tight leading-8 text-gray-700">Formulario de libranza
                        publica
                    </div>
                    <div class="flex items-center">
                        <mat-icon svgIcon="heroicons_solid:bell" class="text-gray-400"></mat-icon>
                        <div class="font-medium tracking-tight text-secondary">
                            Complete el formulario
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
    <mat-stepper [linear]="true" [orientation]="orientationStep " #stepper class="md:px-8 sm:px-0">
        <mat-step [stepControl]="datosBasicos" >
            <form [formGroup]="datosBasicos">
                <ng-template matStepLabel>Datos basicos</ng-template>
                <div class="bg-white  rounded mt-4 pb-4 grid grid-cols-1  md:grid-cols-2">
                    <mat-form-field class="w-full px-3 fuse-mat-dense">
                        <mat-label>Tipo de documento</mat-label>
                        <mat-select formControlName="tipoDocumento">
                            <mat-option value="CC">
                                CC
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="datosBasicos.controls.tipoDocumento.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-full px-3 fuse-mat-dense">
                        <mat-label>No. de documento</mat-label>
                        <input matInput type="text" [mask]="'separator.0'" [thousandSeparator]="'.'" autocomplete="off" formControlName="identificacion">
                        <mat-error *ngIf="datosBasicos.controls.identificacion.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                        <mat-error *ngIf="datosBasicos.controls.identificacion.errors?.pattern">
                            Cantidad de números de 5-10.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-full px-3 fuse-mat-dense">
                        <mat-label>Celular</mat-label>
                        <input matInput type="text" autocomplete="off" formControlName="celular" prefix="+57 "
                            mask="(000) 000 00 00">
                        <mat-error *ngIf="datosBasicos.controls.celular.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                        <mat-error *ngIf="datosBasicos.controls.celular.errors?.pattern">
                            Debe comenzar en 3 y tener 10 digitos
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-full px-3 fuse-mat-dense">
                        <mat-label>Correo electrónico</mat-label>
                        <input formControlName="email" type="email" matInput autocomplete="off"/>
                        <mat-error *ngIf="datosBasicos.controls.email.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                        <mat-error *ngIf="datosBasicos.controls.email.errors?.email">
                            Email invalido
                        </mat-error>
                    </mat-form-field>
                    
                    <mat-form-field class="w-full px-3 fuse-mat-dense">
                        <mat-label>Primer nombre</mat-label>
                        <input matInput type="text" autocomplete="off" formControlName="primerNombre">
                        <mat-error *ngIf="datosBasicos.controls.primerNombre.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                        <mat-error *ngIf="datosBasicos.controls.primerNombre.errors?.pattern">
                            No se aceptan caracteres especiales.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-full px-3 fuse-mat-dense">
                        <mat-label>Primer apellido</mat-label>
                        <input matInput type="text" autocomplete="off" formControlName="primerApellido">
                        <mat-error *ngIf="datosBasicos.controls.primerNombre.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                        <mat-error *ngIf="datosBasicos.controls.primerNombre.errors?.pattern">
                            No se aceptan caracteres especiales.
                        </mat-error>
                    </mat-form-field>
                    
                   
                    
                    <mat-form-field class="w-full px-3 fuse-mat-dense">
                        <mat-label>Genero</mat-label>
                        <mat-select formControlName="genero">
                            <mat-option value="F">
                                F
                            </mat-option>
                            <mat-option value="M">
                                M
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="datosBasicos.controls.genero.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-full px-3 fuse-mat-dense ">
                        <mat-label>¿Cúando naciste?</mat-label>
                        <input style="max-height: 18px !important;" matInput type="date" autocomplete="off"
                            formControlName="fechaNacimiento">
                        <mat-error *ngIf="datosBasicos.controls.fechaNacimiento.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                        <mat-error *ngIf="datosBasicos.controls.fechaNacimiento.errors?.dateError">
                            La fecha no puede ser mayor al día de hoy.
                        </mat-error>
                        <mat-error *ngIf="datosBasicos.controls.fechaNacimiento.errors?.dateMayor">
                            La fecha tiene que ser 18 años menor al día de hoy.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-full px-3 fuse-mat-dense">
                        <mat-label>Código de asesor</mat-label>
                        <mat-select formControlName="codigoAsesor">
                            <mat-option value="F">
                                aaa
                            </mat-option>
                            <mat-option value="M">
                                bbb
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </form>
            <div class="bg-white rounded  pt-2 pb-4 sm:flex sm:justify-end gap-4">
                <button mat-raised-button color="primary" type="button" matStepperNext (click)="guardar()">
                    Siguiente
                    <mat-icon svgIcon="arrow_right"></mat-icon>
                </button>
            </div>
        </mat-step>
        <mat-step [stepControl]="datosLaborares">
            <form [formGroup]="datosLaborares">
                <ng-template matStepLabel>Información laboral</ng-template>
                <div class="bg-white  rounded  pt-6 grid grid-cols-1   md:grid-cols-2">
                    <div
                        class="col-lg-12 col-sm-12 cursor-pointer font-bold mb-3 bg-accent-200 rounded-2 pl-4 mt-1 text-2xl md:col-span-2">
                        Datos laborales
                    </div>

                    <mat-form-field class="w-full px-3 fuse-mat-dense">
                        <mat-label>Ocupación</mat-label>
                        <mat-select formControlName="ocupacio">
                            <mat-option value="VEB">
                                Vendedor de bolis
                            </mat-option>
                            <mat-option value="VET">
                                Vendedor de termos
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="datosLaborares.controls.ocupacio.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-full px-3 fuse-mat-dense">
                        <mat-label>¿ En cúal empresa trabajas?</mat-label>
                        <mat-select formControlName="pagaduria">
                            <mat-option value="VEB">
                                Fintra
                            </mat-option>
                            <mat-option value="VET">
                                Claro
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="datosLaborares.controls.pagaduria.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-full px-3 fuse-mat-dense">
                        <mat-label>Otra, Indique ¿cual?</mat-label>
                        <input matInput type="text" autocomplete="off" formControlName="otraPagaduria">
                        <mat-error *ngIf="datosLaborares.controls.otraPagaduria.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-full px-3 fuse-mat-dense">
                        <mat-label>¿Qué contrato tienes?</mat-label>
                        <mat-select formControlName="tipoContrato">
                            <mat-option value="VEB">
                                Prestación de servicios
                            </mat-option>
                            <mat-option value="VET">
                                No
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="datosLaborares.controls.tipoContrato.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-full px-3 fuse-mat-dense ">
                        <mat-label>Fecha de Vinculación</mat-label>
                        <input style="max-height: 18px !important;" matInput type="date" autocomplete="off"
                            formControlName="fechaVinculacion">
                            <mat-error *ngIf="datosLaborares.controls.fechaVinculacion.errors?.required">
                                Este campo es requerido.
                            </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-full px-3 fuse-mat-dense">
                        <mat-label>Cargo</mat-label>
                        <mat-select formControlName="cargo">
                            <mat-option value="VEB">
                                Developer
                            </mat-option>
                            <mat-option value="VET">
                                No
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="datosLaborares.controls.cargo.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-full px-3 fuse-mat-dense">
                        <mat-label>Salario básico o pensión del volante($)</mat-label>
                        <span  matPrefix>$</span>
                        <input matInput type="text" [mask]="'separator.0'" [thousandSeparator]="'.'" autocomplete="off" formControlName="salarioBasico">
                        <mat-error *ngIf="datosLaborares.controls.salarioBasico.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-full px-3 fuse-mat-dense">
                        <mat-label>Otros ingresos del volante (AA)</mat-label>
                        <span  matPrefix>$</span>
                        <input matInput type="text" [mask]="'separator.0'" [thousandSeparator]="'.'" autocomplete="off" formControlName="otrosIngreso">
                        <mat-error *ngIf="datosLaborares.controls.otrosIngreso.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-full px-3 fuse-mat-dense">
                        <mat-label>Descuento en volante de nómina ($)</mat-label>
                        <span  matPrefix>$</span>
                        <input matInput type="text" [mask]="'separator.0'" [thousandSeparator]="'.'" autocomplete="off" formControlName="descuentoNomina">
                        <mat-error *ngIf="datosLaborares.controls.descuentoNomina.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>
                </div>
            </form>
        
            <form [formGroup]="validationOTPForm">

                <div class="bg-white  pt-6 grid grid-cols-1   md:grid-cols-1">


                    <div class="w-auto cursor-pointer font-bold mb-3 bg-accent-200 rounded-2  mt-1  px-3 text-2xl">
                        Validación de OTP
                    </div>
                    <!-- <mat-form-field class="w-full px-3 fuse-mat-dense">
                <mat-label>Código OTP</mat-label>
                <input matInput type="text" autocomplete="off" formControlName="numeroOTP" [disabled]="this.form.invalid" placeholder="Presionar el botón para enviar el código del celular">
                <mat-icon svgIcon="feather:check-circle" [ngClass]="{'text-green-400': this.otpValidado}" matTooltip="Verificar código OTP" class="cursor-pointer mx-2" (click)="validarCodigo()"></mat-icon>
                <mat-icon svgIcon="feather:send" [ngClass]="{'text-blue-400': this.form.valid}" class="cursor-pointer" matTooltip="Enviar código OTP" (click)="solicitarCodigo()"></mat-icon>
            </mat-form-field> -->
                    <div class="w-full px-3 fuse-mat-dense flex justify-center items-center pt-4 flex-col">
                        <button mat-raised-button color="primary" type="button" style="width: 80% !important"
                            class="rounded-md cursor-pointer">
                                Enviar código OTP
                        </button>

                    </div>

                    <mat-form-field class="px-3 fuse-mat-dense mt-5" style=" width: 80% !important; margin-left: 10%;">
                        <input matInput type="text" placeholder="Código" autocomplete="off" formControlName="numeroOTP"
                            min="6" max="6">
                        <mat-error *ngIf="validationOTPForm.controls.numeroOTP.errors?.required">
                            Este campo es requerido.
                        </mat-error>
                        <mat-error *ngIf="validationOTPForm.controls.numeroOTP.errors?.min">
                            Mínimo 6 dígitos
                        </mat-error>
                    </mat-form-field>

                    <!-- <div class="w-full px-3 fuse-mat-dense flex justify-center items-center"
                style="min-height: 200px !important;">

                <mat-form-field class="w-10 sm:w-1/12 sm:px-3 fuse-mat-dense">
                    <input [readonly]="otpValidado" matInput type="text" maxlength="1" autocomplete="off"
                        formControlName="numOTP1" id="num1"  (keyup)="changeFocus()"
                        class="text-center h-6 font-bold sm:text-xl text-sm " style="width: 40px !important;">
                </mat-form-field>
                <mat-form-field class="w-10 sm:w-1/12 sm:px-3  fuse-mat-dense">
                    <input [readonly]="otpValidado" matInput type="text" maxlength="1" autocomplete="off"
                        formControlName="numOTP2" id="num2"  (keyup)="changeFocus()"
                        class="text-center h-6 font-bold sm:text-xl text-sm">
                </mat-form-field>
                <mat-form-field class="w-10 sm:w-1/12 md:px-3  fuse-mat-dense">
                    <input [readonly]="otpValidado" matInput type="text" maxlength="1" autocomplete="off"
                        formControlName="numOTP3" id="num3" (keyup)="changeFocus()"
                        class="text-center h-6 font-bold sm:text-xl text-sm">
                </mat-form-field>
                <mat-form-field class="w-10 sm:w-1/12 sm:px-3 fuse-mat-dense">
                    <input [readonly]="otpValidado" matInput type="text" maxlength="1" autocomplete="off"
                        formControlName="numOTP4" id="num4" (keyup)="changeFocus()"
                        class="text-center h-6 font-bold sm:text-xl text-sm">
                </mat-form-field>
                <mat-form-field class="w-10 sm:w-1/12 sm:px-3 fuse-mat-dense">
                    <input [readonly]="otpValidado" matInput type="text" maxlength="1" autocomplete="off"
                        formControlName="numOTP5" id="num5" (keyup)="changeFocus()"
                        class="text-center h-6 font-bold sm:text-xl text-sm">
                </mat-form-field>
                <mat-form-field class="w-10 sm:w-1/12 sm:px-3 fuse-mat-dense">
                    <input [readonly]="otpValidado" matInput type="text" maxlength="1" autocomplete="off"
                        formControlName="numOTP6" id="num6" (keyup)="validarCodigo()"
                        class="text-center h-6 font-bold sm:text-xl text-sm">
                </mat-form-field>
            </div> -->


                </div>
            </form>
            <div class="bg-white rounded  pt-6 pb-8 mb-18 sm:flex sm:justify-end gap-4">
                <button mat-raised-button color="primary" type="button" [disabled]="this.validationOTPForm.invalid" (click)="guardar()">
                    Guardar
                </button>
            </div>
        </mat-step>
    </mat-stepper>

</div>