<h2 mat-dialog-title>Decisión</h2>
<mat-dialog-content>
  <form [formGroup]="DecisionForm">
    <div class="flex flex-col w-100">
      <div class="w-full">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Decisión</mat-label>
          <mat-select formControlName="decision">
            <mat-option *ngFor="let item of listadoDeciones" value="{{item.codigoOpcion}}" (click)="ocultarCausal(item.codigoOpcion)">{{item.descripcionOpcion}}</mat-option>
          </mat-select>
          <mat-error *ngIf="frm.decision.errors?.required">
            Campo requerido.
          </mat-error>
          <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:clipboard-list'"></mat-icon>
        </mat-form-field>
      </div>
      <div [hidden]="visible==false" class="w-full">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Causal </mat-label>
          <mat-select formControlName="causal" [required]="visible==true">
            <mat-option *ngFor="let item of listadoCausales" value="{{item.idCausal}}">{{item.descripcionCausal}}</mat-option>
          </mat-select>
          <mat-icon class="icon-size-5" matPrefix [svgIcon]="'business_center'"></mat-icon>
        </mat-form-field>
      </div>
      <div class="w-full">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Monto ($)</mat-label>
          <input matInput type="text" autocomplete="off" [formControlName]="'monto'" value="valorNum" (keyup)="frm.monto.setValue(decision.formatearNumero(frm.monto.value)); convText(frm.monto.value)">
          <mat-icon class="icon-size-5" matPrefix [svgIcon]="'business_center'"></mat-icon>
        </mat-form-field>
      </div>
      <div class="w-full">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Plazo (Meses) </mat-label>
          <input matInput type="text" formControlName="plazo" autocomplete="off">
          <mat-icon class="icon-size-5" matPrefix [svgIcon]="'business_center'"></mat-icon>
        </mat-form-field>
      </div>
      <div class="w-full">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Tasa </mat-label>
          <input matInput type="text" formControlName="tasa" autocomplete="off">
          <mat-icon class="icon-size-5" matPrefix [svgIcon]="'business_center'"></mat-icon>
        </mat-form-field>
      </div>
      <div class="w-full">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Comentario</mat-label>
          <textarea class="tamano" matInput type="text" formControlName="comentario" rows="3" autocomplete="off"></textarea>
          <mat-icon class="icon-size-5" matPrefix [svgIcon]="'text_snippet'"></mat-icon>
        </mat-form-field>
      </div>
      <div class="w-full">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Reliquidar</mat-label>
          <input matInput type="text" autocomplete="off">
          <mat-icon class="icon-size-5" matPrefix [svgIcon]="'business_center'"></mat-icon>
        </mat-form-field>
      </div>
    </div>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button id="guardar" (click)="guardar()" class="color_fintra text-white" [disabled]="DecisionForm.invalid">Guardar decisión</button>
  <button mat-button mat-dialog-close id="cancelar">Cancelar</button>
</mat-dialog-actions>
