<h2 mat-dialog-title>Decisión</h2>
<mat-dialog-content class="py-2">
    <form [formGroup]="form">
        <div class="flex flex-col w-100">
            <div class="w-full">
                <mat-form-field class="w-full" appearance="fill">
                    <mat-label>Decisión</mat-label>
                    <mat-select formControlName="decision" (selectionChange)="getlistadoCausales()">
                        <mat-option *ngFor="let item of listadoDeciones"
                            value="{{item.codigoOpcion}}">{{item.descripcionOpcion}}
                        </mat-option>
                    </mat-select>
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:clipboard-list'"></mat-icon>
                </mat-form-field>
            </div>
            <div *ngIf="form.value.decision!='A'">
                <mat-form-field class="w-full" appearance="fill">
                    <mat-label>Causal </mat-label>
                    <mat-select formControlName="causal">
                        <mat-option *ngFor="let item of listadoCausales"
                            value="{{item.idCausal}}">{{item.descripcionCausal}}
                        </mat-option>
                    </mat-select>
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'business_center'"></mat-icon>
                </mat-form-field>
            </div>
            <div class="w-full" *ngIf="fabricaDatos.unidadNegocio==32">
                <mat-form-field class="w-full" appearance="fill">
                    <mat-label>Cupo</mat-label>
                    <input matInput type="text" autocomplete="off" [formControlName]="'cupo'"
                        (keyup)="form.controls['cupo'].setValue(utility.formatearNumero(form.value.cupo)); ">
                    <span matPrefix>$&nbsp;</span>
                </mat-form-field>
            </div>

            <div class="w-full">
                <mat-form-field class="w-full" appearance="fill">
                    <mat-label>Comentario</mat-label>
                    <textarea class="tamano" matInput type="text" formControlName="comentario" rows="5"
                        autocomplete="off"></textarea>

                </mat-form-field>
            </div>

        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions>
    <div class="flex flex-row items-center justify-end sm:justify-end w-full">
        <button mat-raised-button color="primary" type="button" (click)="guardar()"
            [disabled]="form.invalid || bloquearDecision">Guardar
            decisión</button>
        <button mat-raised-button class="mr-2 bg-gray-400 text-white" type="button" mat-dialog-close
            id="cancelar">Cancelar</button>
    </div>
</mat-dialog-actions>