<mat-dialog-content>
    <!--<code><pre>{{form.valid | json}}</pre></code>
    <code><pre>{{form.status | json}}</pre></code>
    <code><pre>identificacion: {{form.controls['identificacion'].valid | json}}</pre></code>
    <code><pre>nombreCompleto: {{form.controls['nombreCompleto'].valid | json}}</pre></code>
    <code><pre>codigoDepartamento: {{form.controls['codigoDepartamento'].valid | json}}</pre></code>
    <code><pre>codigoCiudad: {{form.controls['codigoCiudad'].valid | json}}</pre></code>
    <code><pre>codigoBarrio: {{form.controls['codigoBarrio'].valid | json}}</pre></code>
    <code><pre>primerNombre: {{form.controls['primerNombre'].valid | json}}</pre></code>
    <code><pre>primerApellido: {{form.controls['primerApellido'].valid | json}}</pre></code>-->
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="form">
                <div class="bg-white px-8 pt-6 pb-8 mb-4 flex flex-col">
                    <span class="bg-gray-200 p-1.5 mb-3 rounded-1 text-dark">Información de referencia</span>
                    <div class="-mx-3 md:flex mb-2">
                        <ng-container *ngIf="tiposReferencia$ | async as items">
                            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                                <mat-label>Tipo de referencia</mat-label>
                                <mat-select
                                    [value]="'seleccione'"
                                    [formControlName]="'tipo'"
                                >
                                    <mat-option disabled [value]="'seleccione'">Seleccione</mat-option>
                                    <mat-option *ngFor="let item of items.data"
                                                [value]="item.codigoOpcion"
                                    >{{item.descripcionOpcion}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>
                        <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                            <mat-label>No. de indeitificacion</mat-label>
                            <input matInput type="text" placeholder="Ingrese numero"  [formControlName]="'identificacion'">
                            <mat-error *ngIf="soloNumero('identificacion')">
                                Este campo solo acepta números.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <ng-container *ngIf="form.controls['tipo'].value !== 'P'">
                        <div class="-mx-3 md:flex mb-2">
                            <mat-form-field class="w-full px-3 fuse-mat-dense">
                                <mat-label>Nombre completo</mat-label>
                                <input matInput type="text" placeholder="Nombre completo" [formControlName]="'nombreCompleto'">
                            </mat-form-field>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="form.controls['tipo'].value !== 'C'">
                        <div class="-mx-3 md:flex mb-2">
                            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                                <mat-label>Primer nombre</mat-label>
                                <input matInput type="text" placeholder="Primer nombre" [formControlName]="'primerNombre'">
                            </mat-form-field>
                            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                                <mat-label>Segundo nombre</mat-label>
                                <input matInput type="text" placeholder="Segundo nombre" [formControlName]="'segundoNombre'">
                            </mat-form-field>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="form.controls['tipo'].value !== 'C'">
                        <div class="-mx-3 md:flex mb-2">
                            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                                <mat-label>Primer apellido</mat-label>
                                <input matInput type="text" placeholder="Primer apellido" [formControlName]="'primerApellido'">
                            </mat-form-field>
                            <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                                <mat-label>Segundo apellido</mat-label>
                                <input matInput type="text" placeholder="Segundo apellido" [formControlName]="'segundoApellido'">
                            </mat-form-field>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="form.controls['tipo'].value !== 'P'">
                        <div class="-mx-3 md:flex mb-2">
                            <mat-form-field class="w-full px-3 fuse-mat-dense">
                                <mat-label>Antigüedad</mat-label>
                                <input matInput type="number" placeholder="Ingrese valor" [min]="'0'" [formControlName]="'antiguedad'">
                            </mat-form-field>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="form.controls['tipo'].value !== 'P'">
                        <div class="-mx-3 md:flex mb-2">
                            <ng-container *ngIf="departamentos$ | async as departamentos">
                                <mat-form-field class="w-full px-3 fuse-mat-dense">
                                    <mat-label>Departamento del negocio</mat-label>
                                    <mat-select (selectionChange)="seleccionDepartamento($event)"
                                                [value]="'seleccione'"
                                                [formControlName]="'codigoDepartamento'"
                                    >
                                        <mat-option disabled [value]="'seleccione'">Seleccione</mat-option>
                                        <mat-option *ngFor="let departamento of departamentos.data"
                                                    [value]="departamento.codigo"
                                        >{{departamento.nombre}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </ng-container>
                        </div>
                        <div class="-mx-3 md:flex mb-2">
                            <ng-container *ngIf="ciudades$ | async as ciudades">
                                <mat-form-field class="w-full px-3 fuse-mat-dense">
                                    <mat-label>Ciudad / municipio </mat-label>
                                    <mat-select (selectionChange)="seleccionCiudad($event)"
                                                [value]="'seleccione'"
                                                [formControlName]="'codigoCiudad'"
                                    >
                                        <mat-option disabled [value]="'seleccione'">Seleccione</mat-option>
                                        <mat-option *ngFor="let ciudad of ciudades.data"
                                                    [value]="ciudad.codigo"
                                        >{{ciudad.nombre}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </ng-container>
                        </div>
                        <div class="-mx-3 md:flex mb-2">
                            <ng-container *ngIf="barrios$ | async as barrios">
                                <mat-form-field class="w-full px-3 fuse-mat-dense">
                                    <mat-label>Barrio</mat-label>
                                    <mat-select
                                        [value]="'seleccione'"
                                        [formControlName]="'codigoBarrio'"
                                    >
                                        <mat-option disabled [value]="'seleccione'">Seleccione</mat-option>
                                        <mat-option *ngFor="let barrio of barrios.data"
                                                    [value]="barrio.codigo"
                                        >{{barrio.nombre}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </ng-container>
                        </div>
                        <div class="-mx-3 md:flex mb-2">
                            <mat-form-field class="w-full px-3 fuse-mat-dense">
                                <mat-label>Dirección</mat-label>
                                <input matInput type="text" placeholder="Primer apellido" [formControlName]="'direccion'">
                            </mat-form-field>
                        </div>
                    </ng-container>
                    <div class="-mx-3 md:flex mb-2">
                        <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                            <mat-label>Celular</mat-label>
                            <input matInput type="text" placeholder="Primer apellido" [formControlName]="'celular'">
                            <mat-error *ngIf="soloNumero('celular')">
                                Este campo solo acepta números.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-1/2 px-3 fuse-mat-dense">
                            <mat-label>Teléfono</mat-label>
                            <input matInput type="text" placeholder="Segundo apellido" [formControlName]="'telefono'">
                            <mat-error *ngIf="soloNumero('telefono')">
                                Este campo solo acepta números.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="flex flex-row items-center justify-end sm:justify-end mr-8 w-full">
        <button mat-raised-button
                color="accent"
                type="button"
                (click)="onCerrar()"
        >
            Cerrar
        </button>
        <button mat-raised-button
                color="primary"
                type="button"
                (click)="onGuardar()"
                [disabled]="!form.valid"
        >
            Guardar
        </button>
    </div>
</mat-dialog-actions>

