<h2 mat-dialog-title>Información de referencia</h2>
<mat-dialog-content>
    <!-- <code><pre>{{form.valid | json}}</pre></code>
    <code><pre>{{form.status | json}}</pre></code>
    <code><pre>nombreCompleto: {{form.controls['nombreCompleto'].valid | json}}</pre></code>
    <code><pre>codigoDepartamento: {{form.controls['codigoDepartamento'].valid | json}}</pre></code>
    <code><pre>codigoCiudad: {{form.controls['codigoCiudad'].valid | json}}</pre></code>
    <code><pre>codigoBarrio: {{form.controls['codigoBarrio'].valid | json}}</pre></code>
    <code><pre>primerNombre: {{form.controls['primerNombre'].valid | json}}</pre></code>
    <code><pre>primerApellido: {{form.controls['primerApellido'].valid | json}}</pre></code>
    <code><pre>Antiguedad: {{form.controls['antiguedad'].valid | json}}</pre></code>
    <code><pre>Celular: {{form.controls['celular'].valid | json}}</pre></code>-->
    <div class="row">
        <div class="col-md-12 col-md-12 col-lg-12">
            <form [formGroup]="form">
                <div class="bg-white flex flex-col">
                    <div class="md:flex">
                        <!--{{form.controls.tipo.value}}-->
                        <ng-container *ngIf="tiposTercero$ | async as items">
                            <mat-form-field class="w-full mr-2 fuse-mat-dense">
                                <mat-label>Tipo de tercero</mat-label>
                                <mat-select [formControlName]="'tipoTercero'" [required]="true">
                                    <mat-option *ngFor="let item of items.data" [value]="item.codigoOpcion">
                                        {{item.descripcionOpcion}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls['tipoTercero'].errors?.required">
                                    Este campo es requerido
                                </mat-error>
                            </mat-form-field>
                        </ng-container>
                    </div>
                    <div class="md:flex">
                        <!--{{form.controls.tipo.value}}-->
                        <ng-container *ngIf="tiposReferencia$ | async as items">
                            <mat-form-field class="w-full mr-2 fuse-mat-dense">
                                <mat-label>Tipo de referencia</mat-label>
                                <mat-select [formControlName]="'tipo'">
                                    <mat-option *ngFor="let item of items.data" [value]="item.codigoOpcion">
                                        {{item.descripcionOpcion}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls['tipo'].errors?.required">
                                    Este campo es requerido
                                </mat-error>
                            </mat-form-field>
                        </ng-container>
                    </div>
                    <ng-container *ngIf="form.controls['tipo'].value === 'C'">
                        <div class="md:flex">
                            <mat-form-field class="w-full fuse-mat-dense">
                                <mat-label>Razón social</mat-label>
                                <input matInput type="text" [formControlName]="'nombreCompleto'" [required]="true">
                            </mat-form-field>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="form.controls['tipo'].value !== 'C'">
                        <div class="md:flex">
                            <mat-form-field class="w-1/2 mr-2 fuse-mat-dense">
                                <mat-label>Primer nombre</mat-label>
                                <input matInput type="text" [formControlName]="'primerNombre'" [required]="true">
                                <mat-error *ngIf="campoRequerido('primerNombre')">
                                    Este campo es requerido
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="w-1/2 fuse-mat-dense">
                                <mat-label>Segundo nombre (opcional)</mat-label>
                                <input matInput type="text" [formControlName]="'segundoNombre'">
                            </mat-form-field>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="form.controls['tipo'].value !== 'C'">
                        <div class="md:flex">
                            <mat-form-field class="w-1/2 mr-2 fuse-mat-dense">
                                <mat-label>Primer apellido</mat-label>
                                <input matInput type="text" [formControlName]="'primerApellido'" [required]="true">
                                <mat-error *ngIf="campoRequerido('primerApellido')">
                                    Este campo es requerido
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="w-1/2 fuse-mat-dense">
                                <mat-label>Segundo apellido (opcional)</mat-label>
                                <input matInput type="text" [formControlName]="'segundoApellido'">
                            </mat-form-field>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="form.controls['tipo'].value === 'C' && unidadNegocio !== 1">
                        <div class="md:flex">
                            <mat-form-field class="w-full fuse-mat-dense">
                                <mat-label>Antigüedad de ser cliente (meses)</mat-label>
                                <input matInput type="number" [min]="'0'" [formControlName]="'antiguedad'"
                                    [required]="true">
                                <mat-error *ngIf="form.controls['antiguedad'].errors?.required">
                                    Este campo es requerido
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="form.controls['tipo'].value === 'P'">
                        <div class="md:flex">
                            <mat-form-field class="w-full fuse-mat-dense">
                                <mat-label>Tiempo conocido (meses)</mat-label>
                                <input matInput type="number" [min]="'0'" [formControlName]="'antiguedad'"
                                    [required]="true">
                                <mat-error *ngIf="form.controls['antiguedad'].errors?.required">
                                    Este campo es requerido
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="form.controls['tipo'].value === 'C' && unidadNegocio !== 1">

                        <ng-container *ngIf="departamentos$ | async as departamentos">
                            <mat-form-field class="w-full fuse-mat-dense">
                                <mat-label>Departamento</mat-label>
                                <mat-select (selectionChange)="seleccionDepartamentoNacimiento($event)"
                                    [value]="'seleccione'" [formControlName]="'codigoDepartamento'">
                                    <mat-option disabled [value]="'seleccione'">Seleccione
                                    </mat-option>
                                    <mat-option *ngFor="let departamento of departamentos.data"
                                        [value]="departamento.codigo">{{departamento.nombre}}
                                    </mat-option>
                                </mat-select>
                                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'"></mat-icon>
                            </mat-form-field>
                        </ng-container>
                        <ng-container *ngIf="ciudades$ | async as ciudades">
                            <mat-form-field class="w-full fuse-mat-dense">
                                <mat-label>Ciudad / Municipio</mat-label>
                                <mat-select [value]="'seleccione'" [formControlName]="'codigoCiudad'">
                                    <mat-option disabled [value]="'seleccione'">Seleccione
                                    </mat-option>
                                    <mat-option *ngFor="let ciudad of ciudades.data"
                                        [value]="ciudad.codigo">{{ciudad.nombre}}
                                    </mat-option>
                                </mat-select>
                                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'mat_outline:edit'"></mat-icon>
                            </mat-form-field>
                        </ng-container>
                    </ng-container>
                    <ng-container
                        *ngIf="form.controls['tipo'].value !== 'C' && form.controls['tipo'].value !== 'P' && form.controls['tipo'].value !== 'F'">
                        <div class="md:flex">
                            <mat-form-field class="w-full fuse-mat-dense">
                                <mat-label>Departamento</mat-label>
                                <input matInput type="text" [formControlName]="'departamentoNombre'"
                                    (keydown)="openModalDirection()" (click)="openModalDirection()">
                            </mat-form-field>
                        </div>
                        <div class="md:flex">
                            <mat-form-field class="w-full fuse-mat-dense">
                                <mat-label>Cuidad / municipio</mat-label>
                                <input matInput type="text" [formControlName]="'ciudadNombre'"
                                    (keydown)="openModalDirection()" (click)="openModalDirection()">
                            </mat-form-field>
                        </div>
                        <div class="md:flex">
                            <mat-form-field class="w-full fuse-mat-dense">
                                <mat-label>Barrio</mat-label>
                                <input matInput type="text" [formControlName]="'nombreBarrio'"
                                    (keydown)="openModalDirection()" (click)="openModalDirection()">
                            </mat-form-field>
                        </div>
                        <div class="md:flex">
                            <mat-form-field class="w-full fuse-mat-dense">
                                <mat-label>Dirección</mat-label>
                                <input matInput type="text" [formControlName]="'direccion'"
                                    (keydown)="openModalDirection()" (click)="openModalDirection()">
                            </mat-form-field>
                        </div>
                    </ng-container>
                    <div class="md:flex">
                        <mat-form-field class="w-1/2 mr-2 fuse-mat-dense">
                            <mat-label>Celular</mat-label>
                            <input matInput type="text" mask="(000) 000 0000" [validation]="false"
                                [formControlName]="'celular'" [required]="true">
                            <mat-error *ngIf="(form.controls.celular.dirty || form.controls.celular.touched)">
                                <mat-error *ngIf="form.controls.celular.errors?.required ">Este campo es
                                    requerido.</mat-error>
                                <mat-error *ngIf="form.controls.celular.errors?.pattern">Debe iniciar por 3.</mat-error>
                                <mat-error *ngIf="form.controls.celular.errors?.minlength">Longitud mínima son 9
                                    dígitos.</mat-error>
                                <mat-error *ngIf="form.controls.celular.errors?.maxlength">Longitud máxima son 11
                                    dígitos.</mat-error>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-1/2 fuse-mat-dense">
                            <mat-label>Teléfono (opcional)</mat-label>
                            <input matInput type="text" [formControlName]="'telefono'">
                            <mat-error *ngIf="(form.controls.telefono.dirty || form.controls.telefono.touched)">
                                <mat-error *ngIf="form.controls.telefono.errors?.pattern">Solo se aceptan
                                    números.</mat-error>
                                <mat-error *ngIf="form.controls.telefono.errors?.minlength">Longitud mínima son 7
                                    dígitos.</mat-error>
                                <mat-error *ngIf="form.controls.telefono.errors?.maxlength">Longitud máxima son 11
                                    dígitos.</mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="md:flex" *ngIf="form.controls['tipo'].value === 'F'">
                        <!--{{form.controls.tipo.value}}-->
                        <ng-container *ngIf="parentescos$ | async as items">
                            <mat-form-field class="w-full mr-2 fuse-mat-dense">
                                <mat-label>Tipo de parentesco</mat-label>
                                <mat-select [formControlName]="'parentesco'">
                                    <mat-option *ngFor="let item of items.data" [value]="item.codigoOpcion">
                                        {{item.descripcionOpcion}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>
                    </div>
                    <div class="md:flex" *ngIf="form.controls['tipo'].value === 'C' && unidadNegocio === 1">
                        <!--{{form.controls.tipo.value}}-->
                        <ng-container *ngIf="tipoReferencia">
                            <mat-form-field class="w-full mr-2 fuse-mat-dense">
                                <mat-label>Tipo de referencia</mat-label>
                                <mat-select [formControlName]="'tipoReferencia'">
                                    <mat-option *ngFor="let item of tipoReferencia" [value]="item.codigoOpcion">
                                        {{item.descripcionOpcion}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>
                    </div>
                    <div class="md:flex" *ngIf="form.controls['tipo'].value === 'F'  && form.controls['parentesco'].value === 'OT'">

                        <ng-container *ngIf="parentescos$ | async as items">
                            <mat-form-field class="w-full mr-2 fuse-mat-dense">
                                <mat-label>Otro, indique cual.</mat-label>
                                <input matInput type="text" [formControlName]="'otroParentezco'">
                            </mat-form-field>
                        </ng-container>
                    </div>
                </div>
            </form>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="flex flex-row items-center justify-end sm:justify-end w-full">
        <button mat-raised-button color="primary" type="button" (click)="onGuardar()">
            Guardar
        </button>
        <button mat-raised-button class="mr-2 bg-gray-400 text-white" type="button" (click)="onCerrar()">
            Cerrar
        </button>
    </div>
</mat-dialog-actions>