<div class="bg-white h-full h-screen overflow-auto px-3 py-2 rounded-lg shadow w-full">
    <div class="flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
        <div class="flex flex-col">
            <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-end">
                <button mat-icon-button
                        matTooltip="Minimizar"
                >
                    <mat-icon [svgIcon]="'mat_outline:minimize'"></mat-icon>
                </button>
                <button mat-icon-button
                        matTooltip="Cerrar"
                >
                    <mat-icon [svgIcon]="'mat_outline:close'"></mat-icon>
                </button>
            </div>
            <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-start py-6 px-6 md:px-8 border-b">
                <h3 class="mb-2 text-gray-900">Comentarios</h3>
            </div>
        </div>
        <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-end py-6 border-b h-full">
            <input class="border rounded p-2 bg-gray-100 mr-4 text-xs" type="text"
                   autocomplete="off" name="filtrarTablaHG"
                   placeholder="Filtrar..."
            >
            <select class="border rounded  bg-gray-100 text-xs p-2 text-gray-400"
            >
                <option value="5"> 5</option>
                <option value="10"> 10</option>
                <option value="20"> 20</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <table class="shadow p-0">
                <thead class="bg-accent-50" >
                <tr
                    class="text-md font-semibold tracking-wide text-left text-gray-400  border-b">
                    <th class="px-4 py-3"></th>
                    <th class="px-4 py-3">N° de solicitud</th>
                    <th class="px-4 py-3">Comentario</th>
                    <th class="px-4 py-3">Fecha de creación</th>
                    <th class="px-4 py-3">Descripción Estado</th>
                    <th class="px-4 py-3">Descripción SubEstado</th>
                    <th class="px-4 py-3">Usuario</th>
                </tr>
                </thead>
                <tbody class="bg-white">
                <ng-container *ngIf="comentarios$ | async as items;">
                    <ng-container *ngFor="let item of items.data">
                        <tr class="text-gray-700" >
                            <td class="px-2 text-sm border">
                                <button mat-icon-button
                                        matTooltip="Ver comentario"
                                >
                                    <mat-icon [svgIcon]="'mat_outline:visibility'"></mat-icon>
                                </button>
                            </td>
                            <td class="px-2 text-sm border">{{ item.numeroSolicitud}}</td>
                            <td class="px-2 text-sm border">{{ item.comentario | slice: 0: 10}}</td>
                            <td class="px-2 text-sm border">{{ item.fechaCreacion}}</td>
                            <td class="px-2 text-sm border">{{ item.descripcionEstado}}</td>
                            <td class="px-2 text-sm border">{{ item.descripcionSubEstado}}</td>
                            <td class="px-2 text-sm border">{{ item.usuarioCreacion }}</td>
                        </tr>
                    </ng-container>
                </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>


