<h2 mat-dialog-title>Información de referencia</h2>
<mat-dialog-content>
    <div class="row">
        <div class="col-md-12 col-md-12 col-lg-12">
            <form [formGroup]="form">
                <div class="bg-white flex flex-col">
                    <ng-container *ngIf="form.controls['tipo'].value === 'NIT'">
                        <div class="md:flex">
                            <mat-form-field class="w-full fuse-mat-dense">
                                <mat-label>Nombre completo</mat-label>
                                <input matInput type="text" [formControlName]="'nombreCompleto'">
                            </mat-form-field>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="form.controls['tipo'].value === 'CC'">
                        <div class="md:flex">
                            <mat-form-field class="w-1/2 mr-2 fuse-mat-dense">
                                <mat-label>Primer nombre</mat-label>
                                <input matInput type="text" [formControlName]="'primerNombre'">
                                <mat-error *ngIf="campoRequerido('primerNombre')">
                                    Este campo es requerido
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="w-1/2 fuse-mat-dense">
                                <mat-label>Segundo nombre (opcional)</mat-label>
                                <input matInput type="text" [formControlName]="'segundoNombre'">
                            </mat-form-field>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="form.controls['tipo'].value === 'CC'">
                        <div class="md:flex">
                            <mat-form-field class="w-1/2 mr-2 fuse-mat-dense">
                                <mat-label>Primer apellido</mat-label>
                                <input matInput type="text" [formControlName]="'primerApellido'">
                                <mat-error *ngIf="campoRequerido('primerApellido')">
                                    Este campo es requerido
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="w-1/2 fuse-mat-dense">
                                <mat-label>Segundo apellido (opcional)</mat-label>
                                <input matInput type="text" [formControlName]="'segundoApellido'">
                            </mat-form-field>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="form.controls['tipo'].value === 'NIT'">
                        <div class="md:flex">
                            <mat-form-field class="w-full fuse-mat-dense">
                                <mat-label>Antigüedad de ser cliente (meses)</mat-label>
                                <input matInput type="number" [min]="'0'" [formControlName]="'antiguedad'">
                            </mat-form-field>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="form.controls['tipo'].value === 'NIT'">
                        <div class="md:flex">
                            <mat-form-field class="w-full fuse-mat-dense">
                                <mat-label>Departamento</mat-label>
                                <input matInput type="text" [formControlName]="'departamentoNombre'"
                                       (keydown)="openModalDirection()" (click)="openModalDirection()">
                            </mat-form-field>
                        </div>
                        <div class="md:flex">
                            <mat-form-field class="w-full fuse-mat-dense">
                                <mat-label>Cuidad / municipio</mat-label>
                                <input matInput type="text" [formControlName]="'ciudadNombre'"
                                       (keydown)="openModalDirection()" (click)="openModalDirection()">
                            </mat-form-field>
                        </div>
                        <div class="md:flex">
                            <mat-form-field class="w-full fuse-mat-dense">
                                <mat-label>Barrio</mat-label>
                                <input matInput type="text" [formControlName]="'nombreBarrio'"
                                       (keydown)="openModalDirection()" (click)="openModalDirection()">
                            </mat-form-field>
                        </div>
                        <div class="md:flex">
                            <mat-form-field class="w-full fuse-mat-dense">
                                <mat-label>Dirección</mat-label>
                                <input matInput type="text" [formControlName]="'direccion'"
                                       (keydown)="openModalDirection()" (click)="openModalDirection()">
                            </mat-form-field>
                        </div>
                    </ng-container>
                    <div class="md:flex">
                        <mat-form-field class="w-1/2 mr-2 fuse-mat-dense">
                            <mat-label>Celular</mat-label>
                            <input matInput type="text" [formControlName]="'celular'">
                            <mat-error *ngIf="soloNumero('celular')">
                                Este campo solo acepta números.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-1/2 fuse-mat-dense">
                            <mat-label>Teléfono (opcional)</mat-label>
                            <input matInput type="text" [formControlName]="'telefono'">
                            <mat-error *ngIf="soloNumero('telefono')">
                                Este campo solo acepta números.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="md:flex">
                        <ng-container *ngIf="estadoReferencia$ | async as items">
                            <mat-form-field class="w-full fuse-mat-dense">
                                <mat-label>Estado</mat-label>
                                <mat-select
                                    [value]="'seleccione'"
                                    [formControlName]="'estado'"
                                >
                                    <mat-option disabled [value]="'seleccione'">Seleccione</mat-option>
                                    <mat-option *ngFor="let item of items.data"
                                                [value]="item.codigoOpcion"
                                    >{{item.descripcionOpcion}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="campoRequerido('estado')">
                                    Este campo es requerido
                                </mat-error>
                            </mat-form-field>
                        </ng-container>
                    </div>
                </div>
            </form>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="flex flex-row items-center justify-end sm:justify-end w-full">
        <button mat-raised-button color="primary" type="button" >
            Guardar
        </button>
        <button mat-raised-button class="mr-2 bg-gray-400 text-white" type="button"
                (click)="onCerrar()"
        >
            Cerrar
        </button>
    </div>
</mat-dialog-actions>
