/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


@media screen AND (max-width: 600px) { 
    .mat-expansion-panel-header{
        padding: 0 !important;
    }

    .boldText{
        font-weight: 900px !important;
    }
}

.boldText{
    font-weight: 500px !important;
}