<div class="flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent mb-3">
    <div class="flex flex-col">
        <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-start border-b">
            <ng-container *ngIf="longitudArchivos">
                <mat-form-field class="w-2/5 mr-2 fuse-mat-dense">
                    <mat-select [formControl]="documentoComparado" (selectionChange)="onSeleccionadoComparar($event)">
                        <mat-option value="seleccione" disabled>Seleccione archivo a comparar</mat-option>
                        <ng-container *ngIf="documentoSelected?.tipoTercero === 'T'">
                            <ng-container *ngFor="let data of documentos">
                                <mat-option *ngIf="data.archivoCargado !== 'N' && data.selected !== true"
                                    [value]="data.idArchivoCargado">
                                    {{data.descripcion}}
                                </mat-option>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="documentoSelected?.tipoTercero === 'S'">
                            <ng-container *ngFor="let data of documentosDeudor">
                                <mat-option *ngIf="data.archivoCargado !== 'N' && data.selected !== true"
                                    [value]="data.idArchivoCargado">
                                    {{data.descripcion}}
                                </mat-option>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="documentoSelected?.tipoTercero === 'C'">
                            <ng-container *ngFor="let data of documentosCodeudor">
                                <mat-option *ngIf="data.archivoCargado !== 'N' && data.selected !== true"
                                    [value]="data.idArchivoCargado">
                                    {{data.descripcion}}
                                </mat-option>
                            </ng-container>
                        </ng-container>

                    </mat-select>
                </mat-form-field>
                <ng-container *ngIf="habilitarComparar">
                    <button mat-icon-button matTooltip="Comparar" class="-mt-4" (click)="onDialogComparar()">
                        <mat-icon [svgIcon]="'mat_outline:compare_arrows'"></mat-icon>
                    </button>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>
<div class="row">

    <mat-accordion class="my-5">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <strong class="text-xl">Documentación del titular</strong>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description class="overflow-scroll scrollbar-hide">
                <table class="p-0">
                    <thead class="bg-accent-50">
                        <tr class="text-md font-semibold tracking-wide text-left text-gray-400  border-b">
                            <th class="px-4 py-3"></th>
                            <th class="px-4 py-3">No. Doc</th>
                            <th class="px-4 py-3">Nombre del documento</th>
                            <th class="px-4 py-3">Usuario</th>
                            <th class="px-4 py-3">Requerido</th>
                            <th class="px-4 py-3">Cargado</th>
                            <th class="px-4 py-3" *ngIf="!permisoEditar">Acción</th>
                            <th class="px-4 py-4 text-center">Fecha de cargue</th>
                            <th class="px-4 py-3">Descargar</th>
                            <th class="px-4 py-3">Histórico</th>
                            <!--<ng-container *ngIf="longitudArchivos">
                        <th class="px-4 py-3">Comparar</th>
                    </ng-container>-->
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        <ng-container *ngFor="let item of documentos; let  i = index">
                            <tr>
                                <td class="px-2 text-sm border text-center">
                                    <mat-checkbox *ngIf="item.archivoCargado !== 'N'"
                                        [disabled]="!item.selected && longitudArchivos > 0" #checkbox
                                        (change)="onSeleccionDocumento(checkbox, item)"
                                        [(ngModel)]="item.selected"></mat-checkbox>
                                </td>
                                <td class="px-2 text-sm border text-center">{{ item.idArchivo}}</td>
                                <td class="px-2 text-sm border" [matTooltip]="item.descripcionTooltip">{{
                                    item.descripcion}}
                                </td>
                                <td class="px-2 text-sm border text-center">{{ item.usuarioCreacion}}</td>
                                <td class="px-2 text-sm border text-center">{{ item.requerido !== 'N'? 'Si' : 'No'}}
                                </td>
                                <td class="px-2 text-sm border text-center">{{ item.archivoCargado !== 'N'? 'Si' :
                                    'No'}}
                                </td>
                                <td class="px-2 text-sm border text-center" *ngIf="!permisoEditar">
                                    <ng-container *ngIf="item.archivoCargado === 'N'">
                                        <input type="file" #fileInput (change)="subirArchivo($event, item)"
                                            class="d-none" [accept]="'image/jpeg,image/png,application/pdf'">
                                        <button mat-icon-button matTooltip="Cargar documento"
                                            (click)="fileInput.click()">
                                            <mat-icon [svgIcon]="'mat_outline:file_upload'"></mat-icon>
                                        </button>
                                    </ng-container>
                                    <ng-container *ngIf="item.archivoCargado !== 'N'">
                                        <button mat-icon-button matTooltip="Eliminar documento"
                                            (click)="onEliminarDocumento(item)">
                                            <mat-icon [svgIcon]="'mat_outline:delete'"></mat-icon>
                                        </button>
                                    </ng-container>
                                </td>
                                <td class="px-2 text-sm border text-center">{{item.fechaCargue}}</td>
                                <td class="px-2 text-sm border text-center">
                                    <ng-container *ngIf="item.archivoCargado !== 'N'">
                                        <button mat-icon-button matTooltip="Descargar documento"
                                            (click)="onDescargar(item)">
                                            <mat-icon [svgIcon]="'mat_outline:download'"></mat-icon>
                                        </button>
                                    </ng-container>
                                </td>
                                <td class="px-2 text-sm border text-center">
                                    <ng-container *ngIf="item.historico !== 'N'">
                                        <button mat-icon-button matTooltip="Ver Versiones anteriores"
                                            (click)="onHistorico(item);settingsDrawer.toggle()">
                                            <mat-icon svgIcon="format_list_numbered"></mat-icon>
                                        </button>
                                    </ng-container>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </mat-panel-description>
        </mat-expansion-panel>


        <mat-expansion-panel *ngIf="tipoDeudor === '1' || tipoDeudor === '3'" >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <strong class="text-xl">Documentación del codeudor</strong>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description class="overflow-scroll scrollbar-hide">
                <table class="p-0">
                    <thead class="bg-accent-50">
                        <tr class="text-md font-semibold tracking-wide text-left text-gray-400  border-b">
                            <th class="px-4 py-3"></th>
                            <th class="px-4 py-3">No. Doc</th>
                            <th class="px-4 py-3">Nombre del documento</th>
                            <th class="px-4 py-3">Usuario</th>
                            <th class="px-4 py-3">Requerido</th>
                            <th class="px-4 py-3">Cargado</th>
                            <th class="px-4 py-3" *ngIf="!permisoEditar">Acción</th>
                            <th class="px-4 py-4 text-center">Fecha de cargue</th>
                            <th class="px-4 py-3">Descargar</th>
                            <th class="px-4 py-3">Histórico</th>
                            <!--<ng-container *ngIf="longitudArchivos">
                        <th class="px-4 py-3">Comparar</th>
                    </ng-container>-->
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        <ng-container *ngFor="let item of documentosCodeudor; let  i = index">
                            <tr>
                                <td class="px-2 text-sm border text-center">
                                    <mat-checkbox *ngIf="item.archivoCargado !== 'N'"
                                        [disabled]="!item.selected && longitudArchivos > 0" #checkbox
                                        (change)="onSeleccionDocumento(checkbox, item)"
                                        [(ngModel)]="item.selected"></mat-checkbox>
                                </td>
                                <td class="px-2 text-sm border text-center">{{ item.idArchivo}}</td>
                                <td class="px-2 text-sm border" [matTooltip]="item.descripcionTooltip">{{
                                    item.descripcion}}
                                </td>
                                <td class="px-2 text-sm border text-center">{{ item.usuarioCreacion}}</td>
                                <td class="px-2 text-sm border text-center">{{ item.requerido !== 'N'? 'Si' : 'No'}}
                                </td>
                                <td class="px-2 text-sm border text-center">{{ item.archivoCargado !== 'N'? 'Si' :
                                    'No'}}
                                </td>
                                <td class="px-2 text-sm border text-center" *ngIf="!permisoEditar">
                                    <ng-container *ngIf="item.archivoCargado === 'N'">
                                        <input type="file" #fileInput (change)="subirArchivo($event, item)"
                                            class="d-none" [accept]="'image/jpeg,image/png,application/pdf'">
                                        <button mat-icon-button matTooltip="Cargar documento"
                                            (click)="fileInput.click()">
                                            <mat-icon [svgIcon]="'mat_outline:file_upload'"></mat-icon>
                                        </button>
                                    </ng-container>
                                    <ng-container *ngIf="item.archivoCargado !== 'N'">
                                        <button mat-icon-button matTooltip="Eliminar documento"
                                            (click)="onEliminarDocumento(item)">
                                            <mat-icon [svgIcon]="'mat_outline:delete'"></mat-icon>
                                        </button>
                                    </ng-container>
                                </td>
                                <td class="px-2 text-sm border text-center">{{item.fechaCargue}}</td>
                                <td class="px-2 text-sm border text-center">
                                    <ng-container *ngIf="item.archivoCargado !== 'N'">
                                        <button mat-icon-button matTooltip="Descargar documento"
                                            (click)="onDescargar(item)">
                                            <mat-icon [svgIcon]="'mat_outline:download'"></mat-icon>
                                        </button>
                                    </ng-container>
                                </td>
                                <td class="px-2 text-sm border text-center">
                                    <ng-container *ngIf="item.historico !== 'N'">
                                        <button mat-icon-button matTooltip="Ver Versiones anteriores"
                                            (click)="onHistorico(item);settingsDrawer.toggle()">
                                            <mat-icon svgIcon="format_list_numbered"></mat-icon>
                                        </button>
                                    </ng-container>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </mat-panel-description>
        </mat-expansion-panel>

        <ng-container *ngIf="documentosDeudor.length>0  && tipoDeudor === '2' || tipoDeudor === '3'">
            <mat-expansion-panel >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <strong class="text-xl">Documentación del deudor solidario</strong>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description class="overflow-scroll scrollbar-hide">
                    <table class="p-0">
                        <thead class="bg-accent-50">
                            <tr class="text-md font-semibold tracking-wide text-left text-gray-400  border-b">
                                <th class="px-4 py-3"></th>
                                <th class="px-4 py-3">No. Doc</th>
                                <th class="px-4 py-3">Nombre del documento</th>
                                <th class="px-4 py-3">Usuario</th>
                                <th class="px-4 py-3">Requerido</th>
                                <th class="px-4 py-3">Cargado</th>
                                <th class="px-4 py-3" *ngIf="!permisoEditar">Acción</th>
                                <th class="px-4 py-4 text-center">Fecha de cargue</th>
                                <th class="px-4 py-3">Descargar</th>
                                <th class="px-4 py-3">Histórico</th>
                                <!--<ng-container *ngIf="longitudArchivos">
                            <th class="px-4 py-3">Comparar</th>
                        </ng-container>-->
                            </tr>
                        </thead>
                        <tbody class="bg-white">
                            <ng-container *ngFor="let item of documentosDeudor; let  i = index">
                                <tr>
                                    <td class="px-2 text-sm border text-center">
                                        <mat-checkbox *ngIf="item.archivoCargado !== 'N'"
                                            [disabled]="!item.selected && longitudArchivos > 0" #checkbox
                                            (change)="onSeleccionDocumento(checkbox, item)"
                                            [(ngModel)]="item.selected"></mat-checkbox>
                                    </td>
                                    <td class="px-2 text-sm border text-center">{{ item.idArchivo}}</td>
                                    <td class="px-2 text-sm border" [matTooltip]="item.descripcionTooltip">{{
                                        item.descripcion}}</td>
                                    <td class="px-2 text-sm border text-center">{{ item.usuarioCreacion}}</td>
                                    <td class="px-2 text-sm border text-center">{{ item.requerido !== 'N'? 'Si' : 'No'}}
                                    </td>
                                    <td class="px-2 text-sm border text-center">{{ item.archivoCargado !== 'N'? 'Si' :
                                        'No'}}
                                    </td>
                                    <td class="px-2 text-sm border text-center" *ngIf="!permisoEditar">
                                        <ng-container *ngIf="item.archivoCargado === 'N'">
                                            <input type="file" #fileInput (change)="subirArchivo($event, item)"
                                                class="d-none" [accept]="'image/jpeg,image/png,application/pdf'">
                                            <button mat-icon-button matTooltip="Cargar documento"
                                                (click)="fileInput.click()">
                                                <mat-icon [svgIcon]="'mat_outline:file_upload'"></mat-icon>
                                            </button>
                                        </ng-container>
                                        <ng-container *ngIf="item.archivoCargado !== 'N'">
                                            <button mat-icon-button matTooltip="Eliminar documento"
                                                (click)="onEliminarDocumento(item)">
                                                <mat-icon [svgIcon]="'mat_outline:delete'"></mat-icon>
                                            </button>
                                        </ng-container>
                                    </td>
                                    <td class="px-2 text-sm border text-center">{{item.fechaCargue}}</td>
                                    <td class="px-2 text-sm border text-center">
                                        <ng-container *ngIf="item.archivoCargado !== 'N'">
                                            <button mat-icon-button matTooltip="Descargar documento"
                                                (click)="onDescargar(item)">
                                                <mat-icon [svgIcon]="'mat_outline:download'"></mat-icon>
                                            </button>
                                        </ng-container>
                                    </td>
                                    <td class="px-2 text-sm border text-center">
                                        <ng-container *ngIf="item.historico !== 'N'">
                                            <button mat-icon-button matTooltip="Ver Versiones anteriores"
                                                (click)="onHistorico(item);settingsDrawer.toggle()">
                                                <mat-icon svgIcon="format_list_numbered"></mat-icon>
                                            </button>
                                        </ng-container>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </mat-panel-description>
            </mat-expansion-panel>

        </ng-container>

    </mat-accordion>
    <div class="sm:mt-13"></div>
</div>






<fuse-drawer class="w-100 min-w-100" fixed transparentOverlay [mode]="'over'" [name]="'settingsDrawer'"
    [position]="'right'" #settingsDrawer>

    <div class="flex flex-col w-full overflow-auto bg-card pt-20">
        <div cdkscrollable="" class="mat-drawer-inner-container ng-tns-c126-23">
            <router-outlet class="ng-tns-c126-23"></router-outlet>
            <!-- <file-manager-details class="ng-star-inserted" style=""> -->
            <div class="flex items-center justify-end">
                <button mat-icon-button="" (click)="settingsDrawer.close()"
                    class="mat-focus-indicator mat-icon-button mat-button-base" tabindex="0">
                    <span class="mat-button-wrapper">
                        <mat-icon role="img" class="mat-icon notranslate mat-icon-no-color" aria-hidden="true"
                            data-mat-icon-type="svg" data-mat-icon-name="x" data-mat-icon-namespace="heroicons_outline">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" fit="" height="100%" width="100%"
                                preserveAspectRatio="xMidYMid meet" focusable="false">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                        </mat-icon>
                    </span>
                    <span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></span>
                    <span class="mat-button-focus-overlay"></span>
                </button>
            </div>
            <ng-container *ngFor="let item of datosDocumentosHistorico; let  i = index">
                <div class="flex flex-col flex-auto p-6 md:p-6">

                    <div class="flex flex-col items-start mt-1">
                        <div class="text-xl font-medium">{{item.nombreCategoria}}</div>
                    </div>
                    <div class="aspect-w-9 aspect-h-6 mt-1">
                        <div class="flex items-center justify-center border rounded-lg bg-gray-50 dark:bg-card">
                            <!---->
                            <ng-container *ngIf="item.extension === 'pdf'">
                                <pdf-viewer [src]="item.base64" [render-text]="true" [original-size]="false"
                                    [show-all]="true" style="width: 98%; height: 98%">
                                </pdf-viewer>
                            </ng-container>
                            <ng-container
                                *ngIf="item.extension === 'jpeg' || item.extension === 'jpg' || item.extension === 'png'">
                                <img [src]="item.base64" alt="" style="width: 98%; height: 98%">
                            </ng-container>
                            <ng-container
                                *ngIf="item.extension !== 'pdf' && item.extension !== 'jpeg' && item.extension !== 'jpg' && item.extension !== 'png'">
                                <mat-icon role="img"
                                    class="mat-icon notranslate icon-size-14 text-hint mat-icon-no-color ng-star-inserted"
                                    aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="file"
                                    data-mat-icon-namespace="iconsmind"><svg width="100%" height="100%"
                                        viewBox="0 0 32 32" x="280" y="1624" fit="" preserveAspectRatio="xMidYMid meet"
                                        focusable="false">
                                        <path
                                            d="M27.733 32h-23.467c-0.294 0-0.533-0.24-0.533-0.533v-23.467c0-0.142 0.057-0.277 0.156-0.378l7.467-7.467c0.1-0.1 0.236-0.156 0.378-0.156h16c0.293 0 0.533 0.239 0.533 0.533v30.933c0 0.293-0.24 0.533-0.533 0.533zM4.8 30.933h22.4v-29.867h-15.246l-7.154 7.154v22.713z">
                                        </path>
                                        <path
                                            d="M11.733 8.533h-6.933c-0.294 0-0.533-0.239-0.533-0.533s0.239-0.533 0.533-0.533h6.4v-6.4c0-0.294 0.239-0.533 0.533-0.533s0.533 0.239 0.533 0.533v6.933c0 0.294-0.239 0.533-0.533 0.533z">
                                        </path>
                                    </svg>
                                </mat-icon>
                            </ng-container>
                        </div>
                    </div>
                    <div class="flex flex-col items-start mt-2">
                        <ng-container *ngIf="item.extension !== 'pdf'">
                            <div class="mt-1 px-1.5 rounded text-sm font-semibold leading-5 text-white bg-blue-600">
                                {{item.extension | uppercase}}
                            </div>
                        </ng-container>

                        <ng-container *ngIf="item.extension === 'pdf'">
                            <div class="mt-1 px-1.5 rounded text-sm font-semibold leading-5 text-white bg-red-600"> PDF
                            </div>
                        </ng-container>
                    </div>
                    <div class="text-lg font-medium mt-3">Detalle</div>
                    <div class="flex flex-col mt-3 border-t border-b divide-y font-medium">
                        <div class="flex items-center justify-between py-1">
                            <div class="text-secondary">Usuario creador</div>
                            <div>{{item.usuarioCreacion}}</div>
                        </div>
                        <div class="flex items-center justify-between py-1">
                            <div class="text-secondary">Fecha de creación</div>
                            <div>{{ cambiarFecha(item.fechaCreacion) }}</div>
                        </div>
                        <div class="flex items-center justify-between py-1">
                            <div class="text-secondary">Hora de creación</div>
                            <div>{{item.horaCreacion }}</div>
                        </div>
                        <div class="flex items-center justify-between py-1">
                            <div class="text-secondary">Usuario de actualización</div>
                            <div>{{item.usuarioActualizacion}}</div>
                        </div>
                        <div class="flex items-center justify-between py-1">
                            <div class="text-secondary">Fecha de anulación</div>
                            <div> {{ cambiarFecha(item.fechaActualizacion) }}</div>
                        </div>
                        <div class="flex items-center justify-between py-1">
                            <div class="text-secondary">Hora de anulación</div>
                            <div> {{ item.horaActualizacion}}</div>
                        </div>
                    </div>
                    <div class="grid grid-cols-2 gap-4 w-full mt-5">
                        <button mat-flat-button="" matTooltip="Descargar documento"
                            class="mat-focus-indicator flex-auto mat-flat-button mat-button-base mat-primary"
                            (click)="getDownloadHistorico(item)">
                            <span class="mat-button-wrapper"> Descargar </span>
                            <span matripple="" class="mat-ripple mat-button-ripple"></span>
                            <span class="mat-button-focus-overlay"></span>
                        </button>
                    </div>
                    <hr>
                </div>
            </ng-container>
            <!-- </file-manager-details> -->
            <!---->
        </div>
    </div>

</fuse-drawer>