<div class="mb-30 relative">
    <ng-container *ngFor="let item of datosGeneral;  index as i;">
        <div class="bg-card overflow-hidden p-6 pb-3 relative rounded-2xl shadow mb-3">
            <div class="absolute bottom-0 right-0 w-24 h-24 -m-6">
                <mat-icon class="icon-size-24 opacity-25 text-blue-600" [svgIcon]="'attach_money'">
                </mat-icon>
            </div>
            <div class="flex items-center">
                <div class="flex flex-col max-w-full">
                    <div class="text-lg font-bold tracking-tight leading-6 whitespace-normal">
                        {{item.codigoNegocio}} -
                        {{item.unidadNegocio}}
                    </div>
                    <div class=" font-bold text-md text-blue-600">
                        {{item.tipoCredito}}
                    </div>
                </div>
            </div>
            <div class="-mx-6 grid sm:grid-cols-4 grid-cols-1 sm:my-0 my-1">
                <div class="flex flex-col mx-3 my-2">
                    <div class="flex items-center">
                        <div
                            class="flex items-center justify-center w-14 h-14 rounded-r-3xl shadow-inner bg-blue-100 text-blue-800">
                            <mat-icon class="text-current" svgIcon="attach_money"></mat-icon>
                        </div>
                        <div class="flex-auto ml-4 leading-none">
                            <div class="text-md font-bold">Monto crédito</div>
                            <div class="text-md font-medium capitalize my-1">$ {{item.monto | number}}</div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col mx-3 my-2">
                    <div class="flex items-center">
                        <div
                            class="flex items-center justify-center w-14 h-14 rounded-3xl shadow-inner bg-blue-100 text-blue-800">
                            <mat-icon class="text-current" [svgIcon]="'calculate'"></mat-icon>
                        </div>
                        <div class="flex-auto ml-4 leading-none">
                            <div class="text-md font-bold">Tasa</div>
                            <div class="text-md font-medium capitalize my-1"> {{item.tasa}}%</div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col mx-3 my-2">
                    <div class="flex items-center">
                        <div
                            class="flex items-center justify-center w-14 h-14 rounded-3xl shadow-inner bg-blue-100 text-blue-800">
                            <mat-icon class="text-current" [svgIcon]="'event_available'"></mat-icon>
                        </div>
                        <div class="flex-auto ml-4 leading-none">
                            <div class="text-md font-bold">Fecha aprobación</div>
                            <div class="text-md font-medium capitalize my-1"> {{item.fechaAprobacion}}</div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col mx-3 my-2">
                    <div class="flex items-center">
                        <div
                            class="flex items-center justify-center w-14 h-14 rounded-3xl shadow-inner bg-blue-100 text-blue-800">
                            <mat-icon class="text-current" [svgIcon]="'info'"></mat-icon>
                        </div>
                        <div class="flex-auto ml-4 leading-none">
                            <div class="text-md font-bold">Estado negocio</div>
                            <div class="text-md font-medium capitalize my-1"> {{item.estadoNegocio}}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </ng-container>

    <div *ngIf="!datosGeneral.length" class="flex justify-center flex-col items-center mt-4">
        <img class="w-30" src="assets/images/animaciones/nodata.gif">
        <span>No hay registros</span>
    </div>
</div>