<h2 mat-dialog-title>Asignar solicitud</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Asignar a:</mat-label>
    <mat-select>
      <mat-option value="DMONTES">DMONTES</mat-option>
      <mat-option value="GSALAS">GSALAS</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" class="color_fintra text-white">Guardar</button>
  <button mat-button mat-dialog-close class="text-white bg-gray-500">Cancelar</button>
</mat-dialog-actions>