<div class="bg-white h-full h-screen overflow-auto px-3 py-2 rounded-lg shadow w-100 y-100">
    <div class="flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
        <div class="flex flex-col">
            <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-end py-6 px-6 md:px-8 border-b">
                <h3 class="mb-2 text-gray-900"> Agenda de completación</h3>
            </div>
        </div>
        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-end py-6 px-6 md:px-8 border-b h-full">

            <input class="border rounded p-2 bg-gray-100" style="font-size: 10px; margin-right: 1em;" type="text"
                   autocomplete="off" name="filtrarTablaHG"
                   placeholder="Filtrar...">

            <select name="tamanoTablaHG" id="tamanoTablaHG" class="border rounded  bg-gray-100"  style="font-size: 10px; color: #9aa8bc; padding: 7px;">
                <option value="5"> 5</option>
                <option value="10"> 10</option>
                <option value="20"> 20</option>
            </select>

        </div>
        <div class="w-full">
            <table class="shadow p-0">
                <thead style="background-color: #F9FAFB;">
                <tr
                    class="text-md font-semibold tracking-wide text-left text-gray-400  border-b">
                    <th class="px-4 py-3">Acciones</th>
                    <th class="px-4 py-3">N° de solicitud</th>
                    <th class="px-4 py-3">Nombres</th>
                    <th class="px-4 py-3">Identificación</th>
                    <th class="px-4 py-3">Fecha de solicitud</th>
                    <th class="px-4 py-3">Preaprobado</th>
                    <th class="px-4 py-3">Unidad de negocio</th>
                    <th class="px-4 py-3">Estado</th>
                    <th class="px-4 py-3">Subestado</th>
                </tr>
                </thead>
                <tbody class="bg-white">
                <ng-container *ngIf="agendaCompletacion$ | async as agendas">
                    <ng-container *ngFor="let item of agendas.data">
                        <tr class="text-gray-700" >
                            <td class="px-2 text-sm border">
                                <button>Ver</button>
                            </td>
                            <td class="px-2 text-sm border">{{ item.numero_solicitud}}</td>
                            <td class="px-2 text-sm border">{{ item.nombre_completo}}</td>
                            <td class="px-2 text-sm border">{{ item.identificacion}}</td>
                            <td class="px-2 text-sm border">{{ item.fecha_emision | date: 'dd/MM/YYYY hh:mm'}}</td>
                            <td class="px-2 text-sm border">{{ '' }}</td>
                            <td class="px-2 text-sm border">{{ '' }}</td>
                            <td class="px-2 text-sm border">{{ item.estado }}</td>
                            <td class="px-2 text-sm border">{{ item.sub_estado }}</td>
                        </tr>
                    </ng-container>
                </ng-container>
                </tbody>
            </table>
        </div>


    </div>
</div>

