<ng-container *ngIf="data.idComentario">
    <h2 mat-dialog-title>Detalle comentario</h2>
</ng-container>
<ng-container *ngIf="!data.idComentario">
    <h2 mat-dialog-title>Nuevo comentario</h2>
</ng-container>
<mat-dialog-content *ngIf="datoFabrica">
    <div class="grid-cols-12 ">
        <div class="col-span-12">
            <form [formGroup]="form">
                <div class="bg-white flex flex-col">
                    <div class="flex">
                        <mat-form-field class="w-full" appearance="fill" *ngIf="datoFabrica.agenda!='CM'&&datoFabrica.agenda!='GC'">
                            <mat-label>Tipo de comentario </mat-label>
                            <!-- lo mando el jefe lucho Tipo de visibilidad a tipo de comentario -->
                            <mat-select formControlName="tipoComentario" >
                                <mat-option value="{{listadoTipo[1].codigoOpcion}}">{{listadoTipo[1].descripcionOpcion}}
                                </mat-option>
                            </mat-select>
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'business_center'"></mat-icon>
                        </mat-form-field>
                    </div> 
                    <div class="md:flex">
                        <mat-form-field class="w-full fuse-mat-dense">
                            <mat-label>Texto</mat-label>
                            <textarea class="h-60" matInput [formControlName]="'comentario'" [readonly]="data.idComentario">
                            </textarea>
                            <mat-error *ngIf="requeridoComentario">Este campo es requerido.</mat-error>
                            <mat-error *ngIf="minimoComentario">Se requiere mínimo 10 caracteres.</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="flex flex-row items-center justify-end sm:justify-end w-full">
        <ng-container *ngIf="!data.idComentario">
            <button mat-raised-button color="primary" type="button" (click)="onGuardar()" [disabled]="form.invalid">
                Guardar
            </button>
        </ng-container>
        <button mat-raised-button class="mr-2 bg-gray-400 text-white" type="button" (click)="onCerrar()">
            Cerrar
        </button>
    </div>
</mat-dialog-actions>