.buttonSettings {
    left: 410px !important;
    top: 6px !important;

}

@media screen and (max-width:600px) {
    .buttonSettings {
        left: 20px !important;
        top: 8px !important;
    }

}

// @media screen and (max-width:360px) {
//     .buttonSettings {
//         left: 20px !important;
//         top: 45px !important;
//     }

// }


// .cdk-overlay-pane {
//     width: 200px !important;
//     max-width: 200px !important;
// }