.buttonSettings {
    left: 410px !important;
    top: 18px !important;

}

@media screen and (max-width:600px) {
    .buttonSettings {
        left: 20px !important;
        top: 8px !important;
    }

}

// .cdk-overlay-pane {
//     width: 200px !important;
//     max-width: 200px !important;
// }